[2017-12-21 13:56] PvanHengel opened #2447 "atJS arrows selection"
##### Expected behavior.
When using the atJS plugin via mobile device, with a keyboard attached, the user should be able to use the up and down arrows to change the selected element.

##### Actual behavior.
When using the atJS plugin via mobile device, with a keyboard attached, the arrow keys move the cursor up and down in the editor, the selected element does not change.

##### Steps to reproduce

[2017-12-21 15:36] dianaprajescu commented on #2104
@delian7 I apologize for not having an answer for you for such a long time. We've tried multiple times to find a fix for this, but the truth is that version 2 of the editor was not designed to work with `em`. We will make sure this is not going to happen in V3.

Until then, there is a workaround, but it comes with a compromise. We cannot fix this issue and also keep the correct order for issue #20

[2017-12-21 16:48] stefanneculai commented on #1346
@javeriaanwer please see: https://www.froala.com/wysiwyg-editor/docs/options#iframeStyle.

[2017-12-21 16:49] stefanneculai commented on #2442
@largeden it would be amazing if you could do that. We don't accept PR directly here, however, if you make one we could use that code and commit it with you as author.

[2017-12-21 16:49] #2442 closed

[2017-12-22 10:47] largeden commented on #2322
@igiz0l @stefanneculai

hello.
I have found the cause of the align problem.
[code]
The fourth value is wrap processing of `.fr-inner`
For the caption, the fourth value should be false to avoid the problem.
Exception handling of the `_wrap()` is required.
[code]

[2017-12-22 19:27] Apee commented on #2427
Any development on that issue ?

[2017-12-23 06:13] Smashr opened #2448 "using data-attribute selectors in 'htmlAllowedEmptyTags' causes syntax error in Edge"
Hey guys,

The following will cause an unexpected "Syntax Error" in Edge on init. Works as expected in Chrome.

Edge Console:   SCRIPT5022: SyntaxError

Tested with options:
htmlAllowedEmptyTags: ['textarea', 'a', 'iframe', 'object', 'video', 'style', 'script', '.fa', '*[data-delay]'', 'path', 'span', 'i', 'canvas', 'div' ]

The error is caused only when using attribute selectors in the list. Clas

[2017-12-23 06:35] Smashr opened #2449 "Many Popups and table highlighting etc. do not respect contenteditable=false"
##### Expected behavior.

1. Pop up toolbars should not appear on Videos etc when the said element is in a contenteditable=false container.

2. Highlighting of table cells etc should not occur when the table element is in a contenteditable=false container.

This has not been tested with all available Pop up toolbars and highlighting, but video pop up toolbars do appear when the video is in a conte

[2017-12-23 12:24] pdehne opened #2450 "Electron integration, images"
I try to integrate froala into an electron app. It works fine except for images with relative urls, which are (naturally) not requested from the correct server. The froala editor is hosted in a html page that is loaded from the filesystem after all.

Is it possible to tell froala where to download images from?

E.g. the currently edited source contains:
`<img src="/images/image.png">`

and froala

[2017-12-24 13:34] stefanneculai commented on #2444
@inssein thank you for your feedback on this. Maybe the docs are not clear enough. The ENTER_P option is indeed converting new lines into paragraphs by default.

[2017-12-24 13:34] #2444 closed

[2017-12-24 18:26] huyph commented on #2271
@stefanneculai : any idea when support for photoeditorsdk will be worked on?. Currently I can not register for adobe creative SDK. It looks like it is no close the door for new comers.

[2017-12-24 19:51] inssein commented on #2444
@stefanneculai what you said directly contradicts what I wrote.

It is not converting new lines, it seems to only convert old lines.

[2017-12-25 07:11] ashwini0529 opened #2451 "Pasting text with superscript/subscript from Google Docs removes formatting"
##### Expected behavior.
- Go to Google Docs
- Copy text that contains superscript/subscript
- Paste in editor
- Should look as it is

##### Actual behavior.
Loses formatting

##### Steps to reproduce the problem.
- Go to Google Docs
- Copy text that contains superscript/subscript
- Paste in editor
- Loses formatting

##### OS.
Mac OSX

##### Browser.
Chrome Version 63.0.3239.84 (Official Build) (

[2017-12-26 05:57] suryaiiit opened #2452 "fontSizeDefaultSelection not working"
I'm trying to set the default Font Size to 30 as given here - https://www.froala.com/wysiwyg-editor/docs/options#fontSizeDefaultSelection

It shows fine, but when I place my cursor and start typing it is going back to 16 font Size, please check.

Here is the codepen - https://codepen.io/suryaiiit/pen/aEpzyN

Thanks

[2017-12-27 07:38] javeriaanwer opened #2453 "Completely initialize froala editor on load"
Hi,

I want to completely initialize froala editor on page load, how can I achieve this?

[2017-12-27 16:42] stefanneculai commented on #2444
@inssein it does both actually. converts the old lines and the new lines as well.

[2017-12-27 17:16] stefanneculai commented on #2271
@huyph we're looking to add it at during January. We're also taking into consideration adding an in-house solution for this as well.

[2017-12-27 17:18] stefanneculai commented on #2446
https://www.froala.com/wysiwyg-editor/docs/options#htmlAllowedAttrs
https://www.froala.com/wysiwyg-editor/docs/options#htmlAllowedStyleProps
https://www.froala.com/wysiwyg-editor/docs/options#htmlAllowedTags
https://www.froala.com/wysiwyg-editor/docs/options#pasteAllowedStyleProps
https://www.froala.com/wysiwyg-editor/docs/options#pasteDeniedAttrs
https://www.froala.com/wysiwyg-editor/docs/options

[2017-12-27 17:18] #2446 closed

[2017-12-27 17:19] stefanneculai commented on #2448
@Smashr are you getting the same error if you use only `[data-delay]` instead of `*[data-delay]`?

[2017-12-27 17:21] stefanneculai commented on #2452
@suryaiiit that option is referring to what is displayed by default when there is no selection in the editor. For what you're trying to achieve, please see: https://wysiwyg-editor.froala.help/hc/en-us/articles/115000817105-How-can-I-set-a-default-font-style-.

[2017-12-27 17:21] #2452 closed

[2017-12-27 17:24] stefanneculai commented on #2453
By default, the editor is initialized on page load.

[2017-12-27 17:24] #2453 closed

[2017-12-27 17:25] stefanneculai commented on #2450
@pdehne it is best to use absolute paths in this case.

[2017-12-27 17:25] #2450 closed

[2017-12-27 17:27] stefanneculai commented on #2447
@PvanHengel I marked this as a `wontfix` for now. It looks At.JS made lots of changes recently which are no longer compatible with the way the editor is designed and we're looking forward to adding a built-in solution for the editor.

[2017-12-27 17:27] #2447 closed

[2017-12-28 11:54] Smashr commented on #2448
Yes, only in Edge though.

We are probably going to circumvent this by adding a class to the containerbefore initing Froala and then specifying that class in the htmlAllowedEmptyTags, in case this issue is not resolved.

Cheers and happy holidays ! :)

[2017-12-28 12:22] inquam commented on #2271
@stefanneculai If you make your own solution I'd love if you open sourced it. It would probably help a lot of people in this position due to Adobe's crap move.

[2017-12-29 04:10] javeriaanwer commented on #1099
Hi,

I am still waiting for your response.

[2017-12-30 16:19] PvanHengel commented on #2447
What is the eta for the new solution?  We use this a lot

[2017-12-31 10:58] trstaley commented on #1074
I have to agree with royshoa.  This is a styling issue that our clients are requesting.

[2018-01-02 11:51] theknet opened #2454 "Formatting should apply to a word when selection is collapsed inside a word"
##### Expected behavior.
Moving the caret anywhere within a word (without actually highlighting), and applying formatting (bold, underline), should expand the selection and apply the formatting to the whole word. (Similar behavior is part of Pages/Word etc).

##### Actual behavior.
Currently the button for bold highlights but nothing is actually changed visually, I suspect an empty <b> element is

[2018-01-02 15:38] achambers commented on #2439
@stefanneculai Happy New Year. Any further thoughts or comments on this? It really feels like this is something that should be reopened.

[2018-01-03 05:18] ShanmugaPriyanV opened #2455 "Word paste plugin inserts unnecessary characters in Editor while copying from MS Word in Production package"
Tried to copy paste some paragraphs from MS Word to Editor (2.7.2). The copy paste worked  in development package in application server and also in local deployment .

However, when generated a production package (Pprod), deployed in application server and copy pasted the same content from the MS Word to Editor, the editor in-turn introduced some unsupported characters in place of spaces after eac

[2018-01-03 11:00] suryaiiit commented on #2452
But that would set all the previously written Froala documents also to this Font Size. I want to do this only for the newly created documents. Also what is the purpose of fontSizeDefaultSelection if it doesn't set the text/document font size?

[2018-01-03 13:20] delian7 commented on #2104
hi @dianaprajescu, thanks for the reply and happy new year!

ahh, issue #2081. That was unfortunately something that our customers were complaining about. and were seeing quite frequently. Perhaps we can get a hacky workaround for when Froala wrap the selection in a DOM element, to unwrap it first. I'm not a fan of this too much though because of the hackiness.

Without ripping out the fix for #20

[2018-01-03 13:20] theknet opened #2456 "linkEditButtons results in empty edit link toolbar"
##### Expected behavior.
Customizing the `linkEditButtons` property should update the toolbar that appears when focusing on a link. If an empty array is set the toolbar should remain invisible.

##### Actual behavior.
Setting anything in `linkEditButton` results in an empty toolbar with an array above.

##### Steps to reproduce the problem.
Create a Froala instance with a linkEditButtons property

[2018-01-03 14:17] mthomasson commented on #2212
Hi there!
I am encountering the same issue on every Linux browsers...
Do you have any idea if it is planned to be tackled? And maybe when?

[2018-01-03 20:53] marissahart opened #2457 "Pasting images/text from word inserts incorrect images when performing a subsequent paste task"
##### Expected behavior.
I see the second set of images I pasted and not a copy of the first set of images. We believe that this bug was introduced in version 2.7.2 as it seemed ok in 2.7.1 when we swapped versions locally.

##### Actual behavior.
I see a duplicate copy of the first images I pasted when I paste the second time with the new images.

##### Steps to reproduce the problem.
- Create/op

[2018-01-04 09:40] javeriaanwer opened #2458 "Image change alignment on clicking Image Caption Option."
Hi,

I am facing this issue, image changes its alignment automatically when I select Caption option on it. below is froala code:

[code]
Issue is shown in attached video.
[ImageWCaption.zip](https://github.com/froala/wysiwyg-editor/files/1602937/ImageWCaption.zip)

[2018-01-04 09:46] javeriaanwer opened #2459 "Cant Edit Caption after deleting text Completely"
hi,

I am not able to edit caption after removing text completely. please see attached video.

here is the forala code:

[code]

[CantEditCaptionAfterDelete.zip](https://github.com/froala/wysiwyg-editor/files/1602947/CantEditCaptionAfterDelete.zip)

[2018-01-04 09:53] javeriaanwer commented on #2458
It is only occurring when i am using option useClasses : false.

[2018-01-04 11:37] poohitan commented on #2016
@firstladymb can you please elaborate on your workaround for this issue?

[2018-01-05 06:46] jackley commented on #2264
@stefanneculai I just tried 2.7.4 with imageUpload false and it is still posting to i.froala and attempting to upload.

![image](https://user-images.githubusercontent.com/2819040/34598311-ee414ae6-f1b9-11e7-9ede-cb4cf404635e.png)

![image](https://user-images.githubusercontent.com/2819040/34598324-039beeaa-f1ba-11e7-8bdd-bdfcbacadcf9.png)

![image](https://user-images.githubusercontent.com/2819040

[2018-01-05 07:19] chamnap commented on #1445
@dungphanxuan How do you fix it?

[2018-01-05 07:41] javeriaanwer opened #2460 "update contents in Help Window"
Hi,

I want to update contents in Help Window. How can I achieve this?

Regards,

[2018-01-05 10:36] jwhitmarsh commented on #1738
Hi @stefanneculai - apologies for commenting on a closed issue, but I'd just be duplicating this in a new one.

Is there any way around this at all? Or is there a way of differentiating between user inputted ENTER's and pasteCleanup ENTER's? Because at least if there was we could strip them out in post processing.

At the moment the pasteCleanup ENTER's are causing problems because they resolve to

[2018-01-05 13:52] tschoppi opened #2461 "Is there a recommendation for which font to use for special characters?"
##### Expected behavior.
There exists a recommendation of one font which covers all of the special characters offered through Froala WYSIWYG.

##### Actual behavior.
A combination of Noto Sans, Droid Sans, DejaVu Sans, and Liberation Sans is used to get all special characters to render.

##### Steps to reproduce the problem.
Open the special characters dialog window and check the fonts with the br

[2018-01-05 14:14] Urchinstripe opened #2462 "Image pasting error in FireFox"
Hey guys! when you paste image in firefox, icon is being pasted instead of the image.

##### Expected behavior.
In Chrome - http://recordit.co/Cjic83afgC

##### Actual behavior.
http://recordit.co/qReFBedoCa

##### OS.
macOS high Sierra

##### Browser.
Firefox 57.0.3

[2018-01-05 15:26] stefanneculai commented on #2455
@ShanmugaPriyanV are you able to reproduce this on our website, or at least send us a link to a page where we can reproduce it?

[2018-01-05 15:49] stefanneculai commented on #2460
The best way of doing that would be by changing the help.js plugin.

[2018-01-05 15:49] #2460 closed

[2018-01-05 15:51] stefanneculai commented on #2462
Unfortunately, because of the way we get data in the clipboard, pasting images when copied from the Finder is not possible in Firefox.

[2018-01-05 15:51] #2462 closed

[2018-01-05 15:52] stefanneculai commented on #2461
@tschoppi the fonts used there are the default fonts available on MacOS system.

[2018-01-05 15:52] #2461 closed

[2018-01-05 15:53] stefanneculai commented on #2459
@javeriaanwer are you able to reproduce this on our website as well? What browser and OS are you using?

[2018-01-05 15:55] stefanneculai commented on #2454
@theknet thanks for the `feature-request`.

[2018-01-05 15:55] #2454 closed

[2018-01-05 15:56] stefanneculai commented on #2458
@javeriaanwer could you please check you're using the latest version 2.7.3?

[2018-01-05 18:06] RickyRoller opened #2463 "Quick Insert is on by default and i can't turn it off"
##### Expected behavior.
In the docs it says quick insert has to be enabled by using `pluginsEnabled: ['quickInsert']`

##### Actual behavior.
Quick insert is enabled by default and even when I use `pluginsEnabled: null` it still shows up

##### Steps to reproduce the problem.
npm installed `froala-editor` and `angular-froala-wysiwyg` and when using the froala element, quick insert is enabled with

[2018-01-05 18:21] pijulius opened #2464 "Froala not displaying icons in Edge if opened within iframe and iframe:true is on"
This is more like Edge problem I imagine so case has been created for them too:
https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/15341848/

But wanted to bring it to your attention too maybe it's something you could figure out with a workaround on Froala's end?

Here is the link to test the problem under Edge:
http://pijulius.com/julius/edge-iframe-fonts-not-loading/

Happens w

[2018-01-05 20:22] olivierognn commented on #1074
Same problem, I Can't add a custom style to tables generated

[2018-01-06 09:28] poohitan opened #2465 "Editor instance gets destroyed with no matter"
##### Expected behavior.
The editor remains working.

##### Actual behavior.
Editor destroys itself with no matter.

##### Steps to reproduce the problem.
It's hard to provide you specific steps-to-reproduce, seems like it happens at random moments while editing the content.
This issue happens even with default editor settings.
Another point is that I was not able to reproduce this on localhost, o

[2018-01-06 19:18] GlobeFuntion commented on #1100
I'm use project Angular 2 and project Express JS. But I when I change options like this:
public options: Object = {
imageUploadURL: 'http://localhost:5000/post/image'
}
and my server side I have function from call POST/IMAGE:
saveImage: function (req, res) {
console.log('=======>>>>>')
FroalaEditor.Image.upload(req, '/uploads/', function (err, data) {
// Return data.
if (err) {
return res.send(JSO

[2018-01-06 21:18] FrizzaUK commented on #1100
When you say you can't load the image, do you mean the image manager, here is an example config (client side):
[code]

There is a separate route for the image manager which displays the thumbnails of previous uploaded files.

We return a json object with a link property to the location of the saved file:
`res.status(200).send({
			'link':  req.file.location
		});`

[2018-01-07 08:01] jackley opened #2466 "Image always uploads to froala"
##### Expected behavior.
Image does not upload to froala

##### Actual behavior.
Image uploads to froala even with imageupload disabled

##### Steps to reproduce the problem.
@stefanneculai I just tried 2.7.4 with imageUpload false and it is still posting to i.froala and attempting to upload.

![image](https://user-images.githubusercontent.com/2819040/34598311-ee414ae6-f1b9-11e7-9ede-cb4cf404635e.

[2018-01-07 12:46] largeden opened #2467 "The cursor disappears when a file is dropped in Firefox."
![drop_cursor](https://user-images.githubusercontent.com/5575931/34649489-b618326a-f3f3-11e7-92aa-e8600ef1fc51.gif)

##### Expected behavior.
If you perform file upload by drag & drop, the cursor disappears.

##### Actual behavior.
The cursor should not disappear no matter how you upload the file.

##### OS.
Mac High Sierra
##### Browser.
Firefox
##### Froala Editor
Latest commit version

##### so

[2018-01-07 20:44] mostafaznv commented on #2465
I faced with this error too

[2018-01-08 06:34] Chandrika-Desai opened #2468 "Converting selected text to h1 tag converts whole paragraph to h1"
##### Expected behavior.
Only selected text should move to separate line and add h1 tag

##### Actual behavior.
In a paragraph, if i select a sentence to convert to h1 or h2, whole paragraph is converting to h1.

##### Steps to reproduce the problem.
1.Add a paragraph with 4 to 5 sentences.
2. Select any one sentence and try to convert it to h1 tag.
3. Instead of converting the selected sentence,

[2018-01-08 06:48] javeriaanwer commented on #2458
no, its 2.7.2

[2018-01-08 06:56] javeriaanwer commented on #2459
I am not able to reproduce it on your website.

Google Chrome: Version 63.0.3239.84 (Official Build) (64-bit)
OS: Windows 10 Enterprise.

[2018-01-08 08:16] javeriaanwer opened #2469 "Change font family / size of selected row"
Hi ,

I want to change font family and size of selected row but there is no option available in table options and main toolbar is also disabled. how can I achieve this?

Regards,

[2018-01-08 09:16] jemunk commented on #2420
How come aren't we getting any respond to this error?

[2018-01-08 09:25] zgorbe opened #2470 "Input fields do not work in modals"
##### Expected behavior.
Modals should allow using text input fields

##### Actual behavior.
Keydown events in input fields and textarea fields are not properly handled inside a modal dialog. Please review the keydown event handler in the $.FE.MODULES.modals module. In that keydown event handler the "event.target" should be checked in the "elseif" condition. Please check the difference between e.c

[2018-01-08 11:48] kaniansky commented on #2394
it seems to be fixed... either by using the newest version of an editor or maybe by doing some changes on our side... text is copied with new lines

but spaces (tabs also) at the beginnings of each line are not kept when copying multiple lines to Froala editor (v. 2.7.3) from elsewhere.

[2018-01-08 12:14] tschoppi commented on #2461
![If you want something done right, do it yourself.](http://s2.quickmeme.com/img/4c/4c92aea5a041156e7480456cbd8911f4935a7132f1308bbe2adcd0a93a0fb592.jpg)

I arrived at the conclusion that [DejaVu Sans](https://dejavu-fonts.github.io/) offers the highest coverage, barring two glyphs only; The currency symbols "LIVRE TOURNOIS" and "SPESMILO".

I will remove those via the [specialCharactersSets](http

[2018-01-08 15:28] dianaprajescu commented on #2451
@ashwini0529 Google Docs uses inline style for superscript/subscript formatted text. By default, the editor does not keep the `style` attribute on paste. You can change this behavior using the `pasteDeniedAttrs` option: https://www.froala.com/wysiwyg-editor/docs/options#pasteDeniedAttrs.

[2018-01-08 15:28] #2451 closed

[2018-01-08 16:03] dianaprajescu commented on #2451
@ashwini0529 Please make sure that you are using the latest editor version from GitHub, when trying `pasteDeniedAttrs` option.

[2018-01-08 16:23] stefanneculai commented on #2349
@javeriaanwer the Advanced Image editor is an integration for Adobe Aviary. For the advanced image processing, yes, it is required to hit the Adobe servers.

[2018-01-08 16:25] stefanneculai commented on #2327
@largeden thanks for the suggestion. We're going to check it in the upcoming days.

[2018-01-08 16:29] stefanneculai commented on #2322
@largeden thanks for the suggestions both here and by email. We're going to review them shortly and make some changes to the alignment of the caption.

[2018-01-08 16:32] stefanneculai commented on #2427
@Apee we're working on finding a workaround for it, however, we cannot provide an ETA for it yet.

[2018-01-08 16:39] dianaprajescu commented on #2463
The value for the `pluginsEnabled` option has to be an array with the plugins you want to include, where `[]` means no plugins and `['image', 'link']` means only the image and link plugins.

The default value for the `pluginsEnabled` option is `null`. This means that there is no value specified for the option and when a plugin's JS file is included (e.g. `quick_insert.min.js`), the plugin is autom

[2018-01-08 16:39] #2463 closed

[2018-01-08 16:39] stefanneculai commented on #2447
@PvanHengel unfortunately, at this moment we don't have an ETA for it.

[2018-01-08 16:49] stefanneculai commented on #2452
I marked this as a `feature-request` so that we can add an option later on for specifiyng the default style.

[2018-01-08 17:13] stefanneculai commented on #2104
@delian7 unfortunately, without making changes to #2081 it wouldn't be possible to address this. The inline styles weren't designed with EM in mind and that's why it's not possible to extend the functionality, but it should be made from scratch.

[2018-01-08 17:13] stefanneculai commented on #2212
@mthomasson yes, we're going to fix it. Unfortunately, we don't have an ETA for it at this moment.

[2018-01-08 17:14] stefanneculai commented on #2457
@marissahart would it be possible to send us a doc you're pasting from?

[2018-01-08 17:23] dianaprajescu commented on #2465
This happens because you are using the editor incorrectly. Please reach us through our <a href="https://www.froala.com/wysiwyg-editor/contact">contact page</a>, specifying the options you pass during initialization, to help you out with this.

[2018-01-08 17:23] #2465 closed

[2018-01-08 17:26] stefanneculai commented on #2264
@bcanseco @jackley please turn off https://www.froala.com/wysiwyg-editor/docs/options#imageUploadRemoteUrls.

[2018-01-08 17:27] stefanneculai commented on #1445
@chamnap we would recommend using CSS to hide stuff related to the toolbar.

[2018-01-08 17:32] stefanneculai commented on #1074
@royshoa @trstaley @olivierognn if you need custom table styles please follow the approach described here: https://www.froala.com/wysiwyg-editor/examples/table-styles.

[2018-01-08 17:33] stefanneculai commented on #2466
@jackley are you still seeing this if you turn off https://www.froala.com/wysiwyg-editor/docs/options#imageUploadRemoteUrls?

[2018-01-08 17:35] stefanneculai commented on #2468
@Chandrika-Desai the paragraph dropdown is designed to change the entire paragraph to h1/h2, not only the selected text. If you would like to change it as per your request, we would recommend using the format.apply method.

[2018-01-08 17:35] #2468 closed

[2018-01-08 17:35] stefanneculai commented on #2458
@javeriaanwer please use the latest 2.7.3 where this shouldn't happen. If you still have the problem with the latest version just let us know.

[2018-01-08 17:35] #2458 closed

[2018-01-08 17:36] stefanneculai commented on #2459
@javeriaanwer could you please send us a link to a page where we can reproduce it? Thank you.

[2018-01-08 17:37] stefanneculai commented on #2469
@javeriaanwer at this moment we don't have a feature for doing this. It is already on our TODO list and it should land in the editor in the following months.

[2018-01-08 17:37] #2469 closed

[2018-01-08 17:37] stefanneculai commented on #2420
@topherdavis @jemunk could you please let us know where you're pasting from? Thank you.

[2018-01-08 17:40] stefanneculai commented on #2470
@zgorbe the modals weren't designed initially to be extended. We have more and more requests for doing this and we're working on allowing to use any content inside the modal. An update should come for this shortly.

[2018-01-08 17:40] #2470 closed

[2018-01-08 17:40] stefanneculai commented on #2394
@kaniansky would it be possible to send us a link from the page where you're pasting from?

[2018-01-08 17:45] stefanneculai commented on #2461
@tschoppi on our website we're using `Arial, Helvetica, sans-serif;` and it shows all the characters. When it comes to custom fonts you might be a little limited on what characters can be used. Thanks for sharing your tests which show `DejaVu Sans` as a winner for those who don't want to use the default `Arial, Helvetica` font.

[2018-01-08 18:25] marissahart commented on #2457
[Brochure Title.docx](https://github.com/froala/wysiwyg-editor/files/1612589/Brochure.Title.docx)

[2018-01-08 21:30] poohitan commented on #2465
Sorry, but I've mentioned, that I use the default settings... Few people already faced this issue, it means that more people can face it in the future, so why don't you want to solve this issue publicly, to make it possible for others to find this thread and solve the issue too...
And why did you edit my post and delete a comment from another person?..

[2018-01-08 22:53] beyondcreed commented on #2416
Hi Stefan, any updates on this? We are about to either write Polymer binding or look into alternative editor.

[2018-01-08 23:08] delian7 commented on #2104
hi @stefanneculai i understand.

[2018-01-09 04:45] FinesseRus opened #2471 "Image caption with `imageResizeWithPercent: true` resize bug"
##### Expected behavior.
When a caption is added to the image, the image size stays the same and the image is resized when a corner is dragged.

##### Actual behavior.
When a caption is added to the image, the image size decreases and the image is not resized normally when a corder is dragged.

##### Steps to reproduce the problem.
1. Create an editor instance with the option `imageResizeWithPerce

[2018-01-09 05:28] javeriaanwer commented on #2459
hi, please check here: https://codepen.io/Javeria_Anwer/pen/XVZWMQ.

remove image caption text through back space.

[2018-01-09 06:06] javeriaanwer opened #2472 "Insert Link Alignment with Break Text"
Hi,

Insert link container alignment changes when break text Display is selected.

1. Insert Image
2. Select display Break Text
3. click alignment left or middle
4. click insert Link

video is attached, you can also check from here: https://codepen.io/Javeria_Anwer/pen/ppaomB.

[InsertLinkAlignment.zip](https://github.com/froala/wysiwyg-editor/files/1614037/InsertLinkAlignment.zip)

[2018-01-09 06:33] javeriaanwer opened #2473 "alignment is only applied to text but not list"
list with numbers or symbol should move with text on alignment change.

please check attached video.

[AlignmentonList.zip](https://github.com/froala/wysiwyg-editor/files/1614111/AlignmentonList.zip)

[2018-01-09 06:57] javeriaanwer opened #2474 "Indentation Behavior"
1. write some text on froala window
2. apply indentation till last character of word reaches to end of window
3. apply indentation again.

you will notice that last char is disappeared from window and no horizontal scrollbar is shown.

please see attach video. You can also check it from here:
https://codepen.io/Javeria_Anwer/pen/VyQYGx

[IndentationBehavior.zip](https://github.com/froala/wysiwyg-e

[2018-01-09 06:57] javeriaanwer commented on #2474
$('#editor').froalaEditor({
      height:300,
      iframe:true});

[2018-01-09 07:28] javeriaanwer opened #2475 "set default font size and family"
hi,

I am trying to set default font size and family on froala editor, I set default selection but when I click on smart editor it changes its font size to 16 and font family to Times new Roman, how can I change it to selected style.

please see below: https://codepen.io/Javeria_Anwer/pen/ypvNVM?editors=0010

click on smart editor, you can see its size and family changed to other.

[2018-01-09 07:48] docikaci opened #2476 "After copying more than one space"
##### Expected behavior.
(Describe expected behaviour here)
Can not automatically add spaces
##### Actual behavior.
(Describe actual behaviour here)
automatically add spaces
##### Steps to reproduce the problem.
(Describe the steps to reproduce the problem here)
copy  something  to  editor
##### OS.
(OS name and version here)
windows10
##### Browser.
(Browser name an version here)
chrome  63.0.323

[2018-01-09 08:10] stefanneculai commented on #2416
Unfortunately, we cannot provide an ETA for it yet.

[2018-01-09 08:18] stefanneculai commented on #2473
We're not going to add it by default. However, if you would like to achieve this, please add the following:

[code]

[2018-01-09 08:18] #2473 closed

[2018-01-09 08:21] stefanneculai commented on #2475
See https://wysiwyg-editor.froala.help/hc/en-us/articles/115000817105-How-can-I-set-a-default-font-style-.

[2018-01-09 08:21] #2475 closed

[2018-01-09 08:22] stefanneculai commented on #2476
@docikaci could you please let us know where you're copying from?

[2018-01-09 08:23] docikaci commented on #2476
@stefanneculai     other editor

example：
https://xiumi.us/studio/v5#/paper/for/new

[2018-01-09 08:25] docikaci commented on #2476
![image](https://user-images.githubusercontent.com/7788102/34711238-a1e67448-f559-11e7-828a-e4b922c2aa33.png)

[2018-01-09 08:27] docikaci commented on #2476
![image](https://user-images.githubusercontent.com/7788102/34711306-e1866f86-f559-11e7-97b2-d0bf77eb8f9a.png)
**These spaces lead to my style mess**

[2018-01-09 09:20] docikaci commented on #2476
@stefanneculai    Can you help me?

[2018-01-09 10:51] jemunk commented on #2420
@stefanneculai  I was really hoping that by pointing out the code line that fails, you would be able to locate that in your source.
So far we haven't got any reports from users having problem pasting, so I am unaware if the error affects the user. But our automatic error reporting from the clients has so far recorded 46 occurrences over the last 7 days.

[2018-01-09 11:12] kaniansky commented on #2394
I am pasting from NetBeans IDE 8.2 but it happens with every text where line starts with a whitespace, it gets trimmed, you can try copying this text to froala:
[code]

[2018-01-09 11:22] #2327 closed

[2018-01-09 11:28] #2421 closed

[2018-01-09 13:31] theknet commented on #2456
I would propose that this is a bug. The feature is supported but even if I only want to show the remove link button, if I update the linkEditButtons as supported, I see no toolbar, only the arrow pointing to the content.

[2018-01-09 15:30] #2428 closed

[2018-01-09 15:31] #2438 closed

[2018-01-09 15:32] #2466 closed

[2018-01-09 15:45] stefanneculai commented on #2437
That's happening because some of the default styles are being removed. We would suggest doing it like this instead:
[code]

[2018-01-09 15:45] #2437 closed

[2018-01-10 05:55] javeriaanwer opened #2477 "on changing alignment of any item in list, it should change all list alignment"
hi,

I change alignment on single item of list, it does not change alignment of whole list, as considering list items should work uniformly but they aren't.

please see reference image.

![listalignmentbehavior](https://user-images.githubusercontent.com/25203829/34757713-f496b658-f5f4-11e7-8669-aedf8841c339.gif)

[2018-01-10 06:07] javeriaanwer commented on #2473
I tried it but it does not look good, there should be some standard distance between list and text.
[ListAlignmentLooks.zip](https://github.com/froala/wysiwyg-editor/files/1617678/ListAlignmentLooks.zip)

[2018-01-10 06:18] javeriaanwer opened #2478 "Unable to Resize table"
hi,

I can only resize columns in table, but not able to resize rows and whole table.

[2018-01-10 09:39] ShanmugaPriyanV commented on #2455
@stefanneculai ...It works correctly in your website but in my production package it's not working.

 On further debugging im able to find the difference was that in development environment the charset was "**UTF-8**" but in production it is "**windows-1252**".

 I couldn't override that object. I have attached the screenshots.

**Screenshot in Development Environment**
![shaancp](https://user-ima

[2018-01-10 16:37] stefanneculai commented on #2477
We consider the current behavior as being correct. Select alignment should align each item, not the whole list.

[2018-01-10 16:37] #2477 closed

[2018-01-10 16:37] stefanneculai commented on #2478
Thanks for the feature-request.

[2018-01-10 16:37] #2478 closed

[2018-01-10 18:24] siasjustin commented on #437
@p1Machado this is really cool and I am trying to do the same thing and looking all over the internet for this answer, but can you explain how you are setting up what is the filekey? Also, any way to know what your policy_attachment  and signature_attachment are?

[2018-01-10 23:12] nsamsonov opened #2479 "XSS vulnerability in froalaView"
##### Expected behavior.
froalaView not displaying "javascript:" URLs

##### Actual behavior.
froalaView does not stripe "javascript:" URLs. Seems like the protection against XSS relies on the editor, however, in case of using a RESTful API, the attacker can forge the request and insert a `<a href="javascript: ...">` tag, and then, when displaying the URL in the froalaView, the link is still prese

[2018-01-11 10:57] Medo42 opened #2480 "fr-original-style=""-Attributes appear in the editor HTML / code view"
##### Expected behavior.
When using useClasses=false, froala will bake styles into the "style" attribute for the output HTML, while using the "fr-original-style" attribute to be able to undo this process when loading the HTML back into the editor. Therefore, fr-original-style attributes should only appear in the output HTML, not in the editor.

##### Actual behavior.
Empty fr-original-style attrib

[2018-01-11 11:25] p1Machado commented on #437
My strategy for generating the filekey was a mix of the {user_id}/{object content's hash}. If I remember, guess it was a MD5 hash.

The policy and signature is required for AWS S3. Which is storing the objects.

[2018-01-11 12:06] #2471 closed

[2018-01-11 12:21] #2439 closed

[2018-01-11 12:41] #2459 closed

[2018-01-11 14:07] #2480 closed

[2018-01-11 14:09] #2322 closed

[2018-01-11 14:15] stefanneculai commented on #2479
@nsamsonov for any problems related to Angular implementation please open an issue on the Angular repo (https://github.com/froala/angular-froala-wysiwyg). The `froalaView` directive is designed only to wrap the output of the editor in the layout required (a DIV with the fr-view class). To sanitize the HTML displayed by the froalaView, we would recommend using the Angular Sanitizer: https://angular

[2018-01-11 14:15] #2479 closed

[2018-01-11 14:57] dianaprajescu commented on #2354
@d3chapma your problem is related to issues #2104 and #2081. The current version of the editor was not designed to work with `em`. The code you highlighted in the issue's description was added as a workaround to address issue #2801, but it causes multiple spans to be created for the same css property if you are using `em`.

We'll make sure the next major version of the editor supports `em`. Until

[2018-01-11 14:57] #2354 closed

[2018-01-11 15:12] dianaprajescu commented on #2368
@ayjee Do you have any updates that could help us reproduce this issue?

I'm going to close this issue for now, due to lack of response. Once we have more details and we are able to reproduce it, we will reopen the issue.

[2018-01-11 15:12] #2368 closed

[2018-01-11 15:49] dianaprajescu commented on #2392
@wdc-admin Is this issue still happening for you with the latest version of the Froala Editor? Do you have any additional information to help us reproduce it at our end?

I'm closing this issue for the moment due to lack of response. We'll reopen it once we have enough details to reproduce it.

[2018-01-11 15:49] #2392 closed

[2018-01-11 15:52] dianaprajescu commented on #2394
Closing this in favor of #2333

[2018-01-11 15:52] #2394 closed

[2018-01-11 15:54] dianaprajescu commented on #2395
@cmkind do you have any updates regarding this?

[2018-01-11 16:07] #2456 closed

[2018-01-11 16:07] stefanneculai commented on #2456
@theknet we just checked this. The link edit popup is designed to be able to contain other things, not only buttons. Therefore, we introduced a better approach. To disable the link edit popup, use the following code instead before initializing the editor:

[code]

[2018-01-11 16:14] #2474 closed

[2018-01-11 16:26] #2443 closed

[2018-01-11 16:26] stefanneculai commented on #2443
Now there is the `url.linked` event which gets the auto-linked link as a parameter.

[2018-01-11 16:43] stefanneculai commented on #2422
@gae123 last commit should do the trick. Please follow the instructions from for including the shim https://fontawesome.com/how-to-use/upgrading-from-4.

[2018-01-11 16:43] #2422 closed

[2018-01-11 16:44] cokuna-pavelkosolapov commented on #2399
worst support ever...

[2018-01-11 16:59] robclancy commented on #2422
@stefanneculai do you have a rough estimation on when this will be flagged as a release and for the ember version to follow suit?

[2018-01-11 17:24] markedmondson commented on #2443
Ah that's amazing, thank you!

[2018-01-11 21:10] caseywebdev opened #2481 "URL plugin doesn't work well with parentheses"
##### Expected behavior.
URL plugin links the correct URL.

1. For `(see http://example.com)`, only `https://example.com` is linked.

2. For `(see https://example.com/)`, only `https://example.com/` is linked.

##### Actual behavior.
URL plugin either links too little or too much of the text.

1. For `(see http://example.com)`, `https://example` is linked.

2. For `(see https://example.com/)`, `ht

[2018-01-11 22:44] theknet commented on #2456
I'm afraid this does not resolve the issue. As per the documentation, users should be able to configure an array of Froala buttons to appear in the link edit popup:

https://www.froala.com/wysiwyg-editor/docs/options#linkEditButtons

However, as demoed in the following link, this does not work. In my particular use case I do not wish to remove the popup entirely, I'd like to show a subset of the c

[2018-01-12 09:35] wdc-admin commented on #2392
I checked on last version 2.7.3.

Steps to reproduce:
text - view by default(without tags), html - code view(with tags)

1) Small screen, text. Write a text about 6000 characters.
2) Small screen, html.
3) Full screen, html. => Html-text is located on a half of screen in horizontal line, with scroll.
OR
1) Small screen, text. Write a text about 6000 characters.
2) Full screen, text.
3) Full screen

[2018-01-12 11:08] #2333 closed

[2018-01-12 11:24] #2476 closed

[2018-01-12 11:29] javeriaanwer opened #2482 "events on image edit button"
hi,

I want to perform some task on image edit button. Is there any before and after events on image edit button click?

[2018-01-12 11:58] stefanneculai commented on #2456
@theknet thanks for bringing this to our attention. Should be fixed now on master.

[2018-01-12 11:58] stefanneculai commented on #2482
Sure, https://www.froala.com/wysiwyg-editor/docs/events#commands.after.

[2018-01-12 11:58] #2482 closed

[2018-01-12 12:19] #2481 closed

[2018-01-12 12:37] #2425 closed

[2018-01-12 12:46] #2411 closed

[2018-01-12 12:50] stefanneculai commented on #2302
Related to #1527. Unfortunately, in the current version, we don't have a workaround for it. This problem would be addressed in V3.

[2018-01-12 12:50] #2302 closed

[2018-01-12 12:55] stefanneculai commented on #2314
Should be fixed on the current master.

[2018-01-12 12:57] stefanneculai commented on #2341
@dswitzer unfortunately, this is the way we're getting the data in the clipboard.

@jamesatplebble I'm closing this due to lack of response. Would be happy to check it if you could send us the doc you're pasting from. Thanks.

[2018-01-12 12:57] #2341 closed

[2018-01-12 14:03] velebyte opened #2483 "Window for selecting images from PC doesn't show up"
When i click the upload image  button i can choose to use the URL method, upload image from computer, or drag and drop the image into editor.

##### Actual behavior.
Drag and drop image works fine, but when i select upload image from computer, the window for selecting image from pc doesn't show up.

I'm using froala in Vue framework. Here is my froala component.

[2018-01-12 14:03] #2483 closed

[2018-01-12 14:04] stefanneculai commented on #2361
@ShanmugaPriyanV we just tested it. In the HTML which comes from Word, the last 4 paragraphs are actually a single one although they look like different ones. The HTML is similar to the following one, where there are only 2 main paragraphs because on the other ones there are SOFT new lines.

[code]

[2018-01-12 14:04] #2361 closed

[2018-01-12 14:05] stefanneculai commented on #2395
Closing this due to lack of response.

[2018-01-12 14:05] #2395 closed

[2018-01-12 14:14] #2419 closed

[2018-01-12 14:24] stefanneculai commented on #2455
@ShanmugaPriyanV we've tried to reproduce this in multiple environments without success. If you would like to override the HTML which gets in there, I would recommend to use the `paste.before` event and replace those characters with empty space.

[2018-01-12 14:24] #2455 closed

[2018-01-12 14:27] stefanneculai commented on #2420
@topherdavis @jemunk it's fixed on the current master branch from Github and will be included in release 2.7.4.

[2018-01-12 14:27] #2420 closed

[2018-01-12 14:35] #2371 closed

[2018-01-12 14:39] stefanneculai commented on #2325
Unfortunately, because of the way we get the input from the browser on Android browsers this feature is unavailable for now on Android.

[2018-01-12 14:39] #2325 closed

[2018-01-12 16:28] akg-sc commented on #1191
Thanks for the explanation @stefanneculai, but how do you change the behavior of the `fillEmptyBlocks` method?

[2018-01-12 18:17] theknet commented on #2456
Awesome. Thank you!

[2018-01-12 20:42] iukpo commented on #2271
I am in a similar predicament. I came across two image editors-one for Android, the other for iOS-that I think will fit the bill and are free (they use the MIT license). HTH.

https://github.com/yackle/CLImageEditor

https://github.com/eventtus/photo-editor-android

[2018-01-13 19:12] chrisdeeming opened #2484 "Reports that copy and paste stop working in Firefox"
##### Expected behavior.
Each copy action to the clipboard should replace the previously copied text in the clipboard buffer.

##### Actual behavior.
Intermittently, copying won't take effect, and the previous contents of the clipboard are pasted instead.

##### Steps to reproduce the problem.
https://drive.google.com/file/d/1bNjuBwDan_vRwFgDPcXrsNBqUD7_Wds1/view&t=65

##### OS.
Windows/macOS

###

[2018-01-13 19:24] Nirjonadda commented on #2484
Please check this video: https://giant.gfycat.com/PoorNippyIchthyostega.webm

I think formatting text will have this issue but not plain text? If this video help understanding about this issue.

[2018-01-13 23:00] chrisdeeming commented on #2484
Here's another demonstration:

https://xenforo.com/community/data/xfmg/video/166/166532-ed792cbb75ea68decec8b919e28cd9a4.mp4

[2018-01-14 07:51] javeriaanwer commented on #2482
thank you, I want to perform some operation on image before and after the event is occurred. this event is not providing image in option.

[2018-01-14 18:50] inquam commented on #2271
These won't help me much since my need is for the web. I can understand if Adobe sees no money in this and only have to pay for servers etc. But just shutting it down after the history of Aviary and not provide any solution or releasing the code as open source is quite crappy to be honest. Especially since I contacted Adobe and asked them about their plans for the image editor and it's future befo

[2018-01-14 19:52] aaclayton commented on #1828
Hi Froala, thanks a lot for adding image caption support, however, I am wondering why you did not opt to use a more semantic HTML specification for the elements. For example (using the demo on the website)

[code]

It seems to me that this should have been done by using the `figure` and `figcaption` semantic elements, instead of awkwardly using `span` for everything. For example, something like:

[2018-01-15 05:04] javeriaanwer opened #2485 "Scroll down is not working properly when selected an image"
hi,

I am facing this problem, when I select an image an scroll down, scrolling is not working smoothly. please see attach gif for reference.

![image](https://user-images.githubusercontent.com/25203829/34927846-2a2ec17c-f9db-11e7-9b06-64d57010957a.gif)

and you can also see at here: https://codepen.io/Javeria_Anwer/pen/eyOWdR?editors=0010

here is my code:

 $(function() {
    $('div#froala-edito

[2018-01-15 09:45] tikendra-chand opened #2486 "'froalaEditor.video.removed' event is not fired when content is deleted using 'backspace' or 'delete' key"
##### Expected behavior.
Like with image and file link removed events, we expect froalaEditor.video.removed to be fired if the video gets removed from content.

##### Actual behavior.
Its only fired when we explicitly click on remove button but not when its removed using  'backspace' or 'delete' key. But same actions produce image/file removed events.

##### Steps to reproduce the problem.
Write s

[2018-01-15 10:54] mlysak opened #2487 "Impossible to select toolbar options: hyperlink/color picker/image with enter on IE"
**Expected behavior:**
user should be able to navigate through toolbar with keyboard and press enter to open hyperlink popup

 **Actual behavior.**
on Internet Explorer pressing enter, sometimes causes popup to flicker for split second but most of time nothing happens and focus is lost. This happens for all buttons that should open popup: color picker, hyperlink, image

**Steps to reproduce the pr

[2018-01-15 14:21] JakeBooher commented on #2418
Here's another video of this happening to show how broken this really is:

https://www.youtube.com/watch?v=fZFC47t2LYQ

[2018-01-15 14:39] Trapdafifou opened #2488 "Translation Tables and Image"
##### Expected behavior.
I want everything translated to french on my editor.

##### Actual behavior.
I miss some translations on Tables dropdown and Images dropdown.

##### Steps to reproduce the problem.
Add an image into an editor translated to french then click the image and check the "style" selector. The options are still in english. Aswell insert a table and click it to see the dropdown che

[2018-01-15 14:41] Trapdafifou commented on #2488
I made the translation, i just want to be able to ask for a PR

[2018-01-15 17:53] dianaprajescu commented on #1828
Sure, @aaclayton. Using `span` instead of `figure` is quite a debated topic, both internally and among Froala Editor users. Please check out issue #2206 for more details.

[2018-01-15 19:20] stefanneculai commented on #2484
@chrisdeeming @Nirjonadda it should be fixed on the Github master. Could you please check that? Thank you.

[2018-01-15 19:20] #2484 closed

[2018-01-15 19:21] stefanneculai commented on #2488
@Trapdafifou a PR would be highly welcome. Thank you. Please update https://github.com/froala/wysiwyg-editor/blob/master/js/languages/fr.js.

[2018-01-15 19:21] #2488 closed

[2018-01-15 19:22] stefanneculai commented on #2485
@javeriaanwer what OS are you using? Thank you.

[2018-01-15 19:24] chrisdeeming commented on #2484
Thanks @stefanneculai

@Nirjonadda I've never been able to reproduce the issue myself but I think this Fiddle I created ages ago serves a couple of the files directly from the GitHub master so hopefully it should appear to be fixed in this version?

https://jsfiddle.net/xgg23h82/

[2018-01-16 04:40] javeriaanwer commented on #2485
OS: Windows 10 Enterprise

[2018-01-16 05:24] aaclayton commented on #2466
Hi @stefanneculai, I'm experiencing a very similar issue which I think is related. I'm observing that using the Image "by URL" option, instead of the image being embedded as-is from the target URL (my expected behavior) the image is sent to the `imageUploadURL` for upload. In my case I'm using a custom upload URL with special logic and I've observed a bunch of images get saved to my s3 bucket whic

[2018-01-16 05:28] aaclayton commented on #1828
Hi @dianaprajescu, thanks for the link, was informative. I understand having read the related ticket why the span decision was made, and I'm glad to hear that `<figure>` support will be considered for a future major version.

One possible approach might be to add a configuration option to the image plugin that would allow the user to chose their caption style without forcing existing users into th

[2018-01-16 08:17] docikaci opened #2490 "Backspace can not delete elements, you must press Ctrl, you can delete"
##### Expected behavior.
(Describe expected behaviour here)
**Do not need to press Ctrl, you can delete**
##### Actual behavior.
(Describe actual behaviour here)

##### Steps to reproduce the problem.
(Describe the steps to reproduce the problem here)
1. copy from other editor
![image](https://user-images.githubusercontent.com/7788102/34978200-68bc47b8-fad8-11e7-972c-f21162cb6bb7.png)

2. paste to

[2018-01-16 08:18] docikaci commented on #2490
https://xiumi.us/studio/v5#/paper/for/74162861

![image](https://user-images.githubusercontent.com/7788102/34978335-dba8724c-fad8-11e7-9984-09b322c6c48c.png)

[2018-01-16 13:26] stefanneculai commented on #2484
@chrisdeeming we haven't been able to reproduce it in the jsFiddle. Could you please make a recording? Thanks.

[2018-01-16 13:28] chrisdeeming commented on #2484
I only provided the Fiddle as an easy way for those who could reproduce the issue before to test it is now fixed. As far as I know that should be the case now.

[2018-01-16 13:28] stefanneculai commented on #2484
Oh, thanks for confirming that it is fixed now.

[2018-01-16 14:50] brandoncordell commented on #2422
@robclancy in the meantime if you switch to using web fonts with FA5, it will work properly (still need the shim). They're directly styling `i` tags in their css, so you don't want FA5 to change those to SVG.

[2018-01-16 16:09] robclancy commented on #2422
Our update still won't be out for a week or 2 that includes the font awesome update so can probably wait. And I don't like that they force old icons to work with the new ones, I want them both to be able to work together during a transition period but they have hardcoded it in FA5 to use SVG icons for FA4. So I am more likely to run a custom version with that stuff hacked out (it's 3 lines I need

[2018-01-16 17:47] chrisdeeming opened #2491 "Some spaces get eaten when pasting text from some pages"
##### Expected behavior.
##### Actual behavior.
When you copy some text from some web pages, occasionally the leading space after a HTML tag (often links) is lost.

##### Steps to reproduce the problem.
Copy the first paragraph from this page:
https://www.securitylab.ru/news/490786.php?ref=123

Paste it into Froala.

It will look something like this:

![image](https://user-images.githubusercontent

[2018-01-16 23:20] MikeCaputo commented on #452
@stefanneculai and @jpcamara , thank you for the code snippets! I was stumped until I made one change to the final line; I needed to call it as a method:
`editor.selection.restore();`

[2018-01-17 09:16] stefanneculai commented on #2466
@aaclayton see https://www.froala.com/wysiwyg-editor/docs/options#imageUploadRemoteUrls.

[2018-01-17 10:14] FinesseRus commented on #690
[code]

Seriously? Why not to add the `froala-editor` dependancy to the `define` call of the plugins?

[2018-01-17 11:48] largeden opened #2492 "If you drag and drop an unapproved file extension, it will be drag and drop with the img tag."
![upload](https://user-images.githubusercontent.com/5575931/35041184-31294e64-fbc7-11e7-9e0d-74725d1d1d36.gif)

##### Expected behavior.
If you drag and drop unauthorized file extensions, an upload warning appears.

##### Actual behavior.
If you drop an unauthorized extension, it will be dropped into the image tag.

##### Steps to reproduce the problem.
Set the file type.
```fileAllowedTypes: ['ap

[2018-01-17 12:29] largeden opened #2493 "Extensions(7z) without a file type can not be uploaded."
##### Expected behavior.
Even if there is no mime type, the test must pass.

##### Actual behavior.
Files without mime type can not be uploaded.

##### Steps to reproduce the problem.
Set the file type.
fileAllowedTypes: ['application/x-7z-compressed']
File Upload

##### OS.
Windows 10

##### Browser.
Chrome

##### Cause of the problem.
As far as I know, there are differences between OS and browse

[2018-01-17 13:43] smoockpp commented on #2313
Hi.
I'm using angular-froala-wysiwyg 2.7.3 and I can also see it. How I can prevent this from happening?

[2018-01-17 14:33] dragokas opened #2494 "Text field is not get focused"
After clicking in the message field, focus is often not activated. Pressing on some button in BB-code panel helps in this case.

##### Browser.
Used last update: Opera Presto 12.18.

[2018-01-17 19:32] ellisonpatterson commented on #2418
I almost went blind, I wouldn't consider that an enhancement.

[2018-01-18 02:00] docikaci commented on #2490
@stefanneculai    Help me to see what the problem, thank you very much

[2018-01-18 03:58] aaclayton commented on #2466
Thank you @stefanneculai, I'm sorry for raising a false alarm. I'm glad to know there isn't an issue and it was just user error. I swear I looked carefully at the options, but I definitely missed this. Thanks.

[2018-01-18 06:02] TheBigK commented on #2194
I'm looking for a fix as well. I've integrated this with Froala, but now backspace just won't work. Would really appreciate a quick fix.

[2018-01-18 06:54] javeriaanwer opened #2495 "Change in font size/font family is not applied on text - IE"
in IE i am not able to select font size and format of selected text.

![wordgif](https://user-images.githubusercontent.com/25203829/35084468-ed5ab8d8-fc45-11e7-90d1-d43e0998ae20.gif)

you can also check it from here.
https://codepen.io/Javeria_Anwer/pen/rpQyzw

Browser: IE/ Edge

[2018-01-18 11:49] vartikatomaradl opened #2496 "Unable to copy paste text and image at the same time from word document to froala editor"
##### Expected behavior.
(Describe expected behaviour here)
Both should be pasted successfully
##### Actual behavior.
(Describe actual behaviour here)
image is unable to paste
##### Steps to reproduce the problem.
(Describe the steps to reproduce the problem here)
Copy content(Text + Image) from Ms word document([Sample.docx](https://github.com/froala/wysiwyg-editor/files/1642710/Sample.docx)) to

[2018-01-18 16:30] scottblinch opened #2497 "Background images set by inline styles break when froala_editor.css on same domain as editor"
##### Expected behavior.
Setting a background image on an element via inline styles should not mangle the URL on editor get.

##### Actual behavior.
When froala_editor.css is hosted on the same domain as the edtior, all background image urls that contain a specific protocol (e.g. `https://` or `http://`) get transformed to just `http` or `https`.

##### Steps to reproduce the problem.
https://code

[2018-01-18 20:59] bpautsch opened #2498 "IE Error: Unable to get property 'trim' of undefined or null reference"
In Internet Explorer, as soon as I try to type in the inline editor, I get error "Unable to get property 'trim' of undefined or null reference" in the Console (file froala_editor.min.js). I believe this javascript error kills Froala from processing as my changes are not saved when I try to save. This error does not occur in Chrome. I am using IE 11 on a Windows 8 machine. See screenshot of code in

[2018-01-19 01:24] docikaci commented on #1691
@mattiaslundberg  hi
https://jsfiddle.net/11csLex6/4/
@stefanneculai
How to solve it? I found that the removal of the three div can be deleted, or press Ctrl can also be deleted!

[2018-01-19 05:28] vartikatomaradl opened #2499 "Some time space are not copying from word document to Froala editor"
![froala_space_issue](https://user-images.githubusercontent.com/21773148/35136118-991d98ea-fd07-11e7-97be-e9d67ec0fa72.png)
##### Expected behavior.
Document should get copied as it is with all the spaces

##### Actual behavior.
spaces are not copying some time

##### Steps to reproduce the problem.
copy and paste content from Word document([Neville Ortega.docx](https://github.com/froala/wysiwyg-e

[2018-01-19 05:56] docikaci commented on #2490
@stefanneculai

Help     Help me to see what the problem, thank you very much

[2018-01-19 06:55] javeriaanwer opened #2500 "events on advance Image option"
I want my images to be converted as base64 before it's been used by advance image editor and when its closed I want it to be converted from base64.

how can I achieve this?

[2018-01-19 08:08] Hlusta opened #2501 "Non-breaking space removing"
#### Expected behaviour
`&nbsp;`  followed with link in code view is still there after switching to WYSIWYG mode

#### Actual behaviour
HTML entity is converted to space

#### Live demo with steps to reproduce
Use this tiny HTML code:
https://jsfiddle.net/kg6La8vy/
in demo:
https://www.froala.com/wysiwyg-editor

#### Product version

#### Affected browser(s)
Latest stable version of Safari, Chrome

[2018-01-19 08:32] mrahhal opened #2502 "'html.insert' not inserting elements inline"
Using the following always wraps the element I'm inserting in a paragraph:

[code]

What I'm trying to do is insert this element inline. Am I doing something wrong, or is there a way to do this?

[2018-01-19 09:02] killtw opened #2503 "Sticky toolbar in safari on Mac not working"
##### Expected behavior.
Sticky toolbar not working in safari, but chrome work well.
![2018-01-19 4 55 07](https://user-images.githubusercontent.com/1076225/35142829-85bc7798-fd3a-11e7-9e49-d1f2879b245c.png)

##### Actual behavior.
Sticky toolbar should be stick on the top.

##### OS.
macOS 10.13.2

##### Browser.
Safari 11.0.2

[2018-01-19 11:56] dianaprajescu commented on #2490
@docikaci we are not able to reproduce this. The link from where you are copying requires authentication. Otherwise, we have to build ourselves the same layout you have in that other editor. This is quite impossible for us, because we don't understand the language and the menu items doesn't seem to be the same.

Could you please create a jsfiddle with the content copied form the other editor alrea

[2018-01-19 11:58] docikaci commented on #2490
@dianaprajescu
example：
https://jsfiddle.net/11csLex6/4/
After deleting the page text, you can not delete it

Press ctrl, or delete the three div, you can delete all normally

[2018-01-19 11:59] docikaci commented on #2490
![image](https://user-images.githubusercontent.com/7788102/35149956-3db7b0fc-fd53-11e7-9ce6-082d75821066.png)
Can not delete the rest of this

[2018-01-19 11:59] dianaprajescu commented on #2490
This is a `blockquote`. How is this related to copying from the other editor?

[2018-01-19 12:01] docikaci commented on #2490
I feel similar, all can press Ctrl to delete

I am trying to provide a jsfiddle

[2018-01-19 14:14] ankitjain28may opened #2504 "Add new plugin"
Hey, I have created a new plugin for froala editor which will add embedded video on pasting/writing a video url of facebook/youtube and add a link for other links.

I want to add this new plugin to froala editor, can you please guide me how will i add this plugin on your website

[2018-01-19 14:28] Apee commented on #2427
Thank you ! :)

[2018-01-21 23:33] anlumo opened #2505 "Uncaught TypeError: Cannot read property 'pageX' of undefined"
##### Expected behavior.

No error messages in console while using the editor.

##### Actual behavior.

Whenever I move the mouse over the editor, I get the following messages for every single mouse event:

`Uncaught TypeError: Cannot read property 'pageX' of undefined`

  | ia | @ | table.min.js:7
-- | -- | -- | --
  | setTimeout (async) |   |  
  | o.(anonymous function) | @ | VM2190:1
  | na |

[2018-01-22 08:57] CrazyClicker opened #2506 "svg tags are being removed on html.insert"
Hello there!

I'm using Katex to build formulas and created small plugin for that, but I faced a problem when froala removes svg tags from an inserted code.

My settings for allowed tags:

[code]

I've tried to list svg tag in htmlAllowedTags, but it didn't help. What did helped me is

`htmlUntouched: true,`

But I'm not really sure I want to remain all code untouched. The goal is only to keep svg

[2018-01-22 11:14] Trapdafifou commented on #818
What is the ETA of this feature ?

[2018-01-22 17:26] stefanneculai commented on #2504
@ankitjain28may we do not merge outside contributions for new plugins. What we could do instead is to set up a demo on our website for it: https://www.froala.com/wysiwyg-editor/examples. Could you please send us the code here?

[2018-01-22 17:27] stefanneculai commented on #2503
@killtw please see https://github.com/froala/wysiwyg-editor/issues/1042#issuecomment-178143444.

[2018-01-22 17:27] stefanneculai commented on #2502
@mrahhal we would be happy to assist if you could provide a jsFiddle.

[2018-01-22 17:27] #2502 closed

[2018-01-22 17:38] dragokas commented on #2494
Yes, please, open any topic: https://xenforo.com/community/forums/bug-reports-2-x.91/

[2018-01-22 17:47] stefanneculai commented on #2495
@javeriaanwer when pasting from Word, please make sure you have the Word Paste plugin enabled in order to keep text formatting.

[2018-01-22 19:53] ankitjain28may commented on #2504
@stefanneculai It would be great if you can add the demo on your website which links to this repo. I am sharing the link of the Github repo which contains its code [froala-video-embed-plugin](https://github.com/ankitjain28may/froala-video-embed-plugin).

Thanks a lot

[2018-01-22 20:26] khoanguyen opened #2508 "Copy/Paste Outlook email's content problem with froala-editor.pkgd.min.js on IE 11"
##### Expected behavior.
Copying content from Microsoft Outlook's email (Word formatting) and Pasting into Froala editor should display the content correctly

##### Actual behavior.
The pasted content has space character omitted at random places. Check the screenshot below. The same problem is happening with the editor at https://www.froala.com/wysiwyg-editor
**This only happens when using froala-

[2018-01-22 20:44] kishore12 opened #2509 "IE 11 - Unable to backspace/delete/enter when editing in Froala"
##### Expected behavior.
Users should be able to backspace/delete/enter when editing in Froala

##### Actual behavior.
Users are unable to backspace/delete/enter when editing in Froala

##### Steps to reproduce the problem.
JSFiddle Link - https://jsfiddle.net/gygj3myz/2/

When editing in IE 11, I'm unable to delete any text by using backspace or delete. I'm also unable to hit Enter to start a new

[2018-01-22 23:46] BodhiMax opened #2510 "Link href value is being emptied"
##### Expected behavior.
Pasting html content into the html window should leave the value in href alone.

##### Actual behavior.
HREF value is being emptied out. I think there's some error correction that is overwriting special value formatting. Here is the link format that is being emptied out. These links work in the context of emails and require this format to function: [http://[link]?nps=0]

#

[2018-01-23 02:09] FinesseRus opened #2511 "Excess paragraphs are added around a <details> tag on entering Code View"
##### Expected behavior.
No extra paragraphs are added.

##### Actual behavior.
One `<p></p>` is added above a `<details>` tag and one below.

##### Steps to reproduce the problem.
1. Enter the Code View mode, add a `<details>A text</details>` tag and exit the Code View mode. Or make an editor instance which already has a `<details>` tag in the content.
2. Enter the Code View mode.

![ezgif com-vi

[2018-01-23 15:21] dianaprajescu commented on #2509
@kishore12 you are using an older version of the editor. Please update to the latest, which is 2.7.3. Also, the Froala editor requires jQuery 1.11.0 or higher and you are using 1.7.1.

[2018-01-23 15:21] #2509 closed

[2018-01-23 15:41] dianaprajescu commented on #2510
@BodhiMax could you please give us the exact content you are pasting?

In Code View, we tried pasting HTML code with an `A` tag having the `href` value formatted like you said, but it isn't emptied out when switching back to text and then again to Code View.

[2018-01-23 15:45] RonnyTh opened #2512 "Browser becomes unresponsive after typing lots of dashes"
##### Actual behavior.
After typing a line of dashes and an enter the entire browser becomes unresponsive. Tested in Chrome, Firefox and IE/Edge

##### Steps to reproduce the problem.
Open a froala editor for instance on https://www.froala.com/wysiwyg-editor
Type ---------------------------------------------- followed by enter.
=> Browser becomes unresponsive

##### OS.
Ubuntu and Windows

##### B

[2018-01-23 16:31] dianaprajescu commented on #2512
@RonnyTh this issue is already fixed on the master branch of this repo. The fix will be included in the next release, and then we will also update the editor version on our website.

[2018-01-23 16:31] #2512 closed

[2018-01-23 17:06] gogogous88 commented on #352
@stefanneculai your froala is like a virus, i uninstalled it but wherever i have a textarea, there shows unlicensing problem.....any idea whats going on?

[2018-01-23 17:17] jcreason commented on #2510
@dianaprajescu, thanks for replying.  I work with @BodhiMax and below is an example:

`<p style="font-size:13px;"><a href="http://[placeholder_link]">[placeholder_link]</a></p>`

[2018-01-24 03:30] cahyowhy opened #2513 "Uncaught TypeError: Cannot read property 'attributes' of undefined at Image.g.onload"
hii..
iam try to upload image to my custom server and its work.

btw, because the response is doesnt contain link prop, it raise an error and invoke this function

[code]

my goal is to replace $img object while froala uploading the image with the response from my webserver, with these syntax
[code]

its work on a first try but then it raise an error
`Uncaught TypeError: Cannot read property 'attr

[2018-01-24 07:52] connect-technologies opened #2514 "Docs: search field design problem"
##### Expected behavior.
search result drop down fully visible

##### Actual behavior.
the drop down is hidden partially

##### Steps to reproduce the problem.
goto https://www.froala.com/wysiwyg-editor/docs and try to search for smth

![grafik](https://user-images.githubusercontent.com/13328421/35320381-e497e160-00e3-11e8-96a9-a62dc5f6ed10.png)

##### OS.
win7

##### Browser.
ff58

[2018-01-24 08:27] CrazyClicker commented on #2506
I was able to fix problem with combination of `htmlAllowedTags` and `htmlAllowedEmptyTags` while preparing fiddle.

Sorry for bothering you. Thanks!

[2018-01-24 10:29] SBillion commented on #352
@gogogous88 If you removed everything related to froala, I guess it's the cache of your navigator.

[2018-01-24 11:35] largeden opened #2515 "If you press the Enter key or the Space key after typing the hyphen (-) key continuously, the browser will not respond."
##### Symptom
If you press the Enter key or the Space key after typing the hyphen (-) key continuously, the browser will not respond.

------------------------------------------------------------ space key or enter key

##### Browser.
Firefox, Chrome

##### The cause of the problem
I think there is a problem with the regular expression.
[code]

[2018-01-24 13:01] dianaprajescu commented on #2515
This should be fixed on the master branch of this repo. @largeden, could you please test and let us know if everything is okay?

[2018-01-24 13:38] largeden commented on #2515
@dianaprajescu
I downloaded the latest brunch but my symptoms are not getting better.
You will have to consider four situations.

1. ---------------------------------------------- space key
2. ---------------------------------------------- enter key
3. --------------------------space key--------------------
4. space key----------------------------------------------

[2018-01-24 14:21] dragokas opened #2516 "Clicking 'X' on Code insertion window causes browser is completely freeze"
##### Expected behavior.
Click button 'Insert' on Editor's BB-code panel -> Code -> Click 'X' (in bottom right corner) -> should close the window.

##### Actual behavior.
Browser is completely freeze ([SafeZone.cc](https://safezone.cc/threads/interceptor-ng.30077/) forum)

##### Steps for reproducing:
You can login with this account:
Login: terminator2
Pass: Alex_Qwerty

##### OS.
Win 7 x64 / x32

[2018-01-24 17:22] dianaprajescu commented on #2505
@anlumo we were not able to reproduce this issue. Neither on this repo nor on the ember one. We tried both Windows and MacOS. Could you please test and let us know if the error is present here: http://www.emberwysiwygeditor.com/?

[2018-01-24 17:41] ThePokyWizard opened #2517 "Paste content after copy HTML content doesn't paste in Firefox"
##### Expected behavior.
Paste any content copied after copy a HTML content.

##### Actual behavior.
In Firefox when a HTML content is pasted and after this a link copied is pasted, the link not appear in editor.

##### Steps to reproduce the problem.
1 - Copy HTML content;
2 - Paste the content in editor;
3 - Copy a link and paste in editor;
4 - The HTML content is pasted

##### OS.
Elementary OS

[2018-01-24 18:06] #2511 closed

[2018-01-24 18:09] #2515 closed

[2018-01-24 18:11] dianaprajescu commented on #2510
Thanks for your example. This issue is no longer happening with the latest updates from the master branch of this repo.

[2018-01-24 18:11] #2510 closed

[2018-01-24 18:15] chrisdeeming opened #2518 "Alt+D with text selected in the editor unexpectedly deletes the text, rather than just focusing the browser address bar"
##### Expected behavior.
Pressing Alt+D should retain the selection in the editor, but the editor should lose focus and focus the address bar.

##### Actual behavior.
The address bar is focused, but the selected editor text is removed.

##### Steps to reproduce the problem.
Launch the Froala editor home page, select some text, and hit Alt+D.

##### OS.
Windows, at least, but the equivalent may hap

[2018-01-24 18:22] dianaprajescu commented on #2514
@connect-technologies thanks for pointing this out.

[2018-01-24 18:22] #2514 closed

[2018-01-24 18:47] dianaprajescu commented on #2491
@chrisdeeming this is actually not an issue with the editor, but with the website you are copying from. The content that is copied from the website to clipboard does not have spaces. Wherever you would paste that content to it will behave exactly the same as it does in the Froala Editor. You could also try pasting into an email client, Google docs or Notes.

[2018-01-24 18:47] #2491 closed

[2018-01-24 19:02] dianaprajescu commented on #2508
This might be a duplicate of #2491. Could you please paste the same content in Google Docs or any other place other than Outlook or the Froala Editor and let us know if it is pasted correctly or if it looks exactly the same as it is in the Froala Editor?

[2018-01-24 19:10] dianaprajescu commented on #2516
@dragokas we don't really understand Russian, is this the window you are talking about?

<img width="897" alt="screen shot 2018-01-24 at 21 08 26" src="https://user-images.githubusercontent.com/1551136/35351841-d9146324-014a-11e8-81f5-746c4ad71fbe.png">

[2018-01-24 19:24] dragokas commented on #2516
Yes, it is.

You can also reproduce it on xenforo.com, but I can give you login/pass if only you send me something like email or so.
I am curious, GitHub has no PM system.

[2018-01-24 19:45] dianaprajescu commented on #2516
First of all, this window is not part of the Froala Editor. There probably is an issue with the code you have for it that is not related to the editor.

Secondly, we just tested this in Windows 7, Opera 50 (the latest version) and it is working okay. We are only supporting the current last version of Opera and the one before it. Here is a list with supported browsers for the Froala Editor: https:/

[2018-01-24 19:45] #2516 closed

[2018-01-24 19:47] dianaprajescu commented on #2516
Forgot to mention: if the window that is not closing is from the xenForo software, then you should contact them.

[2018-01-24 22:22] stefanneculai commented on #2517
@ThePokyWizard this should already be fixed on the current master from Github.

[2018-01-24 22:22] #2517 closed

[2018-01-24 22:24] stefanneculai commented on #2513
@cahyowhy It is best to use the `image.uploaded` event, return false inside it and then insert the image using the `image.insert` method.

[2018-01-24 22:24] #2513 closed

[2018-01-24 23:25] khoanguyen commented on #2508
Thanks for you response.
Google Docs and Microsoft Word is fine.
I did some investigation and found a clue here.

In the screenshot, the top-left is Raw pasted content, which is in the clipboard before editor's cleaning process. I marked red X at the end of each line. The bottom-right is what you see on editor. The issues happening exactly at the positions those were marked red X in raw content.

[2018-01-25 00:43] anlumo commented on #2505
Sorry, this is actually a bug in the Chrome extension Spector, not froala.

[2018-01-25 00:43] #2505 closed

[2018-01-25 00:52] largeden commented on #2515
@stefanneculai
Good! 👍

[2018-01-25 02:00] andrewkolos commented on #2506
@CrazyClicker Could you share your configuration? I also happen to be trying to create a katex plugin, but `svg` and `path` tags keep getting removed even after I added them to `htmlAllowedTags`. This is causing fraction bars and square root symbols to not render correctly.

[2018-01-25 03:06] andrewkolos commented on #2506
Solved. Added `path` and `line` to `htmlAllowedEmptyTags` in my fiddle. Config below should work:
[code]
If any part of the equation is not rendering, check for missing tags. Make sure they are included in `htmlAllowedTags` and `htmlAllowedEmptyTags`.

[2018-01-25 04:46] largeden opened #2519 "#2515 URL conversion problem after patching."
#2515 URL conversion problem after patching.

It was a bug that happened before.
The following values are converted to hyperlinks:

abc.jpg
abc.exe

[2018-01-25 04:55] javeriaanwer commented on #2495
I tried it , its pasting text from word with CSS but not showing pop message of  **_"The pasted content is coming from a Microsoft Word document. Do you want to keep the format or clean it up?"_**

Browser: "Edge"

its working fine in IE.

here is the code: https://codepen.io/Javeria_Anwer/pen/XVLXmP

and output:

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/25203829/3537140

[2018-01-25 06:28] docikaci commented on #2490
@dianaprajescu  hi   Would like to ask about when to fix a version

[2018-01-25 08:14] dianaprajescu commented on #2490
This fix is going to be included in the next release which we'll make in the following days or next week.

[2018-01-25 10:20] wkurtz commented on #2432
the latest version of froala Editor is 2.7.3 (12-11-2017), seems this doesn't work in this version as becribed
is there a way to have this fix in a new production version? Is there a scheduled release date?

[2018-01-25 10:48] stefanneculai commented on #2519
@largeden this is not happening when typing. Could you please double check? :)

[2018-01-25 10:55] stefanneculai commented on #2492
@largeden what browser and OS are you using? Are all plugins enabled?

[2018-01-25 11:04] largeden commented on #2519
@stefanneculai
ok, I'll go home and check it again.

[2018-01-25 11:06] #2499 closed

[2018-01-25 11:10] #2518 closed

[2018-01-25 11:11] da-yamashita opened #2520 "Unable to remove line break"
##### Expected behavior.
(Describe expected behaviour here)
remove a line break

##### Actual behavior.
(Describe actual behaviour here)
Unable to remove line break of a specific condition

##### Steps to reproduce the problem.
(Describe the steps to reproduce the problem here)

1.Create an html code like below
[code]
2.Delete line breaks between line 1 and line 2 in the WYGSYG editor

##### OS.
(

[2018-01-25 11:17] largeden commented on #2492
This is different on windows and mac.

windows 10 chrome:
Drag and drop the file into the editor and the will move to the file download or file view.

mac high sierra chrome:
It looks like the attached screen.

This is because file.js performs image type checking and unnecessary extension checking at the same time.

full.html tested.

[2018-01-25 11:32] #2496 closed

[2018-01-25 11:47] #2472 closed

[2018-01-25 11:48] stefanneculai commented on #2493
Just checked it. If the mime type is not there, then the file shouldn't pass the upload filter.

[2018-01-25 11:48] #2493 closed

[2018-01-25 11:54] stefanneculai commented on #2492
It is OK to do the filecheck in drop. It does 2 things:
1. If an image is dropped, the file is not inserted so that the image plugin can do the job (`file.type.indexOf('image') < 0`)
2. Checks that the file is allowed (`(editor.opts.fileAllowedTypes.indexOf(file.type) >= 0 || editor.opts.fileAllowedTypes.indexOf('*') >= 0)`). It doesn't make sense to do any processing and get to the upload step.

[2018-01-25 11:57] stefanneculai commented on #2504
@ankitjain28may thanks for sharing the code. We'll have to make some cleanup on it before adding to our website.

[2018-01-25 11:57] #2504 closed

[2018-01-25 11:58] stefanneculai commented on #2497
@scottblinch this should be fixed on the current Github master.

[2018-01-25 11:58] #2497 closed

[2018-01-25 12:00] stefanneculai commented on #2494
@dragokas we don't support Opera Presto browser as an official browser because Opera removed the support for it.

[2018-01-25 12:00] #2494 closed

[2018-01-25 12:12] stefanneculai commented on #2485
We just checked this and it looks like there is a problem in Chrome in some cases when position fixed is used. We'll try to find a workaround for this situation, however, for now, it will remain a `wontfix`.

[2018-01-25 12:12] #2485 closed

[2018-01-25 12:14] #2506 closed

[2018-01-25 12:17] #2498 closed

[2018-01-25 12:18] stefanneculai commented on #2508
@khoanguyen could you please put that HTML in a TXT file and send that file over to us? Thank you.

[2018-01-25 12:19] #2104 closed

[2018-01-25 12:21] stefanneculai commented on #2345
@chrisdeeming do you think you could make a recording of how to reproduce this on our website?

[2018-01-25 12:34] chrisdeeming commented on #2345
@stefanneculai I cannot currently reproduce the issue using Firefox 59.0b3.

Has there been any changes here on your side, or do we suspect that the regression introduced in Firefox 56 might have been fixed since?

[2018-01-25 12:35] stefanneculai commented on #2345
@chrisdeeming I believe it's something from Firefox which has been fixed in the meanwhile. I am closing this. If you see it again, please send us a recording.

[2018-01-25 12:41] #2501 closed

[2018-01-25 13:13] largeden commented on #2519
@stefanneculai
sorry, this is my mistake.
I tested the url.min.js in the past by applying it incorrectly.
Please close the issue.

[2018-01-25 13:20] largeden commented on #2493
I'll ask one question.
If there is no file type in the future, is it a policy that will not pass the filter?

[2018-01-25 13:48] largeden commented on #2492
![drop](https://user-images.githubusercontent.com/5575931/35390692-9ed6163c-021f-11e8-8932-1a9eea69717e.gif)

max high sierra / firefox

@stefanneculai
Please check again.

I just created a video with the version you just committed.
I made the following settings.

[code]

This symptom has nothing to do with image.js.
This is a problem because file.js does not do anything if it is not mime type all

[2018-01-25 13:58] #2212 closed

[2018-01-25 14:08] #2519 closed

[2018-01-25 14:08] stefanneculai commented on #2519
Thanks for testing!

[2018-01-25 15:20] #2410 closed

[2018-01-25 15:44] #2426 closed

[2018-01-25 16:41] topherdavis commented on #2426
😍

[2018-01-25 16:48] #2418 closed

[2018-01-25 16:55] chrisdeeming commented on #2418
Thank you @stefanneculai 👍

[2018-01-25 17:53] #1738 closed

[2018-01-25 17:59] divdax opened #2521 "Editor disappears"
##### Actual behavior.
Sometimes the editor disappears and the textarea with current content is shown.
The console is empty - no errors.

##### Steps to reproduce the problem.
video: https://vimeo.com/252747410
klick 10 times on a button in the toolbar. the 11th click will destroy the editor and the textarea appears.

##### OS.
macOS Sierra

##### Browser.
Chrome Version 63.0.3239.132

[2018-01-25 18:16] khoanguyen commented on #2508
This is raw the content
[raw.txt](https://github.com/froala/wysiwyg-editor/files/1665126/raw.txt)

[2018-01-25 22:20] largeden commented on #2492
8c7146d Commit did not resolve the symptom...

[code]

[2018-01-26 11:00] largeden commented on #2492
![drop3](https://user-images.githubusercontent.com/5575931/35436720-e86382e0-02d2-11e8-8979-b3ac6cb9ae3b.gif)

[code]

Simply do not do a file check from drop (), we can get the result we assumed.

[2018-01-26 11:47] chrisdeeming commented on #2345
@stefanneculai sorry, it can still be reproduced with a specific step - double spaces.

https://www.youtube.com/watch?v=hseA2_qLFyg

Everything seems normal until you hit double space. Then the current spelling mistake highlights disappear. Hitting enter/return will bring them back. You can then reproduce the issue with the current line by hitting double space again.

I know the Firefox spell chec

[2018-01-26 12:29] #2520 closed

[2018-01-26 12:36] dianaprajescu commented on #2521
@divdax can this issue be reproduced on our website?

[2018-01-26 13:58] pnhughes commented on #2302
@stefanneculai, any estimate on a V3 release?

[2018-01-26 15:13] divdax opened #2522 "Missing Translation (DE)"
Editor is used with german language. The paragraph styles are still in english:

<img width="193" alt="bildschirmfoto 2018-01-26 um 16 06 23" src="https://user-images.githubusercontent.com/1456739/35445838-30aa1322-02b3-11e8-8dac-b96875e76bab.png">

### Translation
[code]

[2018-01-26 17:49] chrisdeeming opened #2523 "Poor performance on older Apple devices"
##### Expected behavior.
Although older devices are expected to have slower performance, there's something not quite right about Froala performance on the older devices which cannot be replicated in a standard textarea element or even on some other commercial rich text editors. Typing should be as lag free as possible, and backspace behaviour should be fairly smooth.

##### Actual behavior.
Genera

[2018-01-26 20:02] divdax commented on #1307
+1

[2018-01-26 21:11] wrporter opened #2524 "heightMin gets set on iframe body when it should not"
##### Expected behavior.
Using the `heightMin` option should not affect the content of the text.

##### Actual behavior.
Using the `heightMin` option with `fullPage: true` will result in the body having the style applied.

[code]

##### Steps to reproduce the problem.
1. Set the options `fullPage: true` and `heightMin: 400`.
2. Add some text to the editor.
3. Look at the text in code view
4. Notic

[2018-01-27 03:33] LieRabbit opened #2525 "How do I insert HTML where I want to insert it?"
##### Expected behavior.
I want to insert `HTML` to '444' when i lose focus
##### Actual behavior.
froala insert `HTML` to '111'
##### Steps to reproduce the problem.
![froala-insert-html-demo](https://github.com/LieRabbit/images/raw/master/froala-insert-html.gif)
##### OS.
mac 10.13.3
##### Browser.
chrome 64.0.3282.119

[2018-01-27 03:42] fuqihan commented on #2525
Sorry, no such parameter...

[2018-01-27 15:29] lansana opened #2526 "imageUploadToS3 SignatureDoesNotMatch error"
##### Expected behavior.
Trying to change image upload to use my S3 bucket.

##### Actual behavior.
Getting SignatureDoesNotMatchError:

##### Steps to reproduce the problem.
Copied your code from your Node.js package (would like to use Go, but you don't support it. I am just trying to emulate the Node.js code in my JavaScript)

[code]

##### Browser.
Chrome

[2018-01-27 19:11] wrporter opened #2527 "Option to disable custom Froala styles"
##### Expected behavior.
I should have an option to disable custom Froala styles that get placed inside the iframe.

##### Actual behavior.
When using `fullPage: true` or not, a lot of custom Froala styles are added to the content and I don't have an option to remove them.

There are some styles that are ruining the layout of tables and other elements that get rendered properly everywhere else, ex

[2018-01-28 14:13] lansana commented on #2526
Solved. I had two parameters backwards.

Changed this:

[code]

Ro this:

[code]

[2018-01-28 14:13] #2526 closed

[2018-01-28 17:57] divdax commented on #2521
Everything fine in you website. I was using some css to hide the license warning on my local dev machine. If i don't hide it everything is fine. What can i do to work locally without license warning?

[2018-01-28 20:12] stefanneculai commented on #2527
@wrporter could you please make a jsFiddle? Thanks in advance.

[2018-01-28 20:17] stefanneculai commented on #2525
Please see https://codepen.io/anon/pen/aqoQqp.

[2018-01-28 20:17] #2525 closed

[2018-01-28 20:18] stefanneculai commented on #2523
@chrisdeeming are you able to reproduce this on our website as well?

[2018-01-28 20:54] chrisdeeming commented on #2523
@stefanneculai  yes, this video should demonstrate that. Worth noting that I've tried to demonstrate poor typing performance in general, but as this is a screen recording, that doesn't quite come across very well (obviously). All I can say about that is that the majority of the taps on the keyboard you see in the video actually occurred well after I actually tapped the screen.

The deleting issue

[2018-01-29 06:11] LieRabbit commented on #2525
How can i do it in angular2?

[2018-01-29 08:43] ppppaowu commented on #2517
![untitled](https://user-images.githubusercontent.com/32115260/35500973-5c0a4a0c-0513-11e8-8eda-040be302daac.gif)

[2018-01-29 10:41] dianaprajescu commented on #2521
The warning doesn't change in any way how the editor works and behaves. It makes it possible to test all the editor's features before actually purchasing a license and it can only be removed after the purchase.

[2018-01-29 10:41] #2521 closed

[2018-01-29 13:30] rokobasilisk opened #2529 "Add SAS token to end of file/image url when downloading content into editor."
##### Expected behavior.
Ability to update image/file link before download perhaps with event.
Currently using Azure Blob storage for image storage. Upload works, however a SAS token is required  to be appended to each request to an image URL to authenticate access for a specific amount of time. This needs to be renewed each time the SAS Token expires.

I have searched through events and options,

[2018-01-29 14:21] dianaprajescu commented on #2522
@divdax the options that you have in the paragraph styles are only for demo purposes and that's why they are not translated. The values that are there by default are just an example of how the plugin works and what can be done with it.

Normally, you should define your own styles (that integrate with your website's design) and replace the defaults with your custom ones.

Another example would be t

[2018-01-29 14:21] #2522 closed

[2018-01-29 15:00] largeden opened #2530 "On iOS, only the contents structure is passed when pasting."
##### OS.
iOS 11.2.5

##### Browser.
Safari / Chrome (Device Toolbar iPhone7)

[code]

Since when i copy / paste from iOS, only the structure of the contents will be pasted.
The debug result e.clipboardData.types is shown below.

![img_0004](https://user-images.githubusercontent.com/5575931/35516665-b4f9e7c6-054f-11e8-9708-3519cac8c6d6.jpg)

I solved the problem by adding the following conditions.

[2018-01-29 16:25] wrporter commented on #2527
@stefanneculai I think I finally got to the root of the bug! (After many hours of debugging and banging my head against the desk.) Unfortunately, it doesn't manifest in jsFiddle. I was able to get it up on a site though: http://sample.orionhub.org:8000/index.html

Now the explanation:

In the `_initStyle` function in `froala_editor.pkgd.js`, there is code that extracts `cssRules` from `styleSheets

[2018-01-29 23:28] wrporter opened #2531 "Custom popup plugins don't hide when clicking outside editor"
#### Steps to reproduce the problem.

jsFiddle: https://jsfiddle.net/wesleyrporter/1d0qay37/

1. Follow the docs on creating a custom plugin.
2. Click on the button to open the plugin
3. Click outside the editor

**Actual Behavior:** The popup does not hide

**Expected Behavior:** The popup should hide like other popups (link, video, image, file, etc)

##### OS.
macOS Sierra 10.12.6

##### Browser

[2018-01-30 08:51] ibtisamniche-vteams commented on #1014
Hi there is some kind of issue with my froala editor. Whenever i copied a paragraph that contains bold words or sentences, on pasting it in froala editor it shows the text as simple the bold text also shows as simple not in bold.

[2018-01-30 11:13] BrianLaughlan opened #2532 "Add an identifier/class to distinguish between multiple ".fr-popup""
![1](https://user-images.githubusercontent.com/8556999/35563117-f98b5daa-05b5-11e8-9a9a-0b531d6bc71a.PNG)

To allow more granular CSS tweaking you should add an identifier/class to distinguish between multiple `.fr-popup` - based on what has activated the popup.

e.g. The "insertLink" button would have a popup with this class `.fr-popup-link-insert`

In the example image above, there is no way for

[2018-01-30 13:48] dianaprajescu commented on #2531
@wrporter this is already fixed in the latest version from the master branch of this repo.

[2018-01-30 13:48] #2531 closed

[2018-01-30 19:05] chrisdeeming opened #2533 "Redo keyboard shortcut on Windows should be Ctrl+Y"
Reporting this as a potential bug, although it could be intentional, though it does seem unexpected to some Windows users. Perhaps supporting both would be viable?

##### Expected behavior.
Generally the "Redo" shortcut on Windows applications is Ctrl+Y.

##### Actual behavior.
In Froala it is Ctrl+Shift+Z. Only in macOS is it typically equivalent to that (Cmd+Shift+Z).

##### OS.
Windows

[2018-01-31 11:05] dianaprajescu commented on #2532
@BrianLaughlan we want all the editor popups to have a unitary feel that is consistent with the editor. For this reason we consider that all `.fr-popup` elements should have the same style: border, shadow, margins, colors and text formatting.

For more granular styling, each popup has a specific template that includes classes for each element inside it. We recommend styling either all `.fr-popup`

[2018-01-31 11:05] #2532 closed

[2018-01-31 11:07] #2533 closed

[2018-01-31 11:20] dianaprajescu commented on #2523
@chrisdeeming How old the Apple devices should actually be? We tested on iPhone 6S with iOS 11 and on iPad Air 2 with iOS 11 (initially launched with iOS8) and it seems to be working just perfect on our website.

We also made some changes to the backspace, so we might have some improvements for this in 2.7.4.

[2018-01-31 11:32] chrisdeeming commented on #2523
Might be a combination of hardware and software - the video I took was on the iPad Mini with iOS 9. I'll happily test - are those backspace changes committed to master yet?

[2018-01-31 11:33] BrianLaughlan commented on #2532
@dianaprajescu You misunderstand me. I am not talking about cosmetic styling. I am talking about the ability to override the positioning. I understand I can change `.fr-link-insert-layer` however this does not help because Froala is calculating the top and left values and adding them to the parent (`.fr-popup`)

See here for example:

![1](https://user-images.githubusercontent.com/8556999/35620169

[2018-01-31 11:42] dianaprajescu commented on #2523
Yes, they are, please test the master version if you can.

You could also try some tips from the Apple forum that might help you speed up the device: https://discussions.apple.com/message/30293501#30293501

[2018-01-31 11:54] chrisdeeming commented on #2523
The backspace issue seems a lot better and perhaps even typing in general. We'll call that fixed 👍

[2018-01-31 12:09] #2523 closed

[2018-01-31 13:36] rajchetan opened #2534 "Image resize not working"
##### Expected behavior.
Image resize to work

##### Actual behavior.
Image resize is not working when `image.insert` is used

##### Steps to reproduce the problem.
Upload image using `image.insert`

##### OS.
macOS

##### Browser.
Chrome - Version 63.0.3239.132 (Official Build) (64-bit)

[2018-01-31 14:48] jasonhibbs commented on #1662
This is more than unfortunate. Couldn’t this be an option? I’ve never found a need to honour multiple spaces in text content, but am very often shocked by missing non-breaking space behaviour!

[2018-01-31 17:23] dianaprajescu commented on #2532
A better approach for what you need is to use the `popups.show` event. I just notice that it is currently not documented on our website, but it is similar with the hide event (https://www.froala.com/wysiwyg-editor/docs/events#popups.hide.[id]).

Indeed, adding a class will not break anything, but we are doing our best to keep the plugin's size as small as possible. I'm going to mark this as a `fea

[2018-01-31 17:41] dianaprajescu commented on #2487
Usually the `alt` key is used to access menus and navigate through them. Unfortunately, IE makes it impossible to use the `alt` key in javascript.

You are saying that, when having the Insert Link toolbar button focused, pressing enter will cause the popup to flicker. But how are getting the focus on the Insert Link toolbar button?

[2018-01-31 17:49] dianaprajescu commented on #2534
We made some changes to the image plugin lately that will be included in the next release 2.7.4. We tested this issue on the latest editor version and it doesn't happen. Please update your editor version once we make the release and give it another try.

I'm closing this issue for now, but if your problem still persists, please make a jsfiddle where we can reproduce it.

[2018-01-31 17:49] #2534 closed

[2018-01-31 17:59] chrisdeeming commented on #2345
@stefanneculai @dianaprajescu just wanted to bring your attention back to this as according to the above video, the issue can still be reproduced. Hopefully will improve with future Firefox releases, but other editors do not appear to have the issue.

[2018-01-31 18:20] markedmondson opened #2535 "Exception in empty editor for 2.7.4"
##### Expected behavior.
Editor should initialize and show

##### Actual behavior.
Editor doesn't initialize or show

##### Steps to reproduce the problem.
Initialize new editor, exception is thrown as below.

![screenshot 2018-01-31 10 18 55](https://user-images.githubusercontent.com/1653699/35639786-33b247e0-0670-11e8-9884-833d2e242fc9.png)

##### OS.
MacOS High Sierra

##### Browser.
Chrome 64

[2018-01-31 18:22] stefanneculai commented on #2535
@markedmondson could you please let us know what options are you using for the editor?

[2018-01-31 18:24] markedmondson commented on #2535
[code]

[2018-01-31 18:27] stefanneculai commented on #2535
We couldn't replicate it on our side. Do you think you could put together a jsFiddle?

[2018-01-31 18:27] markedmondson commented on #2535
For sure,  it seems to be `useClasses: false`. I'll try and make a fiddle.

[2018-01-31 18:28] stefanneculai commented on #2535
@markedmondson Looking for the jsFiddle. While it appears to come from the `useClasses: false`, we couldn't replicate it. Thanks in advance!

[2018-01-31 18:38] lucassimibueno commented on #2535
I have the same problem here. After update to version 2.7.4 the same error appeared. My configuration use the `useClasses: false` as well.

[2018-01-31 18:39] stefanneculai commented on #2535
@lucassimibueno could you provide a jsFiddle? We can't replicate it at our end for now.

[2018-01-31 18:51] markedmondson commented on #2535
I'm struggling to replicate it in a fiddle too, I'm guessing it's something in our setup but could be common if @lucassimibueno is experiencing the same. I'll keep trying.

[2018-01-31 18:55] markedmondson commented on #2535
FWIW we're initializing the troublesome editor in React.

[2018-01-31 18:55] stefanneculai commented on #2535
@markedmondson @lucassimibueno we managed to replicate it. We'll post a workaround shortly.

[2018-01-31 19:04] #2535 closed

[2018-01-31 19:23] markedmondson commented on #2535
Thanks @stefanneculai, should we expected to see 2.7.5 soon or should we just pull those changes into 2.7.4 to get it working?

[2018-01-31 19:24] stefanneculai commented on #2535
We'll most likely put a 2.7.4-1 version. Still discussing that.

[2018-01-31 21:54] mlysak commented on #2487
I am not sure what you are saying. there is nothing wrong with alt. alt+f10 shortcut works in IE. it moves focus to first button in froala toolbar. then you can navigate with arrow keys. With simple buttons, like bold/underline you can choose them by pressing enter.

However you cannot do that with hyperlink/color picker or any popup based button

![navigation_ie](https://user-images.githubusercon

[2018-02-01 08:49] BrianLaughlan commented on #2532
Thank you for marking this as a feature request.

In the event you mentioned. Where would I get the [id] of the popup? As far as I can see there are no unique identifiers, otherwise I would be able to target it in the first place.

[2018-02-01 11:40] javeriaanwer opened #2536 "update froala editor height"
hi,

I want to update froala editor height. I was not able to find any method in your documentation, how can I achieve this?

Regards,

[2018-02-01 12:52] roddds commented on #447
Almost a year later, I would like to see this option made possible too, especially now that loaders like webpack are becoming more common.

[2018-02-01 16:38] jpgilchrist commented on #447
Something else that you could do is to use your own private repository and have the unminified version available through a scoped npm module. For example Fontawesome5 does a really good job with this. Take a look at how they implement paid vs. free content. Your free version could be built off of this existing github repo, and a paid version could be built off a private version.

[2018-02-02 07:30] imparvez commented on #349
@stefanneculai How to set this config in React Froala Editor component?

[2018-02-02 12:42] shellChang opened #2537 "response format error after image upload"
##### Expected behavior.
(Describe expected behaviour here)
 Images can be uploaded successfully.

##### Actual behavior.
(Describe actual behaviour here)
The image can be uploaded to the server and the server returns {
"link" : "000"
}, but report {code: 4, message:

##### Steps to reproduce the `problem.`
(Describe the steps to reproduce the problem here)

##### OS.
(OS name and version here)

#

[2018-02-02 13:19] smoockpp opened #2538 "IE11 - froala content outside fr-view"
##### Expected behavior.
I'm not sure how your plugin is set to work, but It shouldn't place fr-view content outside of it

##### Actual behavior.
On IE11  - for example ( you can see the screenshots ) I have a text which is wrapped by a span element with some styling as a content which is within fr-view element, but also is outside of it as a normal text.

##### Steps to reproduce the problem.
We

[2018-02-02 15:53] stefanneculai commented on #2532
@BrianLaughlan you could do it like this:

[code]

[2018-02-02 16:12] petester42 commented on #2427
@stefanneculai just updated to the latest version 2.7.5 and this issue still happens. Here is a plunker with the version updated https://plnkr.co/edit/bsH8IxCDvZEseLrsSZwA

[2018-02-02 17:51] swiftMessenger opened #2539 "Clear formatting removes links AFTER 2.7.5 release"
##### Expected behavior.
Clicking on the "Clear Formatting" button removes extra formatting but does NOT remove hyperlinks, regardless of whether you have selected all or only some of the content in the editor.

##### Actual behavior.
If the entire paragraph is selected, the behavior matches the expected behavior. However, if only part of the paragraph is selected, hyperlinks are removed.

##### S

[2018-02-02 18:07] markedmondson opened #2540 "URL auto-linking seems to be missing linking valid URLs and their TLDs"
##### Expected behavior.
I type in a URL, the URL gets auto-linked.

##### Actual behavior.
I type in a URL, some of the URL gets auto-linked.

##### Steps to reproduce the problem.
Using the demo on froala.com, clear the content start (slowly) typing a URL:
![linking](https://user-images.githubusercontent.com/1653699/35747859-cb5a7784-0800-11e8-9b91-62d442583a74.gif)

##### OS.
MacOS High Sierra

[2018-02-02 21:08] markedmondson commented on #2540
Additionally, pasting a URL seems to be broken entirely.

[2018-02-02 21:17] markedmondson opened #2541 "New "url.linked" event doesn't fire when using buttons to linkify"
##### Expected behavior.
Using 2.7.5
I type some content into the editor, highlight the content, click the "link" icon in the edit, paste in my link, the `url.linked` event should fire.
I hoped this new event would give us the ability to catch the addition of URLs this way (like `paste.afterCleanup` in https://github.com/froala/wysiwyg-editor/issues/2443 didn't) for behaviour consistency.

Maybe I

[2018-02-02 21:27] markedmondson commented on #2541
On second thoughts, I don't think this is relevant - I was coming at it in the wrong way. Sorry!

[2018-02-02 21:27] #2541 closed

[2018-02-02 22:06] N1cE-tm opened #2542 "Updated packagist"
Upated pls [packagist repo](https://packagist.org/packages/froala/wysiwyg-editor) to latest version.
I tried install [froala/yii2-froala-editor](https://packagist.org/packages/froala/yii2-froala-editor#dev-master) `dev-master` version but got following
[code]
Because packagist repo last ver 2.7.3.

And mb u'll follow [this guide](https://packagist.org/about#how-to-update-packages) for autoupdate i

[2018-02-03 13:06] NordicLight opened #2543 "New image caption in 2.7.5 is always bold generated outside text editor"
The new image caption 2.7.5 is rendered normal in the editor (See picture below). However rendering the html content outside the editor according to (https://www.froala.com/wysiwyg-editor/docs/overview) the same caption is always bold. So there is bug in the froala_style.min.css for 2.7.5 around this.

Showing a picture caption as displayed in the editor
<img width="200" alt="screen shot 2018-02-0

[2018-02-04 13:15] poka4alov commented on #1307
+1

[2018-02-04 22:52] AhHa45 commented on #1577
can you please add a feature to disable the quick insert button?

[2018-02-05 02:00] AhHa45 commented on #1307
+1

[2018-02-05 09:50] dianaprajescu commented on #1577
There are 2 ways to disable the Quick Insert Button:
1. Don't include the Quick Insert plugin (you can include only the plugins that you are using).
2. If you include all the plugins and want to use just some of them, then use the `pluginsEnabled` option.

[2018-02-05 10:01] AhHa45 commented on #1577
@dianaprajescu I know this options,
however, if you want to use all options but the quick insert button you have to this:

`this.froalaOptions = {
            pluginsEnabled: ["align", "charCounter", "codeBeautifier", "codeView", "colors", "draggable",
                "embedly", "emoticons", "entities", "file", "fontFamily", "fontSize", "fullscreen", "image",
                "imageManager", "inlin

[2018-02-05 10:06] divdax commented on #1307
@stefanneculai any news on this request? 😄

[2018-02-05 13:57] muslim-niche commented on #1506
any update on this issue please?

[2018-02-05 14:38] LaurenceKaye opened #2544 "IE: Unable to get property 'trim' of undefined or null reference"
##### Expected behavior.
No errors

##### Actual behavior.
Javascript Error received: Unable to get property 'trim' of undefined or null reference

##### Steps to reproduce the problem.
1. Open https://jsfiddle.net/kyfotvfb/4/ in Internet Explorer 11
2. Try and type a new word into the box whilst there is a spelling mistake awaiting correction

##### OS.
Windows 10

##### Browser.
Internet Explore

[2018-02-05 14:54] ibtisamniche-vteams commented on #619
Hi!
Our froala editor version is greater than 2 and when I copy rich text that contains bold sentences from google docs to froala the text is not preserved and it shows the bold text in same format instead of showing into bold.
Can you tell why is that happening and what's the solution.

[2018-02-05 14:59] ibtisamniche-vteams opened #2545 "Bold formatting is not preserved when copied from google docs."
##### Expected behavior.
Hi when I copy rich text from google docs that contains bold formatting and paste into froala editor i want to show the text as in bold as copied from the docs.

##### Actual behavior.
Instead of showing the bold text froala editor is showing the text as plain.

Kindly tell my why is that happening , I saw the same issue #1506 but no guidance was there. On another issue it

[2018-02-05 15:43] wrporter commented on #2531
@dianaprajescu It looks like this is still an issue in some cases.

Steps to reproduce:

1. Click on any other built-in popup, such as link or color
2. Click on custom popup button (the star)
3. Click outside the editor

Result: The custom popup does not hide

Expected Result: The custom popup hides, just like other popups

[2018-02-05 16:21] dianaprajescu commented on #1577
@AhHa45, that is true. I'm adding this to our TODO list.

[2018-02-05 16:38] stefanneculai commented on #2542
@N1cE-tm it should be updated now. The Packagist is doing a fetch from time to time and it looks they haven't updated the package automatically.

[2018-02-05 16:38] #2542 closed

[2018-02-05 16:40] stefanneculai commented on #2543
@NordicLight I believe you have some style there on the page which conflicts with it. We don't have any specific CSS for that. If you could make a jsFiddle or send us a link to the page where you have this problem, I would be happy to check.

[2018-02-05 16:40] #2543 closed

[2018-02-05 16:40] wrporter commented on #2527
It appears that this is a problem with or without using the iframe option.

[2018-02-05 16:43] stefanneculai commented on #2545
@ibtisamniche-vteams unfortunately, when pasting from Google Docs, all the styling comes inline which is not ideal. If you would like to keep all that formatting, all you should do is to change the pasteDeniedAttrs to `pasteDeniedAttrs: ['class', 'id']`.

[2018-02-05 16:43] #2545 closed

[2018-02-05 16:45] stefanneculai commented on #2538
@smoockpp it looks like you are doing something wrong. Could you create a Plunker for it?

[2018-02-05 16:45] #2538 closed

[2018-02-05 16:46] #2537 closed

[2018-02-05 16:47] stefanneculai commented on #2536
Please find a snippet for changing the height below.

[code]

[2018-02-05 16:47] #2536 closed

[2018-02-05 16:50] stefanneculai commented on #2529
@rokobasilisk the images are fetched by the browser through the `IMG` tag in HTML. As far as we know it is not possible to pass an authentication header to them.

[2018-02-05 16:50] #2529 closed

[2018-02-05 17:18] mthomasson opened #2546 "When the iframe option is enabled, the font family can only be changed once, then it updates the css without changing the font in the editor"
##### Expected behavior.
When I change the font, I see the font changing, even if the iframe option is enabled.

##### Actual behavior.
The font changes only once, then it updates the css, but the font appears to be the same.

##### Steps to reproduce the problem.
- Add the iframe option to the configuration file.
- Try to change several times the font for a given string

 ##### OS.
Ubuntu 16.04.1

[2018-02-05 17:28] divdax opened #2547 "Add Fontawesome icon to Editor"
##### Expected behavior.
not writing "inside" of added html `<i>` element.

##### Actual behavior.
insert html, writes text "inside" of added html element. Also it's not possible to format the Font Awesome icon e.g. Headline, Color. Adding new lines repeats icon.

##### Steps to reproduce the problem.
1. go to editors homepage
2. open console and type:
`$('#froala-editor').froalaEditor('html.inser

[2018-02-05 17:43] nickvoegeli commented on #2375
This seems very counterintuitive.  The options are called `fontFamilyDefaultSelection` and `fontSizeDefaultSelection`, which seems to imply that these options represent the default selections for font size and family.  What's the point of having user-configurable options to display a given font size/family as through they're selected when the editor is out of focus, then change those values when t

[2018-02-05 19:30] khoanguyen commented on #2508
Is there any new update on this one?

[2018-02-05 21:58] NordicLight commented on #2543
You are right Stefan. This is not a bug in Froala!

The problem occurred when trying to render a html to pdf report outside the browser. The problem was the opacity:0.9 in your css. Adding below did fix the issue in my environment however the bug is that the html to pdf solution seems to have problem with opacity and not in Froala...

.fr-view .fr-img-caption .fr-img-wrap>span {
    opacity: 1.0 !

[2018-02-06 06:42] mikeshow opened #2548 "Line breaker wrong position when using animate.css and the like."
##### Expected behavior.
The line breaker should position itself for instance after a table.

##### Actual behavior.
The line breaker position itself depending on the position of the froala editor.

##### Steps to reproduce the problem.
- Take for example 'custom_button.html' as starting point.
- add 'animate.css' (before or after the froala css doesn't matter)
- add some text before and after the

[2018-02-06 07:33] StefanNeuser commented on #1511
Is there a vote about this?

[2018-02-06 11:01] dianaprajescu commented on #2531
Doesn't seem to happen in 2.7.5. Are you sure you updated the editor?

[2018-02-06 11:02] stefanneculai commented on #2495
@javeriaanwer could you send us the document you're pasting from? What Window version and Edge version are you using?

[2018-02-06 11:03] stefanneculai commented on #2432
@wkurtz this is fixed in version 2.7.4 already released.

[2018-02-06 11:03] dianaprajescu commented on #1506
@muslim-niche please see issue #2545.

[2018-02-06 11:04] stefanneculai commented on #2493
@largeden that is an interesting debate, however, I think it is unlikely to have no file type in the future. 😄

[2018-02-06 11:07] stefanneculai commented on #2302
We don't think it's right to set expectations that may not be met due to shifting schedules. Therefore, we can't release any information about when it may become available.

[2018-02-06 11:35] stefanneculai commented on #1014
@ibtisamniche-vteams are you pasting from Google Docs?

[2018-02-06 11:52] ibtisamniche-vteams commented on #1014
@stefanneculai yes I was copying from google docs to froala editor but the bold formatting wasn't being preserved. After adding pasteDeniedAttrs:['class','id'] in froala configuration , the text is copying in froala as desired.

[2018-02-06 11:54] ibtisamniche-vteams commented on #1014
@stefanneculai there is an issue again , if I add pasteDeniedAttrs:['class','id'] in froala configuration on pasting the editor controls are not being updated.

[2018-02-06 12:59] pablovieiras commented on #2527
It would be very useful if there was an option to disable the default style when the '_iframe_' option is _true_!

[2018-02-06 14:59] #2546 closed

[2018-02-06 15:54] wrporter commented on #2531
Ah, it appears that that is only the case when using the `popup: true` option. I was told to use that option in a previous ticket. Removing it makes the popup hide as expected.

[2018-02-07 07:12] stefanneculai commented on #447
@jpgilchrist thanks for the suggestion.

[2018-02-07 07:13] stefanneculai commented on #349
@imparvez see https://github.com/froala/react-froala-wysiwyg#events-and-methods.

[2018-02-07 08:27] timoelsila opened #2549 "Video can not be longer selected on edit mode"
##### Expected behavior.
All videos should be selectable in editing mode.

##### Actual Behavior.
If the videos are added one below the other, you cant select bottom video anymore.

##### Steps to reproduce the problem.
1) Add video from a cloud service
2) Add another video
3) Select video #1
4) Select video #2
5) Select video #1
6) Select video #2
-> Problem: You can no select video number #2 any

[2018-02-07 12:17] FWennerdahl opened #2550 "Typing timeout triggers 'contentChanged' event after editor has been destroyed"
##### Expected behavior.
After the editor has been destroyed, no further 'contentChanged' events should be triggered.

##### Actual behavior.
If the editor is destroyed before the timeout happens the 'contentChanged' event is still triggered.

##### Steps to reproduce the problem.
**Note:** Reproduction case uses angular-froala, but only to visualize the issue. This is a problem in the Froala edit

[2018-02-07 21:26] rtarnaud opened #2551 "Wrong background of help modal in dark theme"
##### Expected behavior.
The background of the help modal should have a dark color when using the "dark" theme.

##### Actual behavior.
It is still white (original background of the default theme).

##### Steps to reproduce the problem.
Just set the minimal example in the Get started page with the option theme: "dark" and then click on the Help button.

##### OS.
All

##### Browser.
All

[2018-02-07 22:00] topher515 opened #2552 "`paragraphFormat` setting not respected before text selection."
##### Expected behavior.
Paragraph format box should contain the display text specified in `paragraphFormat` config object, even before I select content within the editor.

##### Actual behavior.
Paragraph format box contains word "Normal". (Until I select content within the editor.)

###### Editor before selection
Note that "Normal" appears, where I would expect "P"

<img width="686" alt="screen

[2018-02-07 23:41] wrporter commented on #2527
@stefanneculai Any chance this can get looked at sooner? This is breaking some of our customer workflows.

[2018-02-08 03:23] alandwiprasetyo opened #2553 "Can't resize table on version 2.7.5"
##### Expected behavior.
I can resize table on version 2.7.5

##### Actual behavior.
I cant resize table on version 2.7.5, but i can resize on 2.7.3

##### Steps to reproduce the problem.
1. create table
2. resize table (but cant resize)

##### OS.
MacOS HighSierra

##### Browser.
Chrome Version 63.0.3239.132

[2018-02-08 04:13] javeriaanwer commented on #2495
Browser Version:
Microsoft Edge 38.14393.0.0
Microsoft EdgeHTML 14.14393
 2016 Microsoft

Windows Version:
Windows 10 Enterprise

[Text from Word.docx](https://github.com/froala/wysiwyg-editor/files/1705689/Text.from.Word.docx)

[2018-02-08 04:24] petester42 opened #2554 "Selection anchor node has unpredicted behavior with inline-block elements"
When backspacing text and the cursor is then next to an inline-block, the current selection is set to the paragraph node instead of the text node.

##### Expected behavior.
I expect the selection to be in the text node with offset of 0.

##### Actual behavior.
Selection is in the current paragraph.

##### Steps to reproduce the problem.
Here is reproducible plunker https://plnkr.co/edit/dAqAux1dmi

[2018-02-08 06:13] rajchetan opened #2555 "Removing zero width space"
##### Expected behavior.
Not to remove INVISIBLE_SPACE[`&#8203;`]

##### Actual behavior.
It's removing  INVISIBLE_SPACE[`&#8203;`] when it resides at end of an element

##### Steps to reproduce the problem.
It's happening in this function

[code]

Is there any way we can avoid it, Can you let me know please..

##### OS.
MacOS

##### Browser.
Chrome latest

[2018-02-08 08:50] dularion opened #2556 "font-family does not use external fonts in iframe-mode"
##### Expected behavior.
When using external fonts like google fonts, and following the instructions posted here https://www.froala.com/wysiwyg-editor/examples/font-family, the expected behaviour is that changing a font will apply it to the text within the editor. Even in iframe-mode.

##### Actual behavior.
When using iframe:true, only the fonts in the dropdown are displayed correctly, ie the con

[2018-02-08 15:54] xdjinnx opened #2557 "Removing tabs in the Froala editor removes one extra character"
##### Expected behavior.
When removing a tab character after I create one in this editor: https://www.froala.com/wysiwyg-editor/examples/tabs
I expect that the editor does not delete an additional character.

##### Actual behaviour.
The editor deletes an additional character.

##### Steps to reproduce the problem.
- Use the editor found here: https://www.froala.com/wysiwyg-editor/examples/tabs
- F

[2018-02-08 16:12] rlebosse opened #2558 "Line breaks make the page scroll to top in iOS"
##### Expected behavior.
When adding line breaks with the virtual keyboard, page should not scroll to top.

##### Actual behavior.
When adding a line breaks with the virtual keyboard, page scrolls to top.

##### Steps to reproduce the problem.
* Go to https://codepen.io/rlebosse/full/MQJbyV
* Add (a lot of, 26 in my example) line breaks in the editor with the virtual keyboard
* At some point, the

[2018-02-08 16:35] stefanneculai commented on #2555
@rajchetan the current editor version is designed to create output without zero-width spaces. Is there any reason why you would need to have those in the text?

[2018-02-08 16:35] #2555 closed

[2018-02-08 16:39] stefanneculai commented on #2547
Duplicate of #1307.

[2018-02-08 16:39] #2547 closed

[2018-02-08 16:44] #2550 closed

[2018-02-08 16:44] #2553 closed

[2018-02-08 17:03] SeanKendle opened #2559 "Image with Caption: HierarchyRequestError"
##### Expected behavior.
Moving an image with a caption a few pixels, and letting go, should cancel the drag request.

##### Actual behavior.
Moving an image with a caption a few pixels causes a HierarchyRequestError in Firefox

![image-hierarchy-error](https://user-images.githubusercontent.com/5393604/35986827-1e1aa9f0-0cc8-11e8-9d2e-c8f44a0e083c.gif)

##### Steps to reproduce the problem.
Using

[2018-02-08 17:22] stefanneculai commented on #2556
They should be loaded via `iframeStyleFiles` option: https://codepen.io/anon/pen/oEBWGN.

[2018-02-08 17:22] #2556 closed

[2018-02-08 17:23] SeanKendle opened #2560 "Image Caption text alignment"
##### Expected behavior.
Text alignment DIVs should not be removed from surrounding image spans when image has a caption

##### Actual behavior.
When aligning text inside a caption, Froala creates a DIV to align the text. However, when I request the value of the Froala editor, the DIV has been moved outside of the SPAN tags surrounding the image.

##### Steps to reproduce the problem.
Add a captio

[2018-02-08 17:37] rtarnaud commented on #2551
There's the same problem with the red theme.

And it's actually a bug, not an enhancement.

[2018-02-08 17:44] SeanKendle commented on #2560
Here is the HTML that is output after I apply an alignment on caption text, then call "html.get()":

<span class="fr-img-caption" style="width: 300px; width: 300px; width: 300px;"><span class="fr-img-wrap"><img src="[IMAGE URL REMOVED]"><span class="fr-inner"></span></span></span></p><div style="text-align: left;">Image caption</div>

[2018-02-08 18:01] rtarnaud opened #2561 "Content of quick insert buttons is invisible with the dark theme"
##### Expected behavior.
Quick insert bar sets a white background for its buttons when using the dark theme. This makes the icon invisible since they are white.

##### Actual behavior.
The background color should be dark as well or the color of the icons of the Quick insert bar should be changed.

##### Steps to reproduce the problem.
Take the set up in the Get started page and apply the dark them

[2018-02-08 20:16] SeanKendle opened #2562 "Unable to Interact with Mouse or Keyboard inside contenteditable="true" within contenteditable="false""
##### Expected behavior.
Mouse and keyboard interactions should be possible within a div with contenteditable=true, regardless of parents

##### Actual behavior.
If you have a div with contenteditable="false", and then another div with contenteditable="true" inside of it, you can type, but you cannot select the text with your mouse, move the cursor by clicking within the text, or move the cursor w

[2018-02-08 21:49] brianquirion commented on #909
@JonCatmull wrote a [Line Height Plugin](https://gist.github.com/JonCatmull/9ef6187b4162444b3e58fdcba90b3372) for Froala. You can import the script and use it directly.

[2018-02-09 02:52] jjaraMplus opened #2563 "Dropdowns from fontFamily, fontSize or any of the dropdowns get a negative leftMargin"
##### Expected behavior.
Dropdown options should appear below the "trigger" button/option

##### Actual behavior.
After inspecting the elements, it appears the dropdowns have a negative left marging and the options are off the textEditor when the fontfamily, fontsize or any button with dropdowns are clicked.

##### Steps to reproduce the problem.
[code]
##### OS.
Windows 10

##### Browser.
Chrome

[2018-02-09 03:04] jjaraMplus commented on #2563
Update - This happens when the browser is maximized; if I make the browser small or to its smallest the the dropdown options appear to be in the right place.

[2018-02-09 08:58] FWennerdahl opened #2564 "quick-insert element stranded in DOM in single-page apps"
##### Expected behavior.
In single-page apps using (for example using AngularJS with ng-view), the quick-insert element is removed from the DOM when navigating to a page without the Froala editor.

##### Actual behavior.
The quick-insert element can be left stranded in the DOM when navigating to another page in a single-page app. It's never removed unless the page is fully reloaded, and loading Fr

[2018-02-09 15:38] dularion commented on #2556
thanks mate!

[2018-02-09 15:57] petester42 opened #2565 "Inline element at end of line gets cleaned up automatically"
The problem is that I have an inline element that can have a `<BR>` in it. If this inline element is at the end of the line (no text after it), then it is cleaned up. From tracing the issue I have found that the `_processOnGet` function maybe has a too general selector for BRs like `var brs = el.querySelectorAll('br')` where `el` is the current paragraph and not my inline element.

##### Expected

[2018-02-09 17:49] timcosta opened #2566 "Permission denied to access property "contains" in Link plugin"
##### Expected behavior.
User's are able to add/edit links without errors being reported

##### Actual behavior.
Rollbar is reporting an exception from the Froala link plugin. I have not found reproduction steps because my visibility into the actual Froala code is quite limited, but this is the reported stack trace:
[code]

##### Steps to reproduce the problem.
Unknown, I have yet to personally be

[2018-02-09 20:42] thedotedge opened #2567 "Improved ru and uk translation"
Drop video translations are now literal (and hence incorrect).

**uk.js**
`"Drop video": "Падіння відео"` should be `"Drop video": "Перетягніть відео"`

**ru.js**
`"Drop video": "Падение видео"` should be `"Drop video": "Перетащите видефайл"`

[2018-02-09 21:28] felipedeboni opened #2568 "Video popup is being shown on the wrong position"
##### Expected behavior.
The video insert popup should be placed exactly like the image insert popup.

##### Actual behavior.
The video popup is placed on top left of the screen.

##### Steps to reproduce the problem.

1.  Create two Quick Insert Buttons, one to call the insert image command, and another to call the insert video command.

[code]

2.  Set the quickInsertButtons
[code]

3.  Click on

[2018-02-09 22:11] btmdave opened #2569 "Replace Image Scrolling Bug"
##### Expected behavior.

_When Froala is loaded inside of a scrollable window_
1. Select an existing image and click on the replace icon
2. Select the by URL option

The expectation is that the input for the link would show in place.

##### Actual behavior.

The window is scrolled to the top and you have to scroll down to find the image again.

##### OS.
Mac

##### Browser.
Chrome 64

[2018-02-10 02:45] ConnorsFan commented on #972
Any news about commands.selectAll on Internet Explorer 11? It still does not work.

[2018-02-10 03:34] rajchetan commented on #2555
Hi @stefanneculai, we're currently migrating from an old editor to Froala, the old editor has inserted a lot of `&#8203;` in the db, So we cannot replace that, that's the reason. Please let me know if there's any alternative.

[2018-02-10 17:02] ConnorsFan commented on #972
I found the problem. One of my CSS styles was setting 'user-select: none; -ms-user-select: none;' (and all other flavors of that attribute) on the rich text element and its descendants. That does not seem to affect the 'selectAll' command in Chrome and Firefox, but it prevents it from working in IE11 and Edge. My bad, sorry.

[2018-02-11 03:07] rajchetan commented on #2223
@Tade0 were you able to solve this.

[2018-02-11 03:14] rajchetan opened #2570 "Internal "copy and paste" copies the css propertied also"
##### Expected behavior.
(Describe expected behaviour here)

##### Actual behavior.
When i'm writing something inside the editor, and copy the text inside the editor and paste, the copied text is also having CSS properties.

copied text is like -

`<meta charset='utf-8'><span style="color: rgb(0, 0, 0); font-family: Roboto, &quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-

[2018-02-11 20:01] stefanneculai commented on #2570
@rajchetan please make sure you're using the latest 2.7.5 version.

[2018-02-11 20:01] #2570 closed

[2018-02-11 20:01] stefanneculai commented on #2569
@btmdave could you please confirm you are seeing this problem on our website too?

[2018-02-11 20:07] stefanneculai commented on #2563
@jjaraMplus could you please provide a jsFiddle?

[2018-02-11 20:12] stefanneculai commented on #2548
@mikeshow do you think you could make a jsFiddle?

[2018-02-11 23:32] Fandangi opened #2571 "br tags removed after visit to HTML view."
##### Expected behavior.
 When I type shift-enter Froala should insert a br. When I go to the HTML view I should see that br. When I return to richtext view the br should still be present.

##### Actual behavior.
The br is removed after leaving the HTML view.

##### Steps to reproduce the problem.
Take a Froala editor instance on the Froala website. The live content preview example is useful for t

[2018-02-12 05:25] pawansingh-snapwiz commented on #1875
still happening with version 2.7.3, In Chrome - sometimes **clipboard_html** have **event** instead of "clipboard_html"

[2018-02-12 08:56] stefanneculai commented on #2427
@petester42 it is fixed. In the Plunker you sent, you updated only the CSS to 2.7.5, not the JS.

[2018-02-12 08:56] #2427 closed

[2018-02-12 09:01] #2440 closed

[2018-02-12 09:02] stefanneculai commented on #2445
@javeriaanwer please upgrade to version 2.7.5.

[2018-02-12 09:17] Smashr commented on #2449
Any updates on this ?

[2018-02-12 09:34] #2449 closed

[2018-02-12 09:39] #2457 closed

[2018-02-12 09:39] stefanneculai commented on #2457
Nice catch!

[2018-02-12 09:43] #2467 closed

[2018-02-12 09:47] FinesseRus opened #2572 "Inserting an image by a URL from the same domain fails"
##### Expected behavior.
The image is inserted

##### Actual behavior.
The image is not inserted. The loading indicator stands and doesn't disappear. 3 error messages appear in the browser console:

[code]
(Safari)

[code]
(Chrome)

##### Steps to reproduce the problem.
1. Make an HTML page with a Froala Editor instance which has an available image upload and the `imageUploadRemoteUrls` parameter

[2018-02-12 09:58] #2486 closed

[2018-02-12 10:13] #2524 closed

[2018-02-12 10:16] #2539 closed

[2018-02-12 10:36] mikeshow commented on #2548
You just get the custom_button.html file in the zip file attached, add canvas.css from somewhere, update the link accordingly and you're good to go.

[2018-02-12 11:01] #2572 closed

[2018-02-12 11:13] #2540 closed

[2018-02-12 11:39] #2560 closed

[2018-02-12 11:44] #2557 closed

[2018-02-12 11:53] #2552 closed

[2018-02-12 11:59] stefanneculai commented on #2564
That is happening because of the CSS added in the jsFiddle, not because of how the editor is handling it.

[code]

[2018-02-12 11:59] #2564 closed

[2018-02-12 12:01] FWennerdahl commented on #2564
The CSS is only present to visualize the issue. Without it it wouldn't be as apparent.

The element is still left in the DOM as a child to body when navigating to another view. Please consider re-opening this as it is an issue with the DOM being cluttered for single-page apps.

[2018-02-12 12:08] stefanneculai commented on #2564
We keep it in DOM in order to be used by other editors. When the last editor instance is destroyed, the Quick Insert helper would be removed as well. This is happening in order to improve the editor performance.

[2018-02-12 12:09] #2559 closed

[2018-02-12 12:11] FWennerdahl commented on #2564
Yes, however the issue is that the quick-insert helper isn't removed when changing route, since it's a single-page app. It remains in the body even though another view has been loading that doesn't contain any Froala editor instances. I'm guessing it's treated as a page load which isn't triggering the destroy events.

Any advice on how to handle this for single-page apps would be welcome.

[2018-02-12 12:13] stefanneculai commented on #2564
What we'd recommend is to destroy all the editor instances from a page before changing the route and navigating to another page using manual controls: https://github.com/froala/angular-froala#manual-instantiation.

[2018-02-12 12:13] FWennerdahl commented on #2564
Righto, we'll look into that. Thanks!

[2018-02-12 12:20] #2571 closed

[2018-02-12 12:29] #2561 closed

[2018-02-12 12:36] Fandangi commented on #2571
Hi Stefan - I am new to this process. Thanks for the rapid fix, can you advise me how I can get hold of the corrected version to confirm the fix is good ?

[2018-02-12 12:55] stefanneculai commented on #2571
Currently the fix is available only here on Github and will be included in the release 2.7.6.

[2018-02-12 13:51] petester42 commented on #2427
You are right it works with the JS updated. It still doesn’t seem to work right in our app after the update so it must be something else.

[2018-02-12 17:58] btakita opened #2573 "Enter, Backspace, & Delete when cursor is offscreen due to scrolling"
##### Expected behavior.

I expect the Froala editor to act like a html textarea (https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_textarea). The behavior is that upon keydown, the editor is scrolled to the position where the cursor is at the vertical center of the element.

##### Actual behavior.

No scrolling occurs.

##### Steps to reproduce the problem.

1. Go to the demo https://www.

[2018-02-13 12:32] davehearne opened #2574 "Adding an audio tag in code view auto plays in edit view"
##### Expected behavior.
Copy audio tag in code view , audio does not play when switching back to editor view

##### Actual behavior.
Every time I switch between code view and edit view the audio clip plays

##### Steps to reproduce the problem.
drop an audio tag in code view with autoplay = 'autoplay'
I need the autoplay feature for the pages I am creating with this.

`<audio id="demo" src="whate

[2018-02-14 06:37] SwapnilMane commented on #1472
I am facing the same issue in IE11
Whereas in chrome it is working fine.
In IE11 it loses font, size and color of the text copied.

[Meeting notes (1).docx](https://github.com/froala/wysiwyg-editor/files/1722895/Meeting.notes.1.docx)

[2018-02-14 07:00] javeriaanwer commented on #2445
thank you Stefan, I upgraded froala version but still this problem occurs.

https://codepen.io/Javeria_Anwer/pen/wpWQPX

Browser:
Internet Explorer 11

[2018-02-14 10:08] hassannaseem opened #2575 "Pasting Mixed Content from MS Word document not working in Microsoft Edge"
##### Expected behavior.
(Mixed Content) Text and image should be pasted.

##### Actual behavior.
Only the text is pasted

##### Steps to reproduce the problem.
Visit  https://www.froala.com/wysiwyg-editor in Microsoft Edge. Now open a word document with text and images. Select all and try pasting it in to the editor only the text is pasted. There is error in console "SEC7111: HTTPS security is co

[2018-02-14 10:42] StanislavMayorov opened #2576 "How to show spinner"
Hi.
I use custom method for api request to upload images. Is it possible to show froala spinner or progress bar while image is uploading?

Option object for react-froala-wysiwyg:
[code]

[2018-02-14 10:59] Chandrika-Desai opened #2577 "Uploaded image is taking width of the editor box instead of full width of the container"
##### Expected behavior.
After saving the content,, hiding editor and showing the edited content which has images, images should take width of my wrapper container

##### Actual behavior.
Images are taking the width of the editor box, I have container, which has the width of 600px, editor width is also 600px with 10px padding , when I upload image, its width is 570 inside the editor box, when I sa

[2018-02-14 12:15] pawansingh-snapwiz opened #2578 ""froalaEditor.paste.beforeCleanup" Method Issue"
Expected behavior.

(Describe expected behaviour here)

Actual behavior.

When i'm writing something inside the editor, and copy the text inside the editor and paste, the copied text is also having some unwanted HTML and CSS properties. In case we are using "froalaEditor.paste.beforeCleanup" event to manipulate the copied text.

[code]

write some text(say adipisicing voluptate), then copy and pas

[2018-02-14 15:29] divdax commented on #2547
@stefanneculai why both are closed?

[2018-02-14 15:54] felipedeboni commented on #2568
@stefanneculai, not fixed yet, could you change the following:

from:
[code]

to:
[code]

The last line is actually calling:
[code]
instead of:
[code]

Thanks :)

[2018-02-14 17:56] brandon-runbiz opened #2579 "Can't prevent backspace button from erasing text"
##### Expected behavior.
I wanted to add behavior so that when the user is entering text in the editor and press the backspace button, it does not delete any text.

##### Actual behavior.
I can tap into the 'keydown' event of the editor when the user hits the backspace and I am calling preventDefault() but the backspace still fires and removes text.

##### Steps to reproduce the problem.
Here is t

[2018-02-14 21:41] inxilpro commented on #1577
I was just looking for this. Looking forward to when it gets added.

[2018-02-14 23:59] deshiknaves commented on #1175
To anyone who's looking for a solution. I've never used this editor, but as I was investigating a fix for CKEditor, I've come across a solution to this cursor bug. In this example, add:

[code]
Making the main element `display: inline-block;` puts the cursor in the right position.

[2018-02-15 05:23] javeriaanwer opened #2580 "toolbar is not showing all buttons"
I am not getting all buttons in toolbar.

this is my code.

`var button = ['bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|', 'fontFamily', 'fontSize', 'color', 'paragraphStyle', '|', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', '|', 'paragraphFormat', 'specialCharacters', 'insertHR', '|', 'clearFormatting', 'insertLink', 'insertImage', 'embedly', 'insertFile

[2018-02-15 05:34] javeriaanwer commented on #2316
z-index is high in editor

[2018-02-15 07:12] javeriaanwer commented on #2316
how can I increase z-index of overlay through jquery.

[2018-02-15 08:53] deshiknaves commented on #1175
Actually, that only works because the width of the editor is reduced. Not the right solution. However, I have found that entering a `&zwj;` after the content editable will put the cursor in the right spot. This gets filtered out in the editor that I'm using, so whenever the editor is focused and the item before the selection is a content editable false, I add one of those in there.

[2018-02-15 09:04] mthomasson opened #2581 "Copy / paste issues in image caption"
##### Expected behavior.
- If I copy the caption of an image, and paste it as the caption of another image, I expect to have the same result
- If I change the color of the text, only the color of the text changes

##### Actual behavior.
- Some space is added above the pasted caption, and the caption is nested in several HTML tags.
- If I change the color of the text, some space is added between th

[2018-02-15 10:30] dianaprajescu commented on #2580
The [pluginsEnabled option](https://www.froala.com/wysiwyg-editor/docs/options#pluginsEnabled) specifies which plugins should be enabled in the editor instance. By passing `pluginsEnabled: ['aviary']`, you basically tell the editor to enable only the aviary plugin. Buttons from plugins that are disabled will not be displayed in the editor's toolbar.

[2018-02-15 10:30] #2580 closed

[2018-02-15 10:36] javeriaanwer commented on #2580
okay, thank you, I ended up adding every button in PluginEnabled option ,
`['aviary', 'image', 'fontFamily', 'fontSize', 'help', 'colors', 'paragraphStyle', 'align', 'lists', 'outdent', 'indent', 'paragraphFormat', 'specialCharacters', 'hr', 'clearFormatting', 'link', 'embedly', 'file', 'table', 'undo', 'redo', 'spellchecker']`
now its showing all buttons.  💯 👍

[2018-02-15 10:38] dianaprajescu commented on #2580
By default all plugins are enabled. Therefore, if you are using all of them you could simply not use the `pluginsEnabled` option.

[2018-02-15 10:39] javeriaanwer commented on #2580
yes I got it, just checking how it works.

[2018-02-15 10:48] YoeriDeschrijver commented on #2285
@stefanneculai  I have the same problem as @rongo123.
How can I set the default to "Clean" when the dialog is disabled?

[2018-02-15 11:36] Brisstor commented on #2371
Hello, looks like there is a minor problem still appearing. The domain becomes linkified only after spacebar is placed after him. Or that's a feature?

http://take.ms/1nWmK

Reproducible in Froala 2.7.5

[2018-02-16 12:17] dianaprajescu commented on #2285
If the dialog is disabled, the default action is to clean the styles. Please make sure you are using the latest version of the editor and let us know if you still have this problem.

[2018-02-16 17:23] mthomasson opened #2582 "Feature request: AllowMultipleParagraphStyle option"
Would it be possible to have a AllowMultipleParagraphStyle like for tablesMultipleStyles, linkMultipleStyles?

[2018-02-16 17:30] wrporter commented on #2527
@stefanneculai I noticed that the "waiting-details" label is still on this issue. Is there anything else I can provide that could help here?

[2018-02-17 19:04] sunjidshibly opened #2583 "Is there any method or event or any way to mark red underline the words."
I am making a custom spell-checker that works for Bangla language. I have own algorithm to detect the misspelled  word. Is there any method or event or any way to mark red underline the misspelled Bangla words so that on right button click I can create my own context menu.

PS: I am a Business License holder. Is it ok to ask for support like this?

[2018-02-19 01:00] simsim0709 opened #2584 "`html.insert` method wraps iframe tag with p tag"
##### Expected behavior.
(Describe expected behaviour here)
When iframe tag is inserted by `html.insert` method, froala editor should not wrap iframe tag with `p`.

##### Actual behavior.
(Describe actual behaviour here)
When `html.insert` method is triggered with `iframe` tag, froala editor wraps iframe tag with `p` tag.

##### Steps to reproduce the problem.
(Describe the steps to reproduce the

[2018-02-19 02:54] chrisdeeming opened #2585 "Editor doesn't display or work properly in iOS 7."
##### Expected behavior.
iOS 7 is reported to be officially supported.

##### Actual behavior.
Apparently the editor doesn't load properly, and doesn't accept focus - tapping on whatever loads in place of the editor doesn't bring up the keyboard.

##### Steps to reproduce the problem.
Unfortunately this is a customer report and details are thin other than:

This has been tested within our software

[2018-02-19 15:20] newmesiss commented on #49
Is this functional, is it already implemented, and in what part of the documentation?

[2018-02-19 19:39] guipilon opened #2587 "Copy/Pasting from Google Docs loses tab"
A tab (4 spaces) is lost when copying a paragraph from google docs to froala editor

##### Steps to reproduce the problem.
-create a document in google docs and write something with a tab in the start of the paragraph;
-select the text until the beginning of the line (to include the tab);
-Ctrl + C;
-Go to a clean froala editor and paste (Ctrl + V).
-the text is in the beginning of the line withou

[2018-02-19 20:11] FethiLamaici opened #2588 "Backspace delets two alphabet instead of one in RTL..."
##### Expected behavior.
The backspace in RTL should only delets one alphabet when is clicked once.
+++
As a user of XenForo script, this bug appears when the company updated their script to use the latest Version (2.7.5) of Froala Editor, the previous verion (2.7.4) didn’t have this issue. I tested the editor in your site as well and the same issue is there.

##### Actual behavior.
The backspace

[2018-02-19 20:37] FethiLamaici opened #2589 "In RTL mode, drop down menus not well aligned..."
##### Expected behavior.
The menus should be well aliged to the clicked botton as it is in the LTR mode.

##### Actual behavior.
Using the editor in RTL mode, the drop down menus are shifted to the right.

##### Steps to reproduce the problem.
See attached pictures...

![01eb9813-4dc8-45f9-8edd-2027a98d078b](https://user-images.githubusercontent.com/33295011/36396059-3ee9cb76-15cd-11e8-8d50-1d00c5

[2018-02-19 20:58] markedmondson opened #2590 "Entering and deleting hiragana content on mobile loses the input position"
##### Expected behavior.
I can type on mobile using the hiragana keyboard and then replace the characters with kanji.

##### Actual behavior.
Hitting backspace at any time to remove a hiragana character causes the editor to stop responding to further keyboard input.

##### Steps to reproduce the problem.
I type hiragana, the mark grows.
Then I type a backspace. The mark immediately disappears and

[2018-02-19 21:14] FethiLamaici commented on #2588
Attached video:

[backspace-bug.zip](https://github.com/froala/wysiwyg-editor/files/1738179/backspace-bug.zip)

[2018-02-20 07:52] mattbolt opened #2591 "Pasting Empty Tags"
##### Expected behavior.
When pasting HTML into the editor that contains empty tags, it should respect the "htmlAllowedEmptyTags" option.

##### Actual behavior.
Only tags in the $.FE.VOID_ELEMENTS list are not cleaned during the paste process.

##### Steps to reproduce the problem.

- Setup an editor with option `htmlAllowedEmptyTags: ['customtag']`
- Paste in some HTML content that contains `<cu

[2018-02-20 12:10] guipilon commented on #2587
Solved by adding the style property "text-indent" to pasteAllowedStyleProps.

[2018-02-20 12:10] #2587 closed

[2018-02-20 13:19] swiety85 opened #2592 "Froala throws errors in console in Safari 9 and Phantom 2.1.14"
##### Expected behavior.
No errors thrown by Froala.

##### Actual behavior.
Errors in console:
[code]
From my investigation Froala uses `DOMParser.parseFromString(x, 'text/html')` internally, but parse html seams to not be supported by all browsers. The problem with browser support is explained [here](https://stackoverflow.com/questions/30716495/how-to-use-domparser-in-phantomjs).

##### Steps to

[2018-02-20 14:57] imtiazmahbub commented on #571
Must be this:
`Yii::$app->request->getCsrfToken()`

[2018-02-20 21:22] markedmondson commented on #2590
It looks like this might have been fixed in 2.7.4. Still testing, will come back and close if so.

[2018-02-21 08:33] JMavs commented on #1577
This would be so nice! 👏

[2018-02-21 08:49] shuhuaxie commented on #2112
should use this
[code]
or you will have two picture

[2018-02-21 10:38] stefanneculai commented on #2591
The `htmlAllowedEmptyTags` is for tags which are empty, not for void tags. By default, we allow as VOID tags the ones from HTML5. I marked this as an enhancement in order to add an option to extend the list.

[2018-02-21 10:39] stefanneculai commented on #2590
@markedmondson indeed, it should be fixed in 2.7.4.

[2018-02-21 10:39] #2590 closed

[2018-02-21 10:42] stefanneculai commented on #2584
The editor is designed to wrap by default all the content inside the editor in P tags. If you want to disable this behaviour, then please use the enter option: https://jsfiddle.net/wc5c3jhk/9/.

[2018-02-21 10:42] #2584 closed

[2018-02-21 10:43] stefanneculai commented on #2583
What we'd recommend for that would be to create a custom class in CSS for this and apply the class using the `format.apply` method.

[2018-02-21 10:43] #2583 closed

[2018-02-21 10:43] stefanneculai commented on #2582
https://www.froala.com/wysiwyg-editor/docs/options#paragraphMultipleStyles :)

[2018-02-21 10:43] #2582 closed

[2018-02-21 10:45] mthomasson commented on #2582
Wooops! Sorry!

[2018-02-21 10:45] stefanneculai commented on #2579
@brandon-runbiz you should `return false` to prevent the default action.

[2018-02-21 10:45] #2579 closed

[2018-02-21 10:47] stefanneculai commented on #2578
@pawansingh-snapwiz please make sure you're using the latest 2.7.5 version. There this shouldn't happen.

[2018-02-21 10:47] #2578 closed

[2018-02-21 10:48] stefanneculai commented on #2577
@Chandrika-Desai when using the `imageOutputSize` option, the width of the image would be exactly the width you're seeing while editing inside the editor. We consider this as being the correct behaviour.

[2018-02-21 10:48] #2577 closed

[2018-02-21 10:50] stefanneculai commented on #2576
@StanislavMayorov there are couple of things which should be done for that. Please reach us [via our website](https://www.froala.com/wysiwyg-editor/contact) for the tech support in the Professional/Business license.

[2018-02-21 10:50] #2576 closed

[2018-02-21 10:51] stefanneculai commented on #2575
@hassannaseem Microsoft is doing by itself a cleanup when pasting from Word and we cannot get the HTML as it comes from Word. Unfortunately, we cannot do nothing for that at this moment.

[2018-02-21 10:51] #2575 closed

[2018-02-21 10:53] stefanneculai commented on #2574
@davehearne when switching from Code View back to the editor, the HTML is written again back to the editor. If you want to have the `autoplay` only in the output, I would recommend not adding it to the original HTML, but process it just before displaying it and adding the attribute there.

[2018-02-21 10:53] #2574 closed

[2018-02-21 13:08] mthomasson opened #2593 "Selecting a whole tag of formatted text and start writing removes the formatting"
##### Expected behavior.
If I format some text (color, bold, italic, ...), select the whole text and start typing (just to replace the text), the formatting should still be as I set it up.
##### Actual behavior.
The whole tag is removed, and so is the formatting. The new text is added in a new tag

##### Steps to reproduce the problem.
- Write some text
- format it
- Start typing again (with the t

[2018-02-21 14:43] mthomasson opened #2594 "contenteditable option does not work as expected"
##### Expected behavior.
With the contenteditable="false" attribute on a link, I would expect the link edition menu to open when I click on the link instead of being redirected.

##### Actual behavior.
Having the link edition menu opening is really hard. You need to select smoothly all the text of the link before the menu shows up (users never find it).  And if you click on the link you get redire

[2018-02-21 16:16] brandon-runbiz commented on #2579
@stefanneculai I put `return false` underneath my `e.stopPropagation();` and that didn't make a difference. The backspace button is still working to delete text.

[2018-02-21 18:30] nodefiend commented on #1843
bump !

we would love to have this too!

[2018-02-22 08:01] aridlehoover opened #2595 "Carriage returns replaced with non-breaking spaces when htmlUntouched is true"
##### Expected behavior.
Carriage returns should not be replaced with non-breaking spaces.

##### Actual behavior.
Carriage returns after `<br>` tags are replaced with `&nbsp;` entities.

##### Steps to reproduce the problem.
See this Codepen: https://codepen.io/aridlehoover/pen/GQGrBv

The pen is setup to default `htmlUntouched` to `true`. In that state, there appears to be a space at the beginni

[2018-02-22 10:26] FWennerdahl opened #2596 "Fullscreen mode leaves empty div's in DOM"
##### Expected behavior.
After closing fullscreen mode, no added elements should be left in the DOM.

##### Actual behavior.
Each time you open and close fullscreen mode, an empty `<div style="display: none;"></div>` is left behind in the DOM.

##### Steps to reproduce the problem.
1. Open the Froala editor demo on https://www.froala.com/wysiwyg-editor
2. Open devtools.
3. Enable and disable fulls

[2018-02-22 10:51] FWennerdahl opened #2597 "Can't type in editor after adding caption to image"
##### Expected behavior.
If an image with a caption is added to an empty editor, you should be able to add new paragraphs and type.

##### Actual behavior.
If an image with a caption is added to an empty editor, you can't add any new paragraphs or type text. No line insert helper is shown either, making impossible to add more textual content.

##### Steps to reproduce the problem.
1. Open the demo

[2018-02-22 12:08] FWennerdahl opened #2598 "Can't cut images with captions"
##### Expected behavior.
When selected, it should be possible to cut images with captions from the editor by pressing shortkeys (Cmd + X / Ctrl + X).

##### Actual behavior.
Selecting an image with a caption and pressing the cut shortkey only highlights the image, it is not cut from the editor and it is not inserted into the clipboard.

##### Steps to reproduce the problem.
1. Open the demo at htt

[2018-02-22 12:57] guipilon opened #2599 "Froala editor is removing the tab character when pasting content to it"
##### Expected behavior.
When copy/pasting a text to froala's editor containing a tab in it, the tab character should be preserved in the editor

##### Actual behavior.
When copy/pasting a text to froala'a editor containing a tab in it, the tab character is being removed by editor in the Cleanup process

##### Steps to reproduce the problem.
Copy this text to froala's editor:

This is a paragraph.

[2018-02-22 13:54] mlysak opened #2600 "Selecting button with keyboard on toolbar with JAWS is broken"
##### Expected behavior:
user should be able to navigate through toolbar with keyboard and press enter/space bar to select option

##### Actual behavior.
nothing happens on enter/spacebar when JAWS is running

##### Steps to reproduce the problem.
Bug reproducible on official demo: https://www.froala.com/wysiwyg-editor
with JAWS running use alt+f10 and try to select option with keyboard

##### OS.

[2018-02-22 17:35] stefanneculai commented on #2593
@mthomasson please use the `keepFormatOnDelete` for that.

[2018-02-22 17:35] #2593 closed

[2018-02-22 17:35] stefanneculai commented on #2599
In HTML the tab character has no use and that's why it is being removed on purpose.

[2018-02-22 17:35] #2599 closed

[2018-02-22 17:42] stefanneculai commented on #2594
Having `contenteditable="false"` attribute on a link should prevent showing the link-edit popup.

[2018-02-22 17:42] #2594 closed

[2018-02-22 17:43] guipilon commented on #2599
But if I want to persist the formatting style of a pasted text?

[2018-02-22 17:46] stefanneculai commented on #2599
The editor is designed to always remove the TAB character all the time. It is not possible to keep it. What I would recommend instead would be in the beforeCleanup.paste to convert tabs to multiple spaces.

[2018-02-22 19:16] SeanKendle opened #2601 "Inserting an image into a child DIV within a parent DIV places image in parent DIV"
##### Expected behavior.
Inserting image into a DIV should work as expected.

##### Actual behavior.
We created a grid system plugin with a parent DIV and child DIVs, styled with flex, to be able to have more control over the layout of our pages.  However, if you try to insert an image into a Grid's child DIV, it will instead insert the image into the parent DIV.

##### Steps to reproduce the prob

[2018-02-22 19:24] cmkind commented on #2395
I'm so sorry, I thought I dropped a note here before. To belatedly confirm, it does appear to be preserving the spacing now. Thank you for your help!

[2018-02-22 19:28] guipilon opened #2602 "Froala's Editor is removing style when it comes in the head tag"
##### Expected behavior.
When Copying a Text from Pages (MacOS), the font-family, font color and other formatting parameters should be present when pasting it to froala's eidtor.

##### Actual behavior.
When Copying a Text from Pages (MacOS), the font-family, font color and other formatting parameters are being removed when pasting it to froala's eidtor.

##### Steps to reproduce the problem.
-Cop

[2018-02-22 20:04] aridlehoover opened #2603 "Backspace inserts non-breaking spaces after <br> tags when htmlUntouched is true"
##### Expected behavior.
Backspace should not insert non-breaking spaces after `<br>` tags.

##### Actual behavior.
Backspace inserts non-breaking spaces after `<br>` tags when `htmlUntouched` is `true`.

##### Steps to reproduce the problem.
Please see this Codepen: https://codepen.io/aridlehoover/pen/GQGrBv

With `htmlUntouched: true`, place your cursor on the first or second line of text and pr

[2018-02-23 09:50] jemunk opened #2604 "Froala throws a SyntaxError in IE11"
Our automatic error reporting which gathers error from the clients, reports several "SyntaxError" exceptions
in froala.min.js in this function:
`function B(a){return a&&"BR"==a.tagName?!1:0===(a.textContent||"").length&&a.querySelector&&!a.querySelector(":scope > br")}`

So far reported from IE11 clients only.
Our froala version is latest 2.7.5.

[2018-02-23 09:51] mthomasson commented on #2594
@stefanneculai
Do you have an idea how I could disable the text editing inside the editor, but leave the option of opening the link edit panel on click on the link?

[2018-02-23 09:52] mthomasson commented on #2593
@stefanneculai
Awesome! Thxs!!!

[2018-02-24 20:53] mcblum opened #2605 "Prevent or override replace image"
##### Expected behavior.
We'd like to either remove the replace image functionality within the Image Manager or hijack it to use our custom image management.

##### Actual behavior.
Reading through the docs I can't see a way to modify which things are available in the image manager. Ideally, we could add our own replace button that does our own stuff.

##### OS.
Mac Latest

##### Browser.
Chrome

[2018-02-26 11:54] sanna-woo opened #2606 "table resize functionality "lost" after scrolling the page"
##### Expected behavior.
create a new table, scroll down a bit, resizing the table still possible.

##### Actual behavior.
the table resizing functionality only works as long as I do not scroll down the page. It seems like the ' .fr-table-resizer' is absolute positioned to some other parent element than the table.

##### Steps to reproduce the problem.
just visit this page https://www.froala.com/w

[2018-02-26 20:05] SeanKendle opened #2607 "2 Issues with Aviary in Chrome when multiple Froala editors on the same page"
On pages with more than one editor, there are 2 errors that arise depending on the order of events. I will try to lay these out as well as I can.

1. **Loading a single editor**, adding a new editor, then attempting to crop and save an image in the first editor in Aviary results in the following error:

Uncaught DOMException: Failed to execute 'selectNode' on 'Range': the given Node has no parent.

[2018-02-27 08:44] AhHa45 commented on #1156
Can you explain how the `imageInsertButtons` solves this issue??

[2018-02-27 09:19] javeriaanwer opened #2608 "Image Editor Menu Popups are not working"
Hi,

I am having this issue, sometimes image editor menu popups does not appear in froala editor. Please see following gif for reference.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/25203829/36719191-27b9efc2-1bc6-11e8-97b1-5191bfb71222.gif)

[2018-02-27 11:12] stefanneculai commented on #2608
@javeriaanwer could you please let us know if you can reproduce this on our website or create a jsFiddle where we can reproduce it? Thank you.

[2018-02-27 11:14] stefanneculai commented on #2605
@mcblum I would recommend creating a custom button inside the image popup which would open your custom image management: https://www.froala.com/wysiwyg-editor/examples/custom-image-button.

[2018-02-27 11:14] #2605 closed

[2018-02-27 18:27] ibmalo95 opened #2609 "Style tag is removed after toggling code view"
Expected behavior.
When using code view to add a style tag at the top of the editor, it should apply the styles and should be visible when you enter code view again.

Actual behavior.
It doesn't apply the CSS and when you toggle back to code view the tag is no longer there.

Steps to reproduce the problem.
1. In code view, add a style tag to the top of the editor (above all other elements)
2. Togg

[2018-02-27 19:45] cdepuydt opened #2610 "Quick Insert plugin does not work with ENTER_BR"
##### Expected behavior.
The Quick Insert plugin should work with all available options in the base editor.

##### Actual behavior.
If the enter option is set to ENTER_BR, the quick insert toolbar will never appear because there are no tags to check for emptiness.

##### Steps to reproduce the problem.
In the Froala init, set enter equal to ENTER_BR, enable the quick_insert plugin.  In the editor,

[2018-02-27 20:29] stefanneculai commented on #2448
@Smashr sorry for the delayed response. We've just tested this and the error is not there anymore when using only `[data-delay]` instead of `*[data-delay]`.

[2018-02-27 20:29] #2448 closed

[2018-02-27 20:33] stefanneculai commented on #2554
@petester42 the current behavior is the correct desired one. When removing the element between text nodes with backspace, and there are 2 text nodes one to another, the editor is designed to join them together. This is called node normalization: https://developer.mozilla.org/en-US/docs/Web/API/Node/normalize.

[2018-02-27 20:33] #2554 closed

[2018-02-27 20:49] #2566 closed

[2018-02-27 20:52] stefanneculai commented on #2585
@chrisdeeming it will take a little bit more to test this as on XCode 8, iOS 7 is no longer supported.

[2018-02-27 20:55] stefanneculai commented on #2607
@SeanKendle could you please check you're using the latest 2.7.5 version? Thanks.

[2018-02-27 20:56] SeanKendle commented on #2607
No, v2.7.5 broke our implementation as described in another of my posts.

[2018-02-27 20:57] SeanKendle commented on #2607
However, I did a diff with the aviary plugin and it's the same exact file.

[2018-02-27 20:59] stefanneculai commented on #2607
We can't reproduce on our side in version 2.7.5. Do you think you could create a jsFiddle where we can reproduce it? Here is one you could use as a starting point: https://jsfiddle.net/froala/wc5c3jhk/.

[2018-02-27 20:59] SeanKendle commented on #2607
We cannot update to v2.7.5 because it breaks our editor per: https://github.com/froala/wysiwyg-editor/issues/2562

[2018-02-27 21:01] stefanneculai commented on #2495
Unfortunately, in Edge, we get the content from Microsoft already cleaned-up and we cannot make any additional processing and detect that it's coming from Word.

[2018-02-27 21:01] #2495 closed

[2018-02-27 21:03] stefanneculai commented on #2607
@SeanKendle I understand that the other issue is in our attention. It would be good if you could test this issue with the latest version 2.7.5 and let us know how to replicate it, as we can't do it on a clean editor instance. If the issue is not present in version 2.7.5, then it's left only the other issue which will be addressed shortly.

[2018-02-27 21:06] SeanKendle commented on #2607
How can I include the aviary plugin on that fiddle?

[2018-02-27 21:10] petester42 commented on #2554
I understand what you are saying but I don't see how these two things are related. My problem is that selection ends up being in an unexpected place. I am not deleting the inline-block between 2 text nodes I am deleting the first character of the text node after the inline-block.

My expectation is that my selection would stay in the text node and be at position 0. What actually happens is the sel

[2018-02-27 21:13] stefanneculai commented on #2607
https://jsfiddle.net/wc5c3jhk/35/

[2018-02-27 21:20] SeanKendle commented on #2607
Thanks, I've updated it. Looks like I can't recreate it in this version. I'll definitely test once we upgrade to the next version once that's out. For now I think this is resolved, but I will comment with my findings after the next Froala update. Thanks again!

[2018-02-27 21:20] SeanKendle commented on #2607
Test fiddle:

https://jsfiddle.net/46ahu03g/

[2018-02-27 21:20] #2607 closed

[2018-02-27 21:23] stefanneculai commented on #2554
I apologize, I misunderstood your initial message. We are working directly with the selection API offered by the browser. This problem is coming from how the selection API works and there is not too much we can do to overcome it. The same situation happens sometimes when you just put the cursor at the beginning of the P tag an get the selection.

Unfortunately, the selection info across browsers i

[2018-02-27 21:28] stefanneculai commented on #2508
@khoanguyen we couldn't replicate this yet. Could you please add the following code inside your app and let us know what you get in the console?

[code]

[2018-02-27 21:33] stefanneculai commented on #2527
@wrporter those styles are needed in order to display the editor elements properly inside the iframe. If you don't want to have them added, as a workaround, you could do the following 2 things:
  1. Don't include the froala_style CSS file on the page you're initializing the editor on.
  2. Use the [iframeStyleFiles](https://www.froala.com/wysiwyg-editor/docs/options#iframeStyleFiles) option so tha

[2018-02-27 21:33] #2527 closed

[2018-02-27 21:46] stefanneculai commented on #2563
@jjaraMplus do you think you could send us a link to the page where you have this problem? Is there any way we could reproduce it?

[2018-02-27 21:47] stefanneculai commented on #2569
@btmdave any input here? Thank you.

[2018-02-27 21:48] stefanneculai commented on #2608
@javeriaanwer are you seeing this on our website demo as well? https://www.froala.com/wysiwyg-editor

[2018-02-27 21:51] btmdave commented on #2569
@stefanneculai I apologize, I wasn't clear in my description.  This is actually when in a scrollable div, not window so `overflow: scroll`.  I don't believe there's an example of that usage on your site.

[2018-02-27 21:52] stefanneculai commented on #2569
Are you setting the scrollableContainer option? Here is [a basic jsFiddle](https://jsfiddle.net/froala/wc5c3jhk/) which you could use to show us the problem. Thanks in advance.

[2018-02-27 22:00] btmdave commented on #2569
@stefanneculai Here's a quick pen - https://codepen.io/anon/pen/jZXrNg

If you scroll down and try to edit that Google logo with Replace and By URL, when you click on the URL icon, it'll scroll to the top.

[2018-02-27 22:05] stefanneculai commented on #2569
Thanks for the details.

[2018-02-27 22:23] wrporter commented on #2527
@stefanneculai That's not quite the issue. Whether I'm hosting my froala code on the same domain or not, the styles should behave the same within the editor. This is definitely a bug in Froala.

[2018-02-27 22:52] petester42 commented on #2554
Ok thanks. I’ll try that out.

[2018-02-27 23:19] chrisdeeming commented on #2585
@stefanneculai not a total priority for us as we don't officially support iOS versions beyond iOS 10, though we do tend to have some graceful degradation for older versions. For now, we've just stopped the editor loading for iOS 7 and below (was previously 6 and below).

Given the difficulty of testing and supporting such an old version (nearly 5 years!) I'm not sure you'd be blamed for dropping s

[2018-02-28 00:05] chrisdeeming opened #2611 "Backspace with RTL text deletes two characters"
##### Actual behavior.
##### Steps to reproduce the problem.
https://xenforo.com/community/data/xfmg/video/168/168320-7843a2a14280e46852d10272a76333c0.mp4

##### OS.
##### Browser.
iOS 11.3 Beta (may affect others)

[2018-02-28 00:44] cdepuydt opened #2612 "Paragraph Style events do not differentiate between adding and removing"
##### Expected behavior.
The paragraphStyle after event (froalaEditor.commands.after) should either have a second parameter that states if the class was added or removed, or else there should be two different events.  This probably also affects the before event.

##### Actual behavior.
The paragraphStyle after event just fires a single event stating that something was done with the returned class

[2018-02-28 00:59] FethiLamaici commented on #2611
Hello Chris,

Sorry for not updating the bug thread on Xenforo.

I already posted the same bug here:
https://github.com/froala/wysiwyg-editor/issues/2588

Hopefully get sorted out in the next release.

[2018-02-28 00:59] #2611 closed

[2018-02-28 08:28] kaniansky opened #2613 "tabs from text pasted from notepad or HTML textarea are removed"
##### Expected behavior.
Tabs should be preserved (most likely as 4 spaces). It works for indented text pasted from Visual Studio Code.

##### Actual behavior.
Tabs are stripped

##### Steps to reproduce the problem.
1. Copy text with tabs from notepad or HTML textarea to clipboard
2. Paste text to Froala editor [jsFiddle](https://jsfiddle.net/froala/wc5c3jhk/)

##### OS.
Windows 10

##### Browser

[2018-02-28 12:19] Alderr commented on #2602
This exact bug had me up all night. 😭. I thought it was just a bug in the react version lol.

A couple hundred google searches later I realized:

[1] **These demos work!**
https://codepen.io/Froala/pen/qrwQRp
https://codepen.io/obi_obi/pen/RLEpQb

As long as the options/setup match the RLEpQb aka iframe demo (iframe, div vs textarea, etc).

So, I ended up just looking at demos' imports &... ta-dah

[2018-02-28 13:04] ursoforte commented on #1894
Sorry for writing in the closed topic.
My case is identical to this;

My current solution:

[code]

I have not found a better way to do this yet, if anyone has one, please write.

[2018-02-28 13:25] wrporter opened #2614 "Extra styles are added to the content of the message when Froala code is hosted on the same domain"
##### Expected behavior.
Hosting the Froala code on the same domain should have the same behavior as hosting it on different domains.

##### Actual behavior.
Hosting the Froala code on the same domain adds extra styles to the content of the message when it should not. It should behave the same as when the Froala code is hosted on a different domain.

##### Steps to reproduce the problem.
I finally

[2018-02-28 13:25] wrporter commented on #2527
I submitted a new issue for this at https://github.com/froala/wysiwyg-editor/issues/2614

[2018-02-28 14:11] vamsikaja opened #2615 "On Click of Codeview toolbar button Editor's blur event is fired"
##### Expected behavior.
Editor's blur event should not be fired whenever Codeview's toolbar button is clicked. (The blur event is not fired when other toolbar buttons like Insert link, Print are clicked)

##### Actual behavior.
Editor's blur event is fired whenever Codeview's toolbar button is clicked.

##### Steps to reproduce the problem.
Please check the below codepen
https://codepen.io/VamsiK

[2018-02-28 22:58] stefanneculai commented on #2614
@wrporter this is made on purpose. When the iframe option is being used, the editor is reading automatically the rules that target the content inside it and inject that style in the iframe in order to keep the view as it should be. Unfortunately, when the style files are loaded from a different domain, the browsers do not allow to read them and inject this way.

If you don't want any styles, pleas

[2018-02-28 22:58] #2614 closed

[2018-02-28 23:08] stefanneculai commented on #2612
The `commands.after` method is designed to pass the parameters the command gets when it is being called in the editor, no additional info about what happened during that action. If you need to get the styles for the current paragraph, I would recommend using the `selection.blocks` method to get the current active paragraph and then the styles from it.

[2018-02-28 23:08] #2612 closed

[2018-02-28 23:12] cdepuydt commented on #2612
It's not about knowing what the styles were, it's about knowing what the event actually was, an add or a remove, since this will drive the logic of anything that would be called in this sort of event.  In my case, I was trying to modify the text that the class was being added to, and what I needed to do varied dramatically between an add or a delete.

[2018-03-01 06:36] steve-tapley commented on #1693
Hi,
Any chance of this issue being fixed - we're running into it in 2.7
Cheers,
Steve

[2018-03-01 09:43] Drabiv opened #2616 "Not able to set value to editable text inputs in froala."
I am trying to create a template with a few editable text inputs.  For some reason I am not able to set value to that inputs. When I click on input I can type in it, but I see in code view that value is not set. Also when I hit Backspace or Delete I do not delete value in input, but delete text around the input. When I hit enter I do not pass value to the input, but create new line, and the input

[2018-03-01 11:42] jamesmoss commented on #1693
@steve-tapley In the end we did hack up the image plugin to add this behaviour as I described above (we also added support to resize the image down if its above certain dimensions). I wish it was in built-in by default.

[2018-03-01 13:25] GeertVanWonterghem commented on #1662
Agreed. This is very annoying. I tried disabling this behaviour using htmlUntouched: true, but that doesn't work.
Please urgently solve this, as it makes Froala unusable for the generic use case.

[2018-03-01 13:42] stefanneculai commented on #619
@ibtisamniche-vteams please see https://github.com/froala/wysiwyg-editor/issues/2545#issuecomment-363143440.

[2018-03-01 13:44] stefanneculai commented on #2375
@nickvoegeli it is designed to be as a placeholder when there is no selection in the editor. It helps end-users to get familiar with what options they have there.

[2018-03-01 13:44] stefanneculai commented on #2543
Thanks for the follow-up, @NordicLight.

[2018-03-01 13:52] stefanneculai commented on #2606
@sanna-woo this should be fixed on the current master. Could you please check?

[2018-03-01 13:52] #2606 closed

[2018-03-01 13:59] stefanneculai commented on #2555
@rajchetan I would recommend removing the `&8203;` character with an empty string before adding it to the editor. Probably, the old editor was using it in order to make editing possible in some edge situations, however, it should not be present in the output.

[2018-03-01 14:00] stefanneculai commented on #2223
@Tade0 @rajchetan this should work as you suggested in the latest 2.7.5 version.

[2018-03-01 14:03] stefanneculai commented on #1875
@pawansingh-snapwiz could you please use [this basic jsFiddle](https://jsfiddle.net/froala/wc5c3jhk/) to highlight the problem?  Thank you in advance.

[2018-03-01 14:04] stefanneculai commented on #2570
@pawansingh-snapwiz the CodePen you sent is using the 2.6.0 version instead of 2.7.5.

[2018-03-01 14:38] stefanneculai commented on #1472
@SwapnilMane are you facing this on our website as well?

[2018-03-01 14:42] stefanneculai commented on #2547
@divdax we use this repo for bug-tracking. Feature requests are not left open, however, we add a `feature-request` label to them and they are to our attention.

[2018-03-01 14:44] stefanneculai commented on #2316
@javeriaanwer do you think you could make a jsFiddle to highlight this?

[2018-03-01 14:47] stefanneculai commented on #2371
@Brisstor that is how it is designed to work. The link is made on space, dot or enter.

[2018-03-01 14:52] stefanneculai commented on #49
@newmesiss sure, https://www.froala.com/wysiwyg-editor/examples/custom-dropdown.

[2018-03-01 14:59] stefanneculai commented on #2579
That's because you are using the wrong event: https://jsfiddle.net/wc5c3jhk/45/.

[2018-03-01 15:16] stefanneculai commented on #1156
@AhHa45 I believe this is what you're looking for: https://wysiwyg-editor.froala.help/hc/en-us/articles/115000555949-Can-I-insert-images-as-base64-.

[2018-03-01 15:20] AhHa45 commented on #1156
@stefanneculai thanks, I already do it this way, however the file/image drop zone does not get closed when you return false in the `beforeUpload` event of image/file 👎

[2018-03-01 15:20] stefanneculai commented on #2602
Looks like a duplicate of #2609.

[2018-03-01 15:25] stefanneculai commented on #2612
I understand your use-case and that could be achieved by using a combination of `commands.before` with `commands.after`. Adding to all editor actions such a custom action would result in a lot of additional code being added to the editor core which is used by very few. Thus, the size of the editor bundle would grow a lot unnecessary.

[2018-03-01 15:32] stefanneculai commented on #1662
In the current version, we're leaving this as a `wontfix` because there are some things in the core which rely on that. This issue will be addressed in further major editor versions.

[2018-03-01 15:34] stefanneculai commented on #1156
@AhHa45 the popups should be hidden by calling the `editor.popups.hideAll` method in the callback. https://wysiwyg-editor.froala.help/hc/en-us/articles/115000555949

[2018-03-01 15:59] AhHa45 commented on #1156
@stefanneculai thank you so much, I have over overlooked that :)

[2018-03-01 16:19] SeanKendle opened #2617 "Image dragged into Link, and then dragged back out, takes link with it"
##### Expected behavior.
If an image exists *with other text around it* within a link, when dragging the image out of the link, it should be able to be removed from the link without bringing the link along with it.

##### Actual behavior.
Dragging an image into a link, and then dragging it out, pulls the entire link with the image, including the text inside the link.

##### Steps to reproduce the

[2018-03-01 16:22] brandon-runbiz commented on #2579
That solved my problem! Thank you!

[2018-03-01 16:57] slavakam opened #2618 "Froala input edit popup"
How don't show editable popup when click on input!
Documentation has method popup.hide(id) but how id I do not how and where it takes
https://jsfiddle.net/wc5c3jhk/46/

[2018-03-01 18:47] stefanneculai commented on #2618
@slavakam do not include the Forms plugin or disable it via the `pluginsEnabled` feature.

[2018-03-01 18:47] #2618 closed

[2018-03-01 19:07] pawansingh-snapwiz commented on #2570
@stefanneculai
Below I have given a link which is using 2.7.5 version still happening with it also please check.
[https://codepen.io/pawansingh/pen/ddWqZZ?editors=1010](url)

[2018-03-01 20:43] Tade0 commented on #2223
@stefanneculai Ok, thanks for the info.

[2018-03-02 00:12] largeden opened #2619 "About the enhancement of the 'paragraph_format' plugin."
Hi,

Requires features that can be set when using `paragraphFormatSelection.`

[code]

This option is available for other plugins of the same type, but not for paragraph_format plugin.

`fontFamilyDefaultSelection` `fontSizeDefaultSelection`

[2018-03-02 03:51] SwapnilMane commented on #1472
Yes, I tried on your website using my IE browser.

[2018-03-02 07:26] steve-tapley commented on #1693
@stefanneculai Any chance of this being fixed as per @jamesmoss comment above?

[2018-03-02 09:34] nico-onmap commented on #1497
I am having the same problem.

The thing is that froala applies the color to a `<span>` that gets added to each `<li>`:

[code]

So the color isn't applied to the bullets.

If there was a way to select and apply the color to the list only, like this it would fix the problem:

[code]

Note that first selecting a color, then creating a new list produces the same code, applying the color to the `<spa

[2018-03-02 10:31] javeriaanwer commented on #2316
here is the jsfiddle.

http://jsfiddle.net/JaveriaAnwer/ubdmyoep/43/

We are opening froala editor in kendo window. Image edit popup of z-index is set to 5 which is lower than kendo window z-index. We can not disturb any styling in existing UI. the only option is to chnage z-index of Image edit popup. how can we achieve this?

![image](https://user-images.githubusercontent.com/25203829/36887014-0b

[2018-03-02 15:09] #2609 closed

[2018-03-02 15:10] stefanneculai commented on #2602
@guipilon @Alderr should be fixed with the current Github master. Could you please give it a try and let us know your feedback? Thanks in advance.

[2018-03-02 15:10] #2602 closed

[2018-03-02 15:10] stefanneculai commented on #2592
@swiety85 should be fixed in the current Github master. Could you please give it a try?

[2018-03-02 15:10] #2592 closed

[2018-03-02 15:26] #2596 closed

[2018-03-02 15:31] #2589 closed

[2018-03-02 15:37] #2562 closed

[2018-03-02 16:01] #2573 closed

[2018-03-02 16:10] stefanneculai commented on #2569
@btmdave we've just checked this again in order to fix it. It looks the CodePen was outdated (version 2.6.0). Please find here an updated code pen: https://codepen.io/anon/pen/mXoYWe.

[2018-03-02 16:10] #2569 closed

[2018-03-02 17:11] #2598 closed

[2018-03-02 17:15] #2616 closed

[2018-03-02 17:45] #2601 closed

[2018-03-02 17:51] #2581 closed

[2018-03-02 18:00] #2549 closed

[2018-03-02 18:03] #2617 closed

[2018-03-02 18:31] #2619 closed

[2018-03-02 18:34] #2567 closed

[2018-03-02 18:40] chrisdeeming commented on #2418
@stefanneculai this still appears to be happening, but not on backspace. This time it seems to happen on return.

A user of ours created this video to demonstrate:

https://www.dropbox.com/s/1csv907tudfpczn/ScreenRecording_02-01-2018%2017%3A34%20%281%29.m4v?dl=0

I can reproduce the issue too, but perhaps only (or at least more reliably) on this demo:

https://www.froala.com/wysiwyg-editor/example

[2018-03-02 18:48] #2597 closed

[2018-03-02 18:59] stefanneculai commented on #2591
@mattbolt I believe your problem actually comes from the fact that you are not adding the custom tag to the `htmlAllowedTags` option.

[2018-03-02 18:59] #2591 closed

[2018-03-02 19:05] #2551 closed

[2018-03-02 19:08] stefanneculai commented on #2570
@pawansingh-snapwiz in the code pen you sent, you are overriding the entire pasting action and skipping all the pasting internals. In the `paste.beforeCleanup`, you get the raw HTML which is there on the clipboard. Then, inside the pasting action, we're doing some processing which cleans the unnecessary HTML.

[2018-03-02 19:21] pawansingh-snapwiz commented on #2570
@stefanneculai
In that case can u please tell how should I be doing it.

[2018-03-02 19:21] stefanneculai commented on #1472
@SwapnilMane are you getting the Word Paste modal?

[2018-03-02 19:23] stefanneculai commented on #2570
To get the HTML correctly, you should not override the HTML which is cleaned. As I said in the comment above, the `paste.beforeCleanup` is designed to return exactly the HTML from the clipboard handled by the browser.

[2018-03-02 19:26] stefanneculai commented on #1693
@steve-tapley we're taking this into consideration, however, I don't have a response yet.

[2018-03-02 19:27] stefanneculai commented on #1497
@nico-onmap that would introduce some problems when changing the style afterward for parts of the list. We're working on some improvements here.

[2018-03-02 19:33] stefanneculai commented on #2316
There are 2 things you should set:
[code]

[2018-03-02 19:54] khoanguyen commented on #2508
@stefanneculai The attachments are output from console.log(html) and screenshot of what I see on IE 11
![image](https://user-images.githubusercontent.com/824654/36918817-f81d19f0-1e0f-11e8-8757-5bab1eb2f478.png)

output.txt](https://github.com/froala/wysiwyg-editor/files/1776394/log.output.txt)

[2018-03-02 21:35] SeanKendle opened #2620 "Pasting Image into Editor forces image classes to be applied when they shouldn't"
##### Expected behavior.
Copy/pasting an image into the editor should not apply default image classes when `imageAlign` and `imageDisplay` buttons are removed from the `imageEditButtons` option per: https://github.com/froala/wysiwyg-editor/issues/2351

##### Steps to reproduce the problem.
Remove `imageAlign` and `imageDisplay` from the `imageEditButtons` option, then copy/paste an image into the

[2018-03-02 21:38] stefanneculai commented on #2620
Starting with version 2.7.4, it is possible to pass `null` to the `imageDefaultAlign` and `imageDefaultDisplay` options. Please use this as a replacement for the old way of doing it.

[2018-03-02 21:38] #2620 closed

[2018-03-04 18:38] chrisdeeming opened #2621 "On Windows, BIU formatting shortcuts are reset to on after switching them off and hitting space"
##### Steps to reproduce the problem.
https://youtu.be/lrxTRZGYfG8
https://youtu.be/MQYYtaY6MyE

##### OS.
Windows only AFAIK

##### Browser.
Chrome (at least)

[2018-03-05 09:48] ca-dsgn commented on #2230
Maybe this will help somebody in future: everybody who's looking for a mechanism to just load a default tag on imagemanager start:

`
$("#editor").froalaEditor().on('froalaEditor.imageManager.imageLoaded', function (e, editor, data) {

	$(".fr-image-list img").each(function() {

		if ($(this).attr("data-tag") != $(".fr-modal-tags a:first-child").text()) {

			$(this).parent().hide();
		}
	});

	$(

[2018-03-05 11:01] #2595 closed

[2018-03-05 11:15] #2603 closed

[2018-03-05 11:56] #2558 closed

[2018-03-05 12:23] #2429 closed

[2018-03-05 12:33] ca-dsgn opened #2622 "Froala removes <span> inside of <a> when links get edited"
##### Expected behavior.
Froala keeps <span> inside of <a> when links get edited

##### Actual behavior.
Froala removes <span> inside of <a> when links get edited

##### Steps to reproduce the problem.
Use this html snippet inside the editor

`<p><a href="#" style="background-color: #007398; display: inline-block;"><span style="display: block; color: #ffffff; padding: 10px 20px;">Test</span></a></

[2018-03-05 13:57] #2487 closed

[2018-03-05 14:40] stefanneculai commented on #2544
@LaurenceKaye it should be fixed on the current Github master. Could you please give it a try?

[2018-03-05 14:40] #2544 closed

[2018-03-05 14:47] #2622 closed

[2018-03-05 14:48] stefanneculai commented on #1527
I am closing this and marking as a `feature-request` as it is not possible to implement it in V2, but will be addressed in the next version.

[2018-03-05 14:48] #1527 closed

[2018-03-05 14:51] LaurenceKaye commented on #2544
@stefanneculai My jsFiddle is using 2.7.5, but give me a few minutes and I can check the latest github version.

[2018-03-05 14:51] stefanneculai commented on #2544
see https://jsfiddle.net/kyfotvfb/6/

[2018-03-05 14:56] stefanneculai commented on #2563
@jjaraMplus this should be fixed on the current master. If you still experience the problem please create a jsFiddle and we'd be happy to look into it. You could use the following as a starting jsFiddle: https://jsfiddle.net/froala/wc5c3jhk/.

[2018-03-05 14:56] #2563 closed

[2018-03-05 14:56] LaurenceKaye commented on #2544
@stefanneculai Look's like it is fixed on the master. Thanks

[2018-03-05 14:58] #2492 closed

[2018-03-05 15:04] #2508 closed

[2018-03-05 15:04] stefanneculai commented on #2508
@khoanguyen thanks for all the details. The last commit should fix it.

[2018-03-05 15:14] #2613 closed

[2018-03-05 15:44] #2585 closed

[2018-03-05 15:44] stefanneculai commented on #2585
According to the Browser Usage stats (https://caniuse.com/usage-table), there are very few users currently using iOS 7, therefore we decided to remove the support for it.

[2018-03-05 15:52] #2565 closed

[2018-03-05 15:56] stefanneculai commented on #2604
Fixed on the current master.

[2018-03-05 15:56] #2604 closed

[2018-03-05 15:59] #2530 closed

[2018-03-05 16:09] #2608 closed

[2018-03-05 16:13] chrisdeeming commented on #2585
Perfectly reasonable and fine by us. Good move.

[2018-03-05 16:15] #2588 closed

[2018-03-05 17:11] #2600 closed

[2018-03-05 17:12] stefanneculai commented on #2335
@bryannovoed this looks like a browser rendering issue of the cursor. Unfortunately, there is not too much we can do from our side.

[2018-03-05 17:12] #2335 closed

[2018-03-05 17:57] khoanguyen commented on #2508
@stefanneculai Thanks for fixing this. How could I apply the fix to our websites? We're using 2.7.3

[2018-03-05 18:17] stefanneculai commented on #2508
You could download the latest 2.7.6-dev from Github or wait the official release for 2.7.6.

[2018-03-05 18:37] #2610 closed

[2018-03-05 20:17] khoanguyen commented on #2508
Do you have a release date for 2.7.6 so that we will have a plan for our release as well ?

Thanks and Regards.

[2018-03-06 02:26] githubyangwei opened #2623 "How to implement formatting function"
=

[2018-03-06 06:10] javeriaanwer opened #2624 "adding froala custom button in loop"
Hi,

I am using Froala Editor on multiple pages of my application, so I created a separate FroalaEditor class that initializes froala editor for each page. Every page is sending its own froala options and custom button details. All functions are working fine except custom button callback.

I am getting array of custom button with its required fields. like this:

[code]
I am creating custom button

[2018-03-06 07:32] githubyangwei commented on #2624
fuck beautiful girl

[2018-03-06 08:23] stefanneculai commented on #2623
Please provide more details. Thank you.

[2018-03-06 08:23] #2623 closed

[2018-03-06 08:25] stefanneculai commented on #2624
It's because the context changes. You should do something like this:

[code]

[2018-03-06 08:25] #2624 closed

[2018-03-06 08:28] javeriaanwer commented on #2624
I did this but its calling function on froala initialization, I don't want to call it while its initializing editor.

[2018-03-06 08:29] stefanneculai commented on #2624
No, it shouldn't call if you don't call it specifically using `()`.

[2018-03-06 08:36] javeriaanwer commented on #2624
But I need to pass some parameters in callback function

[2018-03-06 08:37] stefanneculai commented on #2624
Then you should do something like below:

[code]

PS: We're using this repo mainly for bug tracking. For tech support, please reach us via our website. Thanks.

[2018-03-06 10:17] mlysak commented on #2600
Thank you for quickly resolving this issue. It works great now!

[2018-03-06 10:18] mlysak commented on #2487
Thank you for fixing this! Now it works like a charm.

[2018-03-06 17:35] guipilon commented on #2602
Sorry for the delayed response, but I tested here with your master and the problem is still there.

[2018-03-06 18:10] idoromm opened #2625 "Critical BUG - Froala editor suddenly becomes "read only" after random paste/typing"
(Using in React JS / Node app)

##### Expected behavior.
Typing/pasting content (text) normally

##### Actual behavior.
Editor randomly becomes "disabled" or "read only" and only works after refresh or render() is called on the editor.
Reproducing it for us does not depend on character count or line count (it can happen with 1 character each line for 5 lines, or 19 lines etc...)

##### Steps to re

[2018-03-06 21:19] #2625 closed

[2018-03-07 00:11] largeden opened #2626 "There is a problem when deleting a tag."
##### Expected behavior.
Type 'test.com' (a `a` tag is automatically insert).
Then use the backspace key to delete 'test.com'.
`a` tags and characters will be deleted.

##### Actual behavior.
An empty `a` tag remains.

##### Steps to reproduce the problem.
- Type 'test.com' (a `a` tag is automatically generated).
- Then use the backspace key to delete 'test.com'.
- Check the source code in Code vi

[2018-03-07 01:43] mattbolt commented on #2591
I definitely have the custom tag added to htmlAllowedTags option.

[2018-03-07 08:54] stefanneculai commented on #2591
@mattbolt please find here a working example: https://jsfiddle.net/wc5c3jhk/88/.

[2018-03-07 08:56] stefanneculai commented on #2602
@guipilon could you please send us a document you're pasting from?

[2018-03-07 11:28] guipilon commented on #2602
[test.zip](https://github.com/froala/wysiwyg-editor/files/1788939/test.zip)

[2018-03-07 11:35] stefanneculai commented on #2602
@guipilon thanks. The last commit should fix it. Please make sure that you change the`htmlRemoveTags` and `pasteDeniedAttrs` options as well.

[2018-03-07 11:36] guipilon commented on #2602
change to what?
could you please guide me on this?

[2018-03-07 11:37] stefanneculai commented on #2602
[code]

[2018-03-07 12:38] guipilon commented on #2602
thank you guys!
the master is working for me now.
Do you have any ETA to release this?

[2018-03-07 12:48] mattbolt commented on #2591
Thanks @stefanneculai i will look over my code again and see if I can either reproduce the error or fix the problem ;)

[2018-03-07 14:17] stefanneculai commented on #2591
Thanks for the jsFiddle. It looks the problem was there only when pasting from one editor to another.

[2018-03-07 14:28] mattbolt commented on #2591
I thought so too - however it works when you don’t have my plugin enabled and a reduced set of options ... just htmlAllowedTags and htmlAllowedEmptyTags - I can send a fiddle tomorrow if you need

[2018-03-07 14:30] fwfabricio commented on #1805
Olá, o seu método não é o mais indicado, por que se você tiver dois ou mais videos adicionados, ele sempre irá excluir o ultimo video, mesmo que a intenção tenha sido deletar o primeiro.
Para resolver isso, use a variavel $video, segue exemplo abaixo:

.on('froalaEditor.video.beforeRemove', function (e, editor, $video) {
   $.ajax({method: "POST",url: "delete_video.php",data: {src: $video.find('vi

[2018-03-07 14:40] stefanneculai commented on #2591
The last commit should fix it anyway :)

[2018-03-08 03:52] githubyangwei opened #2627 "How to implement the office word format brush on froala"
##### Expected behavior.
How to implement the office word format brush on froala

like MS office word format brush

[2018-03-08 10:19] heymexa commented on #1004
[My solution](https://github.com/heymexa/froala-images-multi-upload)

[2018-03-08 10:53] heymexa commented on #643
For resolve this problem I have developed the plugin - [Images Multi Upload](https://github.com/heymexa/froala-images-multi-upload)

The plugin uses options from *image.js* plugin and allows to send many images to the server.

Enjoy!

[2018-03-08 17:59] pkundariya commented on #1946
Hi Guys,

I have issue with uploading image to editor from long time. i am not finding any solution could anyone please help me out to this?

My Server is NGINX so please give solution according it. Thanks

I am using Froala Editor. When trying to drag and drop image to upload in editor i see below error message.
![image](https://user-images.githubusercontent.com/37189926/37167612-60c7c604-2328-11

[2018-03-08 18:01] pkundariya opened #2628 "Froala Editor Image Uploading Issue in NGINX Server"
Hi Guys,

I have issue with uploading image to editor from long time. i am not finding any solution could anyone please help me out to this?

My Server is NGINX so please give solution according it. Thanks

I am using Froala Editor. When trying to drag and drop image to upload in editor i see below error message.

In Console Error Message is:

![image](https://user-images.githubusercontent.com/371

[2018-03-08 18:15] markedmondson opened #2629 "2.7.6 bundle only includes minified JS"
##### Expected behavior.
Previously the full source files were in the zip but now I only see the .min files for the javascript (the CSS is still available raw). Is this a conscious decision?

##### Actual behavior.
No raw JS source files.

[2018-03-08 18:23] stefanneculai commented on #2629
If you have a Business or Professional license, the unminifies JS is available for download from our website. Just make sure you are logged in and download from oue website.

[2018-03-08 18:23] #2629 closed

[2018-03-08 18:23] markedmondson commented on #2629
Ah, I wasn't logged in. Thanks :)

[2018-03-08 20:43] ncmancuso commented on #2606
@stefanneculai is there an isolated commit for this fix that I can use for the meantime until we do a version upgrade?

[2018-03-08 23:08] jacobq opened #2630 "Attempting to destroy editor fails when using `editInPopup` option"
##### Expected behavior.
Calling [`.froalaEditor('destroy');`](https://www.froala.com/wysiwyg-editor/docs/methods#destroy) after initializing with the [`editInPopup` options](https://www.froala.com/wysiwyg-editor/docs/options#editInPopup) should not result in any errors.

##### Actual behavior.
As you can see [in this jsbin](https://jsbin.com/qenucug/9/edit?html,js,output), this results in `TypeEr

[2018-03-08 23:15] seb303 opened #2631 "pastePlain option is not working"
##### Expected behavior.
When pastePlain is set true I would expect any pasted content to appear as plain text only

##### Actual behavior.
Rich content is pasted

##### Steps to reproduce the problem.
https://www.froala.com/wysiwyg-editor/examples/plain-paste
Copy the existing text in the editor, and paste it back in.
The link "pastePlain" is not removed.
Same happens with any external content pa

[2018-03-09 11:11] seb303 opened #2632 "Extra spaces inserted when pasting"
##### Expected behavior.
Multiple white-space in pasted HTML should collapse to single spaces.

##### Actual behavior.
Every white-space in pasted HTML is rendered as an individual space.

##### Steps to reproduce the problem.
Go here, and copy & paste some content which has multiple white-space in the source.
https://www.froala.com/wysiwyg-editor/examples/enter

##### OS.
Windows 8.1

##### Brows

[2018-03-09 11:18] chrisdeeming commented on #2585
@stefanneculai when the browser support page was updated, I **think** you increased the Android minimum requirements to Android 6.

We've recently had issues reported with Android 4.x but Android 5.x seems to work fine. Worth noting that Android 5, I believe, was the first Android version to (mostly) ship with Chrome as its default browser. Which, if kept up to date, should obviously work fine reg

[2018-03-09 13:23] Panman8201 commented on #2630
Yep, that's the error [ember-froala-editor](https://github.com/froala/ember-froala-editor) is seeing on the [failing build](https://travis-ci.org/froala/ember-froala-editor/jobs/350988053#L2852) for this new version.

Thanks for tracking this down and reporting it @jacobq !

[2018-03-09 15:10] SeanKendle opened #2633 "Add Option for Line Breaker to Move to Mouse X position on show"
Line Breaker shows up in the center of the parent element, so things like floated-left photos make it impossible to insert a line break.

##### Steps to reproduce the problem.
You'll have to add the line breaker plugin to the live example at https://www.froala.com/wysiwyg-editor

Then, paste in this code:

`<p><img src="https://s3-eu-west-1.amazonaws.com/froala-eu/temp_files%2F1520607126390-Hydran

[2018-03-09 15:56] chrisdeeming commented on #2418
@stefanneculai unfortunately we're still having reports of slightly abnormal behaviour with this one (after upgrading to 2.7.6):

https://www.dropbox.com/s/4b9tm6xbktul4do/freola-bug1.mp4?dl=0

[2018-03-09 16:45] SeanKendle opened #2634 "Can't Backspace or Delete P tag if before or after contenteditable="false""
##### Expected behavior.

- If the cursor is after a contenteditable=false element, hitting backspace should delete the P tag, leave cursor where it is
- If the cursor is before a contenteditable=false element, hitting the delete key should delete the P tag, leave cursor where it is

##### Actual behavior.
Can't delete P tags that are before contenteditable=false elements using delete key
Can't de

[2018-03-09 19:01] SeanKendle opened #2635 "Triple Click in a Div, selection bleeds into next Div (Chrome)"
##### Expected behavior.
Triple-click to select text within a Div should only select the text within that div. It appears to also select partially into the next Div

##### Actual behavior.
It appears to also select partially into the next Div

##### Steps to reproduce the problem.
Add this code into the editor at https://www.froala.com/wysiwyg-editor:

[code]

Triple-click "test1 test1", center th

[2018-03-09 19:47] SeanKendle opened #2636 "Image Popup closing when using external file manager"
I have created a new tab and Browse button to open an iframe with our file manager in it, for selecting images.

In the _inputFocus function in froala_editor.js, there is a bit of code that causes the image insert popup to hide when I click inside the file manager iframe:
[code]

I have to comment that out to prevent the popup from closing while selecting an image.

Is there any way to work around

[2018-03-09 20:23] FethiLamaici commented on #2588
Hello @stefanneculai

I tested the latest version 2.7.6 and unfortunately the backspace bug still exists.

In RTL “Arabic language”, clicking once on the backspace deletes two alphabets.

I appreciate if you can take a look again on this bug because it’s totally annoying when I write in Arabic with Froala editor.

Tested using IOS 11.3 beta 4 / Safari & Chrome

Thanks.

[2018-03-10 13:11] gmacherey commented on #1515
Hi guys, I'm having the same problem and no solution so far. Any solution on this ? the $.FE.BLOCK_TAGS is not doing anything.

Thanks