[2017-06-16 11:32] stefanneculai commented on #2028
@largeden could you please make a recording? We tried and appears to work fine on our website.

[2017-06-16 11:35] #2032 closed

[2017-06-16 11:35] stefanneculai commented on #2030
@watsy0007 could you please provide more details?

[2017-06-16 11:35] #2031 closed

[2017-06-16 11:39] stefanneculai commented on #2007
@largeden I am not sure I understand exactly how to reproduce this? Could you please offer few more details? Maybe a step by step? Thanks a lot!

[2017-06-16 13:08] largeden commented on #2028
@stefanneculai
sorry. I thought my case might be special.

### case1.
Word will work correctly with style paste.
But Excel does not work with style paste.
![excel_paste1](https://user-images.githubusercontent.com/5575931/27227318-ffb181c2-52dd-11e7-833c-71d49a271a02.gif)

### case2.
Add condition class=\"?Xl|class=\'?Xl|class=Xl
![excel_paste2](https://user-images.githubusercontent.com/5575931/272

[2017-06-16 13:17] largeden commented on #2007
@stefanneculai
I'm sorry I did not explain.

![ios_enter_bug1](https://cloud.githubusercontent.com/assets/5575931/26630775/3379a130-4643-11e7-8b32-0a7993dfc58a.gif)

(The default paragraph is the P tag)
#### Step1.
P Write the text in the paragraph and replace it with H1.
#### Step2.
Press Enter.
The div tag is displayed instead of the default paragraph P.
(On the macbook, it appears as the defaul

[2017-06-16 14:43] jpgilchrist opened #2033 "image.beforePasteUpload doesn't eventually trigger image.inserted"
Not sure if this is a feature request or a bug fix... but this is pretty important for us.

##### Expected behavior.
We have functionality that's expected to run on every image uploaded, because we need to format the link/image tag a certain way with various attributes.

I expected the image paste upload event would eventually trigger the `image.inserted` event because there's no equivalent `image

[2017-06-16 15:12] watsy0007 commented on #2030
@stefanneculai sorry, it's my fault.

[2017-06-16 15:12] #2030 closed

[2017-06-16 15:29] largeden commented on #2021
@Wuyialex hello :p
I am interested in this issue.
But I failed to reproduce the problem.
What OS and browser issue are you having?
For reference, how about dragging with the mouse?

[2017-06-16 15:40] largeden commented on #1963
@stefanneculai
I thought this problem was solved in #769.
But I think the issue is happening again.

[2017-06-16 16:22] alassiter opened #2034 "Extra lines inserted when changing line to header style"
##### Expected behavior.
When I change a line to a header style, I should not get extra lines entered elsewhere

##### Actual behavior.
When I have text in the editor. If I change a line to a Header style, extra lines are inserted wherever blank lines are. The following was recorded using the Enter Demo on the Froala website

![screen recording 2017-06-16 at 12 15 pm](https://user-images.githubuse

[2017-06-16 20:55] jturmel commented on #1281
Is there anymore reason on this? Or worth looking at again?

[2017-06-16 23:58] joelabair commented on #2027
I have the same issue.

froala_editor.pkgd.js:1143
Uncaught TypeError: Cannot read property 'indexOf' of null
    at $on (froala_editor.pkgd.js?hash=1819896742:1143)
    at Object.bindClick (froala_editor.pkgd.js?hash=1819896742:1071)

[2017-06-17 05:17] joelabair opened #2035 "Popup position moves"
##### Expected behavior.
the popup points to the element selected

##### Actual behavior.
the popup jumps approx. 200px to the right

##### Steps to reproduce the problem.
[https://codepen.io/joelabair/pen/eRggOm](https://codepen.io/joelabair/pen/eRggOm)

1. select all "paragraph text" in either editor
2. click the bold icon (or ctrl+b) - text is boldened and the popup remains
3. click the bold ic

[2017-06-18 00:09] jeremylynch commented on #2029
No worries @stefanneculai
[Sample Word document.docx](https://github.com/froala/wysiwyg-editor/files/1082837/Sample.Word.document.docx)

[2017-06-18 08:01] Wuyialex commented on #2021
Mac OSX sierra, chrome, safari.....
After typing asia languages, toolbar doesn't appear in drragging with mouse.
But I found that it does in selection with keyboard(shift + cursorkey).
There are same situation in (https://codepen.io/Froala/pen/evobdr)
This is my config in Froala.
const config = {
	spellcheck: false,
	placeholderText: 'Rian',
	editorClass: 'mainEditor',
	width: '100%',
	charCounter

[2017-06-18 09:52] largeden commented on #2021
@Wuyialex
Thank you for a detailed explanation.

@stefanneculai
I found this problem to appear in the chrome safari. (It does not appear in Firefox.)

##### chrome
![inline_1](https://user-images.githubusercontent.com/5575931/27259827-e6e4a8b6-5456-11e7-954f-a88c7bf3de5a.gif)

##### safari
![inline_2](https://user-images.githubusercontent.com/5575931/27259830-f3dac5e6-5456-11e7-84d5-5f171aac9800.g

[2017-06-18 17:26] shawnpk opened #2036 "Editor not showing up in production on Digital Ocean server"
I'm implemented the wysiwyg-rails gem in my app. I followed the installation instructions and I have the editor working in development. When I push my app to my Digital Ocean server, the editor does not show up. I'm getting this error in the console:
`TypeError: $('#wysiwyg').froalaEditor is not a function. (In '$('#wysiwyg').froalaEditor', '$('#wysiwyg').froalaEditor' is undefined)`
I thought may

[2017-06-19 08:07] stefanneculai commented on #2036
@shawnpk for tech support please reach us via our website. Thank you.

[2017-06-19 08:07] #2036 closed

[2017-06-19 08:31] largeden commented on #2021
@stefanneculai
I found the cause for this issue.
We define not to display the inline toolbar when the last typing is IME true.
If editor.keys.isIME () is removed, there is no problem in operation.
How about removing it?

[code]

[2017-06-19 08:45] yunClouds opened #2037 "Problem with Insert video by URL"
##### Expected behavior.
Insert video by URL  does not respond

##### Actual behavior.
 Even on the official website as Example , I tested it ,but problem still there.

##### Steps to reproduce the problem.
![image](https://user-images.githubusercontent.com/26613310/27276582-3fca8cae-550e-11e7-8ec8-2467830eb775.png)

##### OS.
angular 4 : my app is base on angular 4 ,and my package.json and angula

[2017-06-19 08:48] stefanneculai commented on #2037
By default the editor supports the following video providers: Youtube, Vimeo, DailyMotion, Yahoo, Rutube and Vidyard.

[2017-06-19 08:48] #2037 closed

[2017-06-19 08:57] yunClouds commented on #2037
First of all ,Thanks @stefanneculai
Can we redefine the  video providers? And how if it`s can, any method is provided?

[2017-06-19 08:58] stefanneculai commented on #2037
You would have to override the following global object:

[code]

[2017-06-19 09:37] yunClouds commented on #2037
ok , Thanks a lot@stefanneculai ，I will try it.

[2017-06-19 10:36] stefanneculai commented on #2035
This issue has been fixed last week. It should work correctly on Github master.

[2017-06-19 10:36] #2035 closed

[2017-06-19 13:12] stefanneculai commented on #2007
@largeden could you please try with the current master from Github and let us know if the problem is fixed?

[2017-06-19 14:05] romainjanvier opened #2038 "Url parser after paste"
##### Expected behavior.
Transform url in pasted text into html link tag

##### Actual behavior.
The url doesn't match with the url plugin regexp

##### Steps to reproduce the problem.
Paste not only an url but a text containing an url, for example :
"Here is a site link :
https://developer.mozilla.org
This was the site link"

After that, to transform url into html link go at the end of the url li

[2017-06-19 14:44] largeden commented on #2007
@stefanneculai
Thank you! =b
I think that the problem that I pointed out at first is solved.
![bugfix](https://user-images.githubusercontent.com/5575931/27290139-4d1df2f4-5547-11e7-966d-e411ca04517a.gif)

However... if you press Enter after entering Korean, two lines may be created.
This is very rare and patterns are hard to find.
There is a feeling that it is canceled from the first word after en

[2017-06-19 14:53] largeden commented on #2007
@stefanneculai
oh..
![new_bug](https://user-images.githubusercontent.com/5575931/27291121-5579c01a-554a-11e7-8654-489bb2040e02.gif)
After typing dot (.) And pressing enter, there are two lines..

[2017-06-19 19:13] jturmel commented on #1973
I'm having the same problem when hitting "enter", it pushes the scroll of the page down quite a bit.

[2017-06-19 19:38] theknet opened #2039 "Access table cell formatting when focussed on link inside table cell"
##### Expected behavior.
There should be a way to access table cell formatting toolbar when the cursor is within a link that resides in a table cell

##### Actual behavior.
While focused inside a link the only popup available is the link editing popup. Focusing inside non-linked text shows the table cell formatting. If the link is the only content inside the cell, there is no way to format the cel

[2017-06-20 03:09] yunClouds opened #2040 "It's hard to get the cursor when I had inserted an video into the edit."
##### Expected behavior.
 hardly to get the cursor when I had inserted an video  into the edit.

##### Actual behavior.
![image](https://user-images.githubusercontent.com/26613310/27314864-e2f5e2f8-55a8-11e7-8934-e46bd2df598c.png)

##### Steps to reproduce the problem.
After insert one video ,we always need to edit other parts of text , but  I found its  hard to get the cursor when I had inserted

[2017-06-20 11:12] krecebli opened #2041 "image.insert() in a loop"
##### Expected behavior.
I am want to add checked images to the editor by iterating:

[code]

##### Actual behavior.
But only the first insert works (if let's say 10 checked checkboxes, only checkboxes[9] works), other doesn't work and there is even no error.

##### Steps to reproduce the problem.
I don't know could you reproduce it, but the steps are:
- I add this:
[code]
So it opens custom modal

[2017-06-20 14:33] riccardomessineo commented on #2020
Any news?

[2017-06-21 01:36] FinesseRus opened #2042 "Bug: unwanted scroll on text paste in the specific conditions"
##### Expected behavior.
The page or a block is not scrolled on a text paste.

##### Actual behavior.
A block gets scrolled on a text paste and sometimes the text editor gets out of view.

##### Steps to reproduce the problem.
1. Make a HTML/CSS layout like the one in [this demo](https://codepen.io/TheFinesse/pen/eRWyGg). The page is not scrollable and devided into two section: top section (header

[2017-06-21 11:35] RHinderiks opened #2044 "Toolbar visible outside of bootstrap modal panel"
##### Expected behavior.
Toolbar visible within bootstrap modal panel or hidden.

##### Actual behavior.
When a modal panel contains an froala editor and its scrolled outside of the modal panel frame it sometimes pops up in the space above the modal panel when switching to an different window and back

##### Steps to reproduce the problem.
Place a froala editor inside an bootstrap modal panel and

[2017-06-21 11:58] stefanneculai commented on #2038
Please make sure you are using the latest version and that you include the URL plugin.

[2017-06-21 11:58] #2038 closed

[2017-06-21 11:59] stefanneculai commented on #2040
Please make sure you have included the `froala_style.css` file. For that we designed the line breaker plugin, however there isn't too much we can do for it at this moment.

[2017-06-21 11:59] #2040 closed

[2017-06-21 12:04] stefanneculai commented on #2041
@krecebli after you insert one image, the editor selects that image and when you add the other image, the selected image is probably being replaced. What you should do is to place the selection after the just inserted image or use the `html.insert` method instead which would be a better approach in this case because the image wouldn't get selected.

[2017-06-21 12:04] #2041 closed

[2017-06-21 12:05] stefanneculai commented on #2044
Are you able to replicate it here: https://github.com/froala/wysiwyg-editor/blob/master/html/3rd-party/bootstrap/modal.html?

[2017-06-21 12:21] RHinderiks commented on #2044
Right i forgot to mention we use the angular version so the page you linked doesnt work quiet the same way, however adding multiple editors to that example results in some strange behaviour but this might just be an copy paste mistake at our end.

![screen shot 2017-06-21 at 14 17 56](https://user-images.githubusercontent.com/26223525/27383805-d7f76996-568c-11e7-91cc-13be4ec6aaf0.png)

[2017-06-21 12:48] krecebli commented on #2041
I can't use `html.insert` because I use `image.inserted` event, so how can I place the selection after the just inserted image (or deselect the just inserted image)? I couldn't find anything about this in the docs.

[2017-06-21 12:58] #2042 closed

[2017-06-21 12:58] stefanneculai commented on #2044
@RHinderiks have you added https://github.com/froala/wysiwyg-editor/blob/master/html/3rd-party/bootstrap/modal.html#L44?

[2017-06-21 13:11] RHinderiks commented on #2044
This doesn't seem to have any effect

[2017-06-21 13:46] stefanneculai commented on #2044
@RHinderiks Could you please make a jsFiddle for it or something similar?

[2017-06-21 13:47] stefanneculai commented on #2041
See https://github.com/froala/wysiwyg-editor/issues/803#issuecomment-144942840. For tech support, please reach us via our website.

[2017-06-21 14:10] yunClouds commented on #2040
oh yeah , I  missing that file . Thank you @stefanneculai

[2017-06-21 14:36] krecebli commented on #2041
I couldn't understand how the markers can help me. I am using froala just few days, don't know what ara markers for yet.

[2017-06-21 14:39] stefanneculai commented on #2041
You could place selection markers and then restore selection to have selection after the image.

[2017-06-21 14:53] krecebli commented on #2041
I tried this:

[code]

Probably I misunderstood something.

[2017-06-21 15:10] stefanneculai commented on #2041
@krecebli we use this repo for bug tracking. Please contact us via our website for technical support. Thank you.

[2017-06-21 15:14] krecebli commented on #2041
I solved the problem. I used `selection.setAfter` method at `image.insert` event like this:
[code]
And now it is working :) Thanks a lot!

[2017-06-22 07:59] RHinderiks commented on #2044
That might be a bit difficult and time consuming, so we'll set up an testing env. (which we have done before for you) and i will mail you the info etc. (This might take some time)

[2017-06-22 08:17] JSteunou opened #2045 "New release?"
Hi,

could you publish a new release please? I see a lot of bugfix since the last one (nearly a month) even some major fixes like this one #2004 which affect chrome 60 which is now out & public.

Thank you for your efforts, keep rocking :rocket:

[2017-06-22 08:36] mbaudry opened #2046 "No autofocus on mobile"
Hello !

When the editor is initialized, I would like to autofocus it automatically. It works on my desktop, but nothing happened on mobile.

##### Steps to reproduce the problem.
https://jsfiddle.net/bysp4rxv/7/

##### OS.
iOS 10

##### Browser.
Safari

Thank you !

[2017-06-22 09:20] stefanneculai commented on #2045
There is going to be a new release in couple of days.

[2017-06-22 09:20] #2045 closed

[2017-06-22 09:21] stefanneculai commented on #2046
On iOS it is possible to focus inside an input only after the user makes an action (e.g. clicking a button). This is a limitation set by Apple and there is no work around for it.

[2017-06-22 09:21] #2046 closed

[2017-06-22 09:25] stefanneculai commented on #2044
@RHinderiks Looking forward for that so that we can help with getting it work correctly for you.

[2017-06-22 09:30] mbaudry commented on #2046
Ok, but I have the same thing on Android...

[2017-06-22 09:44] JSteunou commented on #2045
Thank you @stefanneculai :)

[2017-06-22 11:38] stefanneculai commented on #2007
@largeden could you please check it again now?

[2017-06-22 12:34] largeden commented on #2007
@stefanneculai 👍
all clear!
Korean, Japanese, special characters, and English typing also works normally.
Thank you. :)

[2017-06-22 12:34] #2007 closed

[2017-06-22 12:35] stefanneculai commented on #2007
Thanks for helping us to nail it 😃 .

[2017-06-22 15:37] stefanneculai commented on #2028
@largeden could you please try now?

[2017-06-22 16:36] stefanneculai commented on #2034
It is fixed on the latest master.

[2017-06-22 16:36] #2034 closed

[2017-06-22 16:43] #2027 closed

[2017-06-22 16:59] #2033 closed

[2017-06-22 17:12] #2026 closed

[2017-06-22 17:14] stefanneculai commented on #2029
Duplicate of #1967.

[2017-06-22 17:14] #2029 closed

[2017-06-22 17:18] stefanneculai commented on #1968
The problem on jsFiddle is coming from the fact that the `froala_style.css` file is not included from the same URL as the JS. Copying it to the STYLE directly in jsFiddle fixes it: https://jsfiddle.net/6h7xcqdy/2/.

[2017-06-22 17:18] #1968 closed

[2017-06-22 17:18] stefanneculai commented on #1938
We're closing this due to lack of response.

[2017-06-22 17:18] #1938 closed

[2017-06-22 17:19] stefanneculai commented on #1997
Closing this due to lack of response. Would be happy to look into it if you could provide a jsFiddle so that we can see the problem. Thanks.

[2017-06-22 17:19] #1997 closed

[2017-06-22 18:59] robclancy commented on #1997
We have this issue too. Doesn't happen all the time. I am able to reproduce by editing an old image in a table cell from our legacy articles from when we used redactor.  In a table cell it actually gets quite buggy, will try make something you can reproduce with.

I actually can't reproduce after some editing on the same article, will keep messing with it and try get it reproducible.

I have had s

[2017-06-22 19:03] robclancy commented on #1997
Testing more the `mouseup` event isn't stopping the handle resizing, I then click to make it fire again and it stops the resizing however the overlay stays and the editor is locked.

[2017-06-22 19:23] robclancy commented on #1997
I can't reproduce on codepen and can't spend more time debugging, will wait for more user reports. If it is only legacy data then might be fine for us anyway.

[2017-06-23 01:40] largeden commented on #2028
@stefanneculai 👍 👍
Perfect!

[2017-06-23 02:02] largeden opened #2047 "Problems with line_breaker plugin."
##### Actual behavior.
The breaker for the element defined with span.fr-video is not correct.

##### Steps to reproduce the problem.
![20170623_104655](https://user-images.githubusercontent.com/5575931/27463396-4b3d4d3c-5802-11e7-8563-e7ffff6764db.gif)

##### OS.
Windows, OSX

##### Browser.
all

----

`$tag1.after()` is not a problem, but `$tag2.before()` is a problem.

[2017-06-23 08:45] #2028 closed

[2017-06-23 08:59] #2047 closed

[2017-06-23 12:01] RHinderiks commented on #2044
We solved out issue by setting toolbar sticky to false. Personally i think our combination of an outdated bootstrap was the problem maker here.. We'll keep an eye out for it in the future if it does pop up again we'll let you know.

[2017-06-23 12:01] #2044 closed

[2017-06-23 19:58] Panman8201 opened #2048 "Update ember plugin Webpage"
Another minor update whenever you get a chance, the [ember plugin Webpage](https://www.froala.com/wysiwyg-editor/docs/framework-plugins/ember) needs a couple changes;

1. The compatibility version should be changed to 2.4.**2**+
2. Remove the "Breaking changes..." section

Thanks!

[2017-06-25 01:08] jeremylynch commented on #1962
@stefanneculai if all children are selected, couldn't we just apply the inline styling directly onto the `ul` element?

[2017-06-25 13:06] VitaliyLogvin opened #2049 "Emoticon popup does not fit on the screen"
Hi. Can this be somehow corrected?
![screen shot 2017-06-25 at 16 01 01](https://user-images.githubusercontent.com/5080851/27516301-2f8268b0-59c0-11e7-99de-ef0bc63bdbe0.png)

[2017-06-26 02:17] tnchuntic opened #2050 "Aviary plugin when editing PNG file it converts it to an JPEG blob"
##### Expected behavior.
Aviary plugin should return the exact image type of the edited image.
![59506a63e5ddb](https://user-images.githubusercontent.com/4864523/27522488-c480e3ca-5a69-11e7-9d9d-979deb7d2113.jpg)

##### Actual behavior.
Aviary plugin when editing PNG file it converts it to an JPEG blob which will loss the transparency effect and make the background black/dark gray.

![5950660f077f

[2017-06-26 03:11] tnchuntic opened #2051 "Aviary Plugin - Uncaught TypeError: Cannot read property 'image' of undefined at HTMLImageElement.img.onload"
##### Expected behavior.
Aviary Plugin - Uncaught TypeError: Cannot read property 'image' of undefined at HTMLImageElement.img.onload

##### Actual behavior.
It should be saving the image without error.

##### Steps to reproduce the problem.
Step1: Edit image
Step 2: Save Image

Note: This bug/error is not consistently showing, sometimes the saving will be successful and sometimes it will throw th

[2017-06-26 03:59] robclancy opened #2052 "When inserting HTML using the API, URLs aren't linked"
##### Expected behavior.
I expect, just like when pasting or typing, that a URL will turn into a link.

##### Actual behavior.
Just inserts as text, you need to put cursor at the end of URL and press space to make it autolink.

##### Steps to reproduce the problem.
https://codepen.io/anon/pen/GEMywx

[2017-06-26 08:04] VitolDK opened #2053 "The default settings for table"
Now when creating a table:

[code]

How to set the default class when creating a table?
[code]

[2017-06-26 13:17] VitaliyLogvin opened #2054 "picture load not working on Lumia 950"
Users write.
_"On Lumia 950 (Windows 10 Mobile, Microsoft Edge browser). I click the picture icon, a window appears with the message that I need to select a file, click on it and it disappears. It's all. Nothing more happens."_

[2017-06-26 15:56] JSteunou opened #2055 "No "contentChanged" event on iOS suggestion keyboard"
##### Expected behavior.

Froala should trigger the `contentChanged` event

##### Actual behavior.

No event

##### Steps to reproduce the problem.

Use iOS, start typing a few letter, accept a word suggestion which will be paste inside the content editor, but hélas without `contentChanged` triggered.
User have to touch at least once the content editor to make froala trigger the event.

##### OS.

[2017-06-26 16:27] setuun opened #2056 "Performance very slow on Android"
##### Actual behavior.
We want to use the froala-editor in a slider(flickity),
but if we insert more than one instance, the slide animation gets very slow.
And it get worse with every additional instance.

First i thought, its the sliders problem, but after i made a testcase with Quill,
and added many many instances there, the slider doesnt get slow.

Please try to fix this, we really want to use

[2017-06-26 19:43] stefanneculai commented on #2052
`html.insert` method is designed to insert the HTML passed to it without making such changes.

[2017-06-26 19:43] #2052 closed

[2017-06-26 19:45] stefanneculai commented on #2049
Hi @VitaliyLogvin! This is on our ToDo list as a `feature-request`. We don't have ETA for it at this moment.

[2017-06-26 19:45] #2049 closed

[2017-06-26 19:47] stefanneculai commented on #2051
@tnchuntic would it be possible to make a recording when this error happens? Maybe we can somehow find out in what conditions it happens?

[2017-06-26 19:55] stefanneculai commented on #2053
We don't have such an option, however what you could do is to listen to the `commands.before` and `commands.after` to find the newly inserted table. To find the tables inside the editor, you could do the following inside the callbacks:

[code]

[2017-06-26 19:55] #2053 closed

[2017-06-26 21:19] robclancy commented on #2052
Why? That seems like a very weird design choice. Completely inconsistent and makes using froala feel buggy to users if you use ember or angular. I hope this project isn't an "it's a feature" echo chamber to avoid doing work.

I don't care about `html.insert` but `html.set` which the ember and angular components use and won't autolink if the models have data already not created by froala.

So now I

[2017-06-26 23:32] joelabair opened #2057 "ctrk+k link shortcut - popup in wrong place"
##### Expected behavior.
pressing ctrl+k with selection popup points to selection

##### Actual behavior.
pressing ctrl+k with selection popup points to empty space to the right

##### Steps to reproduce the problem.
https://codepen.io/joelabair/pen/eRggOm

1. select some text within an editor
2. press ctrl+k

##### OS.
any

##### Browser.
google chrome latest

[2017-06-27 08:57] tagalpha opened #2058 "[bug] Upload image on my server, Error 4 : Parsing response failed"
Hi,
I use a Froala with Symfony 3.
When i want upload an image in froala editor i have this error :

![image](https://user-images.githubusercontent.com/6542512/26869340-638b69de-4b6c-11e7-95ac-6cf441d35fcd.png)

Error log :

![image](https://user-images.githubusercontent.com/6542512/26869856-3c6637a6-4b6e-11e7-916c-ed674cd3e777.png)

My code :

JS
[code]
Upload function:

[code]
What could be the

[2017-06-27 11:44] b0gd4n opened #2059 "Code view keyup scrolls to top"
##### Expected behavior.
To be able to edit text in code view.

##### Actual behavior.
This is fine in normal view, but in Code View, if I scroll further down the page and as soon as I start typing, the container scroll all the way up. The carret stays in place, so as soon as you type again, it jumps back to where I want to edit, but when I release the key, it jumps back up. I added a gif showing

[2017-06-27 12:53] largeden opened #2060 "Upload processing without no image file name"
#1998

I asked @stefanneculai a few days ago to improve the feature so that it could be uploaded without an image filename.
and, the function has been added.

[code]

But this does not solve the problem.
https://developer.mozilla.org/en-US/docs/Web/API/FormData/append

If the value you passed to form does not have a file name, you must unconditionally pass the file value as a variable.

There is n

[2017-06-27 12:59] largeden opened #2061 "There is a problem with blockquote processing in table."
![blockquote](https://user-images.githubusercontent.com/5575931/27588611-b74284fa-5b83-11e7-8885-e0e8973396fe.gif)

color plugin and paragraph plugin do not cause problems

froala editor v2.6.2

[2017-06-27 13:23] natcohen opened #2062 "Non-passive event listener to a scroll-blocking 'touchstart' event"
##### Expected behavior.
No warning and fast behavior

##### Actual behavior.
Warning and very slow behavior

##### Steps to reproduce the problem.
Check the console of chrome with verbose level and go to https://www.froala.com/wysiwyg-editor, you will see the following warning: `[Violation] Added non-passive event listener to a scroll-blocking 'touchstart' event. Consider marking event handler as

[2017-06-27 13:28] natcohen commented on #2062
BTW I'm using [ngbootstrap modals](https://ng-bootstrap.github.io/#/components/modal)

[2017-06-27 13:42] ChubbyNinja opened #2063 "[iPad] RegisterCommand Dropdown inserts html at the end of the editor"
When using RegisterCommand with type dropdown, the content of the dropdown inserts at the end of the wysiwyg content, not where the caret was.

on Desktop this works fine, is this something I'm doing wrong?

##### Expected behavior.
Insert the content where the caret was before clicking on the dropdown

##### Actual behavior.
Inserts at the end of the wysiwyg content

##### Steps to reproduce the

[2017-06-27 14:48] various89 opened #2064 "Paragraph alignment destroys table "style""
##### Expected behavior.
When "styling" a table, e.g. insert a few lines of text with line breaks, the "style" of the table should not be touched when changing the alignment of some text outside the table.

##### Actual behavior.
"Styling" a table, e.g. insert a few lines of text with line breaks, the "style" of the table will be discarded when changing the alignment of some text outside the table

[2017-06-27 15:30] Panman8201 commented on #2056
Is it possible to initialize the froala-editor instances *after* the slider is open? I believe the froala-editor does some of it's own alignment stuff and that probably really takes a toll on the sliding animation.

Note, I'm not with the froala core team, just a suggestion from a fellow user. :)

[2017-06-27 15:43] ChubbyNinja commented on #2063
I was using version 2.4.0, updated to 2.6.2 and it's resolved my issue

[2017-06-27 15:43] #2063 closed

[2017-06-27 16:23] Panman8201 opened #2065 "Integration question, true initialization hook even with the `initOnClick` option"
I have an integration question/issue, the [ember-froala-editor plugin/addon](https://github.com/froala/ember-froala-editor/) does [additional (eventing) setup](https://github.com/froala/ember-froala-editor/blob/v2.6.2/addon/components/froala-editor.js#L347-L454) after the [initial `$('.selector').froalaEditor()` initialization call](https://github.com/froala/ember-froala-editor/blob/v2.6.2/addon/c

[2017-06-27 16:40] stefanneculai commented on #2058
@tagalpha for tech support, please contact us via our website: https://www.froala.com/wysiwyg-editor/contact.

[2017-06-27 16:40] #2058 closed

[2017-06-27 16:42] stefanneculai commented on #2059
@b0gd4n are you able to reproduce this on our website or could you please make a jsFiddle for it? Thank you.

[2017-06-27 16:43] stefanneculai commented on #2061
This is the way blockquotes have been designed to work. They should wrap the outer block tag with a `quote` tag.

[2017-06-27 16:43] #2061 closed

[2017-06-27 16:46] stefanneculai commented on #2064
@various89 could you please make a recording? Are you able to reproduce this on our website?

[2017-06-27 16:53] stefanneculai commented on #2065
It is done async. At this point, there is no option for that. I am marking this as an `enhancement` and we'll add a new event specially for this. In the meanwhile, you could do that by using a timeout after calling the `$('.selector').froalaEditor()`.

[2017-06-27 18:16] various89 commented on #2064
Yes, I'm able to reproduce it on your website.

![33e21a412bbc4efa891f63f615265413](https://user-images.githubusercontent.com/1713375/27603032-1cea3140-5b75-11e7-9d52-1182a1406138.gif)

[2017-06-27 21:02] rallykuma opened #2066 "Links for email addresses are not generated correctly if email domain has more than 2 parts"
##### Expected behavior.
A valid email such as test@test.at.com should be converted to a mailto:test@test.at.com.

##### Actual behavior.
The link turns into "//test@test.at.com" instead.

##### Steps to reproduce the problem.
Enter any valid email that has 3 or more parts in the domain. Eg. test@test.at.com

##### OS.
Windows 10

##### Browser.
Chrome 58.0.3029.110 (64-bit)

[2017-06-27 22:46] jfrei commented on #1997
@robclancy Super excited you are having the same issue that we were. Unfortunately I also don't have the time to reverse engineer what's going on there. Our solution was ugly but simple: The editor used to grow with it's content, and as soon as the window grew large enough to warrant a scrollbar, Froala's image overlay basically won't go away.

So, we made the page tall enough that it always has a

[2017-06-27 23:50] largeden commented on #2061
@stefanneculai
Thank you. I understand.

[2017-06-28 17:17] stefanneculai commented on #2062
This is a `wontfix` for now as jQuery which we're using for binding events doesn't support that: https://github.com/jquery/jquery/issues/2871. We're working on a jQuery free version where this will be possible.

[2017-06-28 17:17] #2062 closed

[2017-06-28 19:08] thedotedge opened #2067 "linkAutoPrefix default changed in 2.6.2"
##### Expected behavior.
`bit-laboratory.com` to be linkified to `http://bit-laboratory.com`

##### Actual behavior.
`bit-laboratory.com` is linkified to `//bit-laboratory.com`

##### Steps to reproduce the problem.
Use default config. Adding `linkAutoPrefix: 'http://'` does not fix the problem.

[2017-06-29 11:06] stefanneculai opened #2068 "Test"
##### Expected behavior.
(Describe expected behaviour here)

##### Actual behavior.
(Describe actual behaviour here)

##### Steps to reproduce the problem.
(Describe the steps to reproduce the problem here)

##### OS.
(OS name and version here)

##### Browser.
(Browser name an version here)

[2017-06-29 11:07] #2068 closed

[2017-06-29 11:08] dianaprajescu opened #2069 "Test"
##### Expected behavior.
(Describe expected behaviour here)

##### Actual behavior.
(Describe actual behaviour here)

##### Steps to reproduce the problem.
(Describe the steps to reproduce the problem here)

##### OS.
(OS name and version here)

##### Browser.
(Browser name an version here)

[2017-06-29 11:08] #2069 closed

[2017-06-29 14:02] scribblerp9 opened #2070 "Replacing an image causes jump to top"
##### Expected behavior.
Replacing an image shouldn't effect scroll position.

##### Actual behavior.
Replacing an image causes content to scroll to top, particularly problematic when editing a long document.

##### Steps to reproduce the problem.
1. Insert an image as normal
2. Click image, then the "Replace" button on the popup toolbar (arrows pointing in opposite directions).
3. Either drag and

[2017-06-29 20:27] indradeepc opened #2071 "Froala editor toolbar problem in asp.net 4.5"
Hi All,
This is my first issue related post on github, so if i violate any protocol kindly let me know.
I have integrated froala editor in asp.net 4.5.  I have added all the plugins and files as instructed in froala document. Editor is working fine except i couldn't  see char counter, Font family, Color picker and font size. I have done everything from my side but failed to know what i am doing wr

[2017-06-30 06:38] fenivana opened #2072 "What's the difference between 'editorClass' and 'theme'?"
They are doing the similar things, adding the class on to the editor container. Why need two different options?

[2017-06-30 12:55] guiideandrade commented on #2059
I found quite the same problem. Actually, any keystroke changes it to top.

[2017-06-30 19:17] george-norris-salesforce commented on #1218
Any progress on this?

[2017-07-03 09:58] stefanneculai commented on #1218
@george-norris-salesforce see `format.apply` option.

[2017-07-03 10:22] stefanneculai commented on #2071
@indradeepc please contact us via our website for tech support: https://www.froala.com/wysiwyg-editor/contact. Also, it would be helpful if you could send us a link where we can check it.

[2017-07-03 10:22] #2071 closed

[2017-07-03 10:23] stefanneculai commented on #2070
@scribblerp9 it looks like you are not using the latest editor version 2.6.2. Could you please check that?

[2017-07-03 10:24] stefanneculai commented on #2072
`editorClass` adds a custom class to the editor box, while the `theme` option tells the editor which theme to use. Indeed, theme one uses a class as well in order to achieve that, however the purpose is different.

[2017-07-03 10:24] #2072 closed

[2017-07-03 10:25] stefanneculai commented on #2059
@guiideandrade are you able to reproduce that on our website? Could you please make a jsfiddle or codepen?

[2017-07-04 00:04] Derekjohnson277 opened #2073 "Insert HTML function places html at the beginning of the editor"
##### Expected behavior.
Inserted HTML to be placed at cursor position
##### Actual behavior.
Inserted HTML is placed at the begging of the text editor

##### Steps to reproduce the problem.
		`$.FroalaEditor.DefineIcon('dynContent',` { NAME: 'users' });
		$.FroalaEditor.RegisterCommand('dynContent', {
			title: 'Insert dynamic content',
			focus: true,
			undo: true,
			refreshAfterCallback: true

[2017-07-04 07:18] dave-buzzy opened #2074 "Dragging image into editor attempts to upload"
##### Expected behavior.
Using Meteor JS package of Froala. Not allow images to be added to the editor via drag and drop if we don't allow paste or upload.

##### Actual behavior.
Dragging an image into the editor still attempts to upload it.

##### OS.
macOS Sierra 10.12.5

##### Browser.
Chrome Version 59.0.3071.115 - tries to upload, then renders broken image icon
Safari Version 10.1.1  - attem

[2017-07-04 09:20] stefanneculai commented on #2073
That is most likely happening because the selection is being lost when you open the custom dialog. The best way to overcome this, would be to save selection using the `selection.save` method before opening the dialog modal and then call `selection.restore` just before inserting the HTML.

[2017-07-04 09:20] #2073 closed

[2017-07-04 09:24] stefanneculai commented on #2074
The following code should to the trick.

[code]

[2017-07-04 09:24] #2074 closed

[2017-07-04 09:27] stefanneculai commented on #2067
I believe you are talking about typing in the editor the link, not inserting it through the link popup. The links typed in the editor are not designed to use the `linkAutoPrefix` option, but they are set to follow the current page protocol, by adding the `//`.

[2017-07-04 09:27] #2067 closed

[2017-07-04 09:31] dave-buzzy commented on #2074
Thanks, that was quick! Will try this.

[2017-07-04 10:10] eloufirhatim opened #2075 "Upload image throw Bad link error"
Hello,

I have an issue with the video upload option, it always throw the **Bad link (code: 1)** error, whether it is the default `videoUploadURL` or my own, here is the javascript options that I passed to the froala wysiwyg:

`
videoDefaultAlign: 'left',
videoUploadParams: {_token: "{{ csrf_token() }}"},
videoAllowedTypes: ['webm', 'mp4', 'ogg'],
videoUploadURL: '{{ route("frontend.question.creat

[2017-07-04 10:23] hay-wire opened #2076 "Unexpected content cropping up in text"
We are developing a content editing application and running into a wierd issue:

##### Expected behavior.
When clicked inside the content div, only the editor options and text inside the content div should appear.

##### Actual behavior.
When clicked inside the content, sometimes (not always), wierd text appears on the screen at random places

![image](https://user-images.githubusercontent.com/291

[2017-07-04 10:25] stefanneculai commented on #2076
@hay-wire could you please make a jsFiddle or codePen to reproduce this? Thank you.

[2017-07-04 10:27] stefanneculai commented on #2075
@eloufirhatim The problem is most likely being caused by having a bad link in the response. For tech support please contact us via our website instead of Github.

[2017-07-04 10:27] #2075 closed

[2017-07-04 10:31] hay-wire commented on #2076
Sure. Let me make one.

[2017-07-04 10:46] eloufirhatim commented on #2075
Done, thank you for your help

[2017-07-04 14:36] Floriskoch commented on #1828
@pkhruasu-ui would you mind sharing your work? I'm looking to build similar functionality, thanks!

[2017-07-05 01:51] hay-wire commented on #2076
@stefanneculai  Tried creating the fiddle here https://jsfiddle.net/e1vqkohd/1/ but its not initiating the editor at all, not sure why. However, the code gives an idea what I am trying to accomplish.

(Sorry for non-working fiddle, but I'm down with fever so could not complete it.)

[2017-07-05 05:39] nicolasconnault commented on #561
@anasnakawa thanks, I applied your solution to disabling the video upload tab, and it worked perfectly!

[2017-07-05 12:11] hay-wire commented on #2076
Also we are using material design lite (mdl.io) as used in the jsfiddle if it helps.

[2017-07-05 12:44] eloufirhatim commented on #2075
@stefanneculai please can you check the contact mail that I send yesterday in your website, it's kind of major issue that I have to solve in a professional project.

Thanks in advance

[2017-07-05 13:06] Derekjohnson277 commented on #2073
@stefanneculai Thanks, that works!

[2017-07-05 13:53] stefanneculai commented on #2076
@hay-wire I've updated it and the editor initializes now: https://jsfiddle.net/e1vqkohd/2/. Please update it so that we can see the problem. Thank you.

[2017-07-05 17:06] bklik opened #2077 "Allow typingTimer option to be 0."
##### Expected behavior.
typingTimer option should allow any time from 0+.

##### Actual behavior.
typingTimer option forces a minimum of 500ms.

In ReactiveForms, changes to form fields updates the valueChanges Observable. In all form fields this happens immediately, and are debounced at this point. However, the Froala field has an additional delay of 500 due to it's internal debounce. This shoul

[2017-07-05 18:16] pkhruasu-ui commented on #1828
@Floriskoch here is the file. It is v2.4.2.
[froala-image-caption-2-4-2.txt](https://github.com/froala/wysiwyg-editor/files/1125622/froala-image-caption-2-4-2.txt)

[2017-07-06 10:11] largeden opened #2078 "url plugin bug(TLD problem)"
##### Steps to reproduce the problem.
test.jpg
test.exe

##### Froala Version.
2.6.2

The domain link feature does not work correctly because the regular expression in the plugin does not check Domain TLD.

I changed the code by referring to the regular expression below.
https://autohotkey.com/boards/viewtopic.php?t=15269

[code]

Also, it seems better to remove `$.FE.KEYCODE.PERIOD` from the key

[2017-07-06 10:46] largeden commented on #2078
This regular expression is not perfect. I'll think a bit more.

[2017-07-06 12:19] stefanneculai commented on #2077
Setting typingTimer to 0 would make typing laggy because when the HTML is taken from the editor, there is some processing which should be done.

[2017-07-06 12:19] #2077 closed

[2017-07-06 16:50] bklik commented on #2077
Before arbitrarily closing this ticket, is there some non-stop zero number that is less than 500ms that can be made available?

[2017-07-06 16:51] stefanneculai commented on #2077
The minimum `typingTimer` value that can be set is 250ms.

[2017-07-07 05:08] nullest opened #2079 "It takes a long time to open dialog when upload image"
##### Expected behavior.
It is really not a good experience when I try to upload image because it takes a long time on Chrome browser. And the same problem happens on official site([https://www.froala.com/wysiwyg-editor](https://www.froala.com/wysiwyg-editor)) too

1.Click "upload image"
2.It takes a long time(almost 7 seconds) to open system dialog

##### OS.
MacOS

##### Browser.
Chrome

[2017-07-07 05:19] #2079 closed

[2017-07-07 05:24] nullest commented on #2079
I find the problem. Default accept option is:

`['jpeg', 'jpg', 'png', 'gif', 'svg+xml']`

Remove 'svg+xml', and everything works fine.

[2017-07-07 10:16] manikmi opened #2080 "Retain only anchor tag links with plainPaste"
##### Expected behavior.
Retain the links with pasted content

##### Actual behavior.
the links are replaced with simple text

##### Steps to reproduce the problem.
1. Create a froala editor object with option plainPaste=true
2. Paste some content from the internet which contains text as well as links.
3. The Content styling is removed. Which is fine. I want to retain only the links. but the links

[2017-07-07 17:37] phippster commented on #1997
I want to chime in as well.  Same problem!  Resizing larger or smaller will freeze the entire browser after only a few pixels of size change.  This is a show stopper bug.

[2017-07-07 17:47] phippster commented on #1997
I've been working through lines of code to see if some parent element might have an overflow CSS attribute that is causing the issue -- no luck.  However, I found that if you enable the "iframe: true" option the resizing works!  So there is a conflict with something on the page.

[2017-07-07 19:25] delian7 opened #2081 "Froala font editor sets the letter-spacing and font-size out of order."
##### Expected behavior.
One of our users used froala editor and got the following text item:

[code]
Because `em's` are relative to the parent element, it gets font-size from inheritance which in this case happened to be 23.8px (set somewhere above the text editor). What we really want is to have the letter-spacing be relative to the span ‘font-size: 18px`.

I made a codepen to demonstrate the is

[2017-07-07 23:58] jrust opened #2082 "No cursor displayed next to an image"
##### Expected behavior.
When an image is in the editor a cursor can be seen either right before or right after it.  For example, in this demo for [TinyMCE](https://www.tinymce.com/docs/demo/image-tools/) you can click at the top of the document and see a cursor next to the header image.  However, in this [Froala demo](https://www.froala.com/wysiwyg-editor/examples/custom-image-button) a cursor do

[2017-07-08 01:11] robclancy commented on #1997
Yeah I couldn't reproduce on the demo sites or in the codepen or whatever
service I used which means something on my page is conflicting in some way.
I've had the issue in different situations. If iframe works then that's
good to know will just use it.

On Sat, Jul 8, 2017 at 3:47 AM phippster <notifications@github.com> wrote:

[2017-07-08 11:36] stefanneculai commented on #2082
@jrust that is happening only when the image display is set to `Break Text`. If you choose `Inline`, it would work just the way you are looking for. Unfortunately, when using the Break Text feature, it is not possible because of the way browser renders the cursor to show it.

[2017-07-08 11:36] #2082 closed

[2017-07-08 13:34] stefanneculai commented on #2080
That is not possible to achieve via `pastePlain` option. This option is designed to remove all the formatting. A better way for achieving what you want would be not to enable the pastePlain option, but use filter options for pasting such as `pasteDeniedAttrs` or `pasteDeniedTags`.

[2017-07-08 13:34] #2080 closed

[2017-07-10 04:19] nullest opened #2083 "styling lost when copy/pasting"
1.copy some text with style, eg:

`<p style="font-size: 18px; color: rgb(0, 128, 255);">It is blue.</p>`

2.paste it into my editor or even [https://www.froala.com/wysiwyg-editor](https://www.froala.com/wysiwyg-editor)

3.click "Code View", and it becomes:

`<p>It is blue.</p>`

--------------

I've tried:

- [https://github.com/froala/wysiwyg-editor/issues/1386](https://github.com/froala/wysiwyg-

[2017-07-10 09:20] stefanneculai commented on #2083
@nullest please use https://www.froala.com/wysiwyg-editor/docs/options#pasteAllowedStyleProps. Also, make sure you are using the latest 2.6.2 version.

[2017-07-10 16:12] angusgrant commented on #561
Can someone please provide a codepen example of this. I wish to remove the upload image functionality but am unclear how this is done...

[2017-07-10 19:00] abologna-r7 opened #2084 "Delete image confirmation dialog"
##### Expected behavior.
1. Open the image manager from the editor.
2. Click on the "trash icon" from one of the uploaded images.
3. Confirmation dialog shows up.
4. Use "froalaEditor.imageManager.beforeDeleteImage" event instead to capture the event and provide a custom made confirmation dialog.

##### Actual behavior.
Even though "froalaEditor.imageManager.beforeDeleteImage" event was provided,

[2017-07-10 20:35] abologna-r7 commented on #2084
BTW, I'm using the **froalaEditor.imageManager.beforeDeleteImage** event inside the events react component property.

[2017-07-11 01:57] nullest commented on #2083
@stefanneculai , after updating to v2.6.2 from 2.6.1, it works. But it should config both 'pasteAllowedStyleProps' and 'pasteDeniedAttrs'.

I wonder if the default value of 'pasteAllowedStyleProps' is not right in the [document](https://www.froala.com/wysiwyg-editor/docs/options#pasteAllowedStyleProps), because it just works after I copy the default value to config.

[2017-07-11 11:24] stefanneculai commented on #561
@angusgrant you can easily do that by changing the imageInsertButton option and remove `imageUpload` from it.

[2017-07-11 11:26] stefanneculai commented on #2084
The `imageManager.beforeDeleteImage` event is triggered after the confirmation message. At this moment it is not possible to replace the built-in confirmation message with a custom one without making changes directly on the editor JS code. I am marking this as a `feature-request` so that it's in our attention to add it eventually.

[2017-07-11 11:26] #2084 closed

[2017-07-11 11:28] stefanneculai commented on #2083
@nullest it is right, the `pasteAllowedStyleProps` is not correct in docs. We just updated it.

[2017-07-11 11:28] #2083 closed

[2017-07-11 13:11] udaykirangoshika opened #2085 "Custom input field for color dropdown"
##### Enhancement.
Color dropdown consist of static colors, suppose user want to enter manual colors in color dropdown, that time we need input field for color dropdown.
Please try to give a solution how to add input field for colors dropdown.

Thanks.

[2017-07-11 14:57] abologna-r7 commented on #2084
Thank you Stefan!

[2017-07-11 19:51] abologna-r7 commented on #1762
How's this a duplicate of itself?

[2017-07-11 20:08] cauethenorio opened #2086 "Pasting image on Safari on OSX dont work"
##### Expected behavior.
Pasting a image on froala should show the image in the editor and upload it to configured service

##### Actual behavior.
Pasting a image on froala throws a js error:

##### Steps to reproduce the problem.
1. Open https://www.froala.com/wysiwyg-editor on Safari 10.1.1 on OSX 10.11.6
2. Copy an image to OS clipboard
3. Paste the image on the Froala editor on the page

#####

[2017-07-11 20:37] AlverthoMartinez commented on #1080
https://wysiwyg-editor.froala.help/hc/en-us/articles/115000555949-Can-I-insert-images-as-base64-

[2017-07-11 20:42] cybervanes commented on #1080
Nice solution, thanks very much.

I only needed this for an offline iOS application. Once synced back to online database, images are converted back to raw files and base64 text removed.

Thanks Again

On Jul 11, 2017, at 2:37 PM, Alberto Martinez <notifications@github.com<mailto:notifications@github.com>> wrote:

https://wysiwyg-editor.froala.help/hc/en-us/articles/115000555949-Can-I-insert-images

[2017-07-11 20:52] AlverthoMartinez commented on #1080
Well, thanks to the author! : )

[2017-07-12 02:38] fyneworks commented on #553
See https://github.com/froala/wysiwyg-editor/issues/1235

[2017-07-12 04:03] carolynmills commented on #1497
@stefanneculai would this be the same for font size of the number in the case of an ordered list?

[2017-07-12 08:41] stefanneculai commented on #2085
This is already on our `feature-list`, however we don't have an ETA for it at this moment.

[2017-07-12 08:41] #2085 closed

[2017-07-12 08:46] stefanneculai commented on #1762
@abologna-r7 it should have been #1907. Sorry for the confusion.

[2017-07-12 08:48] stefanneculai commented on #1497
@carolynmills yes, it is the same for font size of numbers for OL.

[2017-07-12 10:44] fyneworks commented on #1235
The code above seems to break the editor and create an infinite self-referencing loop.

[code]

I've changed it to this instead and it seems to work:
`$.FE.MODULES.helpers.sanitizeURL = function (url) { return url; };`

[2017-07-13 16:14] jamesmoss commented on #1124
@euangoddard did you ever find a solution to this issue? I'm having the exact same problem.

[2017-07-13 16:37] jamesmoss commented on #1124
I did some more digging and found the issue if anybody has the same problem in the future. We have a custom theme that set `transition: 0.2s` on Froala's `<inputs />`. Removing this fixed the issue and the field autofocuses correctly now.

[2017-07-13 19:00] guiideandrade commented on #2059
@stefanneculai I can give you access to a demo account on Helpjuice KB if you like. Feel free to email me at guilherme at helpjuice.com

I still trying to reproduce it on your website/jsfiddle

[2017-07-13 21:09] jpdupont opened #2087 "Impossible to make an image float to left or right with text around"
Firefox last, OSX last.
Impossible to make an image float to left or right with text around.

On example on your site, first page it works, but impossible to do the same. What settings please ???

Thanks

[2017-07-13 21:13] jpdupont opened #2088 "Bug when inserting image listed on the image manager"
I'm able to list the images in the image manager but when I click on the + icon, image is not inserted in the editor with a non precise unexpected error message ...
Last test Froala.

[2017-07-14 07:37] jpdupont commented on #2087
It works if I modify the style like this

`.fr-view img.fr-dib.fr-fil {
  margin-left: 0;
  float: left;
  margin: 5px 5px 5px 0;
  max-width: calc(100% - 5px);
}
.fr-view img.fr-dib.fr-fir {
  margin-right: 0;
  float: right;
  margin: 5px 0 5px 5px;
  max-width: calc(100% - 5px);
}`

[2017-07-14 07:39] jpdupont commented on #2088
It was my fault: an error in the path of non thubnail images. Sorry for the inconvenience.

[2017-07-14 07:39] #2088 closed

[2017-07-14 08:19] alexmoraru25 opened #2089 "Paste from Word does not work on IE11 or Edge"
The word paste plugin does not work on IE11 or Edge, no error in the console, it's just not working.

Windows 10

IE 11 & Edge

[2017-07-14 08:39] SidKH opened #2090 "Changing Special Characters Sets"
It seems like you don't have any information in docs on how to update Special Characters sets with your own characters, or remove some section from the set.

I ended up editing `$.FE.DEFAULTS.specialCharactersSets` but shouldn't this info been added into the docs?

Or maybe you have a better way of dealing with special characters sets?

Thanks.

[2017-07-14 09:08] alexmoraru25 commented on #2089
Here is a demo on the website: http://recordit.co/bY2KL4qlCY

[2017-07-14 11:03] Anexon commented on #1829
Same issue here, would you mind tell how you solved it?

[2017-07-14 19:51] stefanneculai commented on #1829
@Anexon please make sure you are including the `froala_style.min.css` file and that you are using the latest editor version.

[2017-07-14 19:52] stefanneculai commented on #2089
This has been fixed few of days ago on the master repo. We update it on our website only after we make an official release. This update will be included in release 2.6.3.

[2017-07-14 19:52] #2089 closed

[2017-07-14 19:53] stefanneculai commented on #2090
Sure, those should be in docs as well.

[2017-07-14 19:53] stefanneculai commented on #2087
Please make sure you include the `froala_style.min.css` file.

[2017-07-14 19:53] #2087 closed

[2017-07-14 19:55] stefanneculai commented on #2059
@guiideandrade if that is not happening on our website / jsFiddle then most likely it is not a problem from the editor, but rather a conflict with something else inside you app.

[2017-07-14 19:58] stefanneculai opened #2091 "Popups do not hide when editing a link"
Details from https://github.com/froala/angular-froala-wysiwyg/issues/79#issuecomment-314970509

[2017-07-14 20:28] stefanneculai commented on #2059
Code Mirror should not be included in order to reproduce this issue.

[2017-07-15 07:17] Anexon commented on #1829
I'm using angular-froala-wysiwyg but found this thread.
Where should I put that file?

[2017-07-15 14:37] hay-wire commented on #2076
@stefanneculai Apologies for the delay. I just recovered. Anyways, I'm unable to see toolbar buttons in any of the editors in the fiddle - https://jsfiddle.net/e1vqkohd/2/. Is this expected?

[2017-07-16 11:24] jeremylynch opened #2092 "Lettered lists"
##### Expected behavior.
It should be possible to add lettered (alphabetical) lists in addition to numbered and bulleted. Eg.
[code]

[2017-07-17 02:04] leelinde92 commented on #296
Will this be implemented?

[2017-07-17 10:53] stefanneculai commented on #296
Yes, it will be in the following months. Sorry to keep all you guys waiting.

[2017-07-17 10:53] stefanneculai commented on #2092
Thanks for the `feature-request`, @jeremylynch!

[2017-07-17 10:53] #2092 closed

[2017-07-17 10:54] stefanneculai commented on #2076
That's because Font Awesome was not included. See: https://jsfiddle.net/e1vqkohd/3/.

[2017-07-17 11:24] largeden opened #2093 "You need to enhance the translation of the Show Selection Details feature."
##### Steps to reproduce the problem.
![translate](https://user-images.githubusercontent.com/5575931/28265618-ab2eda94-6b2b-11e7-89cf-473a52144c1d.gif)

Like the pull-down menu, the toolbar should also be translated.

[code]
[code]
[code]
![translate2](https://user-images.githubusercontent.com/5575931/28266042-e3318f7a-6b2d-11e7-8d70-b348add8f49e.gif)

[2017-07-17 14:32] IraNostraEst opened #2094 "unwanted link on strings"
##### Expected behavior.
only link real links such as www.example.com or mail@example.com

##### Actual behavior.
links everything with "." in it. for example:
something.pdf   to   https://something.pdf/
some.string       to   https://some.string/

##### Steps to reproduce the problem.
type string with dot in editor.

##### Version.
latest 2.6.2

##### Browser.
Firefox 54.0.1

[2017-07-17 16:09] stefanneculai commented on #2094
Duplicate of #2078.

[2017-07-17 16:09] #2094 closed

[2017-07-17 20:55] zmanring commented on #2091
I also have this issue, thanks for looking into this.

[2017-07-18 13:07] #2093 closed

[2017-07-18 13:12] stefanneculai commented on #2091
It looks this is already fixed on the master branch by e7204ae4108fa0774c06dd48da28d8a01686138a.

[2017-07-18 13:12] #2091 closed

[2017-07-18 13:20] #2090 closed

[2017-07-18 14:24] #2066 closed

[2017-07-18 15:22] #2059 closed

[2017-07-18 16:22] allomov commented on #994
Do you have any news on this issue? It looks, like our customer has the same issue.

[2017-07-18 16:40] largeden opened #2095 "Typo in video plugin _addVideo()"
##### Steps to reproduce the problem.
![video_plugin](https://user-images.githubusercontent.com/5575931/28328252-ea6a5a30-6c20-11e7-82d9-2bfdf0bed967.gif)

##### froala version.
2.6.2

This is not a critical error.
There is no problem in operation.
But, need to correct typo. :)

[code]

[2017-07-18 16:58] allomov commented on #994
@stephen-puiszis actually it is easy to fix this issue by adding `novalidate` attribute to the form with editor, like this:
[code]

[2017-07-18 18:58] codeabit opened #2096 "Cut/copy and paste is broken on Internet Explorer 11"
The **expected behavior** is that I can copy and/or cut any image or text in a froala document and then paste it into a different location in the document and it will appear unchanged from the source location.

The **actual behavior** is that images don't copy or cut and any text that is copied or cut has "~~" prepended to it when it is pasted.

You can reproduce this issue by navigating to froala

[2017-07-18 19:22] stefanneculai commented on #2078
@largeden last commit should fix it. The regular expression for checking URLS is built differently now and it passes most of the validations from https://mathiasbynens.be/demo/url-regex, except the IPs one which IMO should be let as valid input from user in this case. Also, the [RegEx is safe](https://github.com/substack/safe-regex) which is a huge plus. It's built like this:
[code]

PS: More deta

[2017-07-18 19:25] stefanneculai commented on #2096
It's fixed on the current Github master.

[2017-07-18 19:25] #2096 closed

[2017-07-18 19:29] #2095 closed

[2017-07-18 19:36] stefanneculai commented on #2070
Closing this due to lack of response. We'd be happy to look again into it if you could provide more details. Thank you.

[2017-07-18 19:36] #2070 closed

[2017-07-18 19:37] stefanneculai commented on #2051
I'm closing this due to lack of response. We'd be happy to look again over it if you could provide more details.

[2017-07-18 19:37] #2051 closed

[2017-07-18 21:08] codeabit commented on #2096
I just tested with current Github master (349ffd527d88d421c4e1936088a0386d61db3b01) and copying/pasting images still does NOT work in IE 11.

[2017-07-19 09:28] dianaprajescu commented on #2048
Done. Thanks for the heads-up!

[2017-07-19 09:28] #2048 closed

[2017-07-19 10:26] dianaprajescu commented on #1783
Are you able to reproduce this on our [website](https://www.froala.com/wysiwyg-editor)?

[2017-07-19 10:53] hay-wire commented on #2076
@stefanneculai I'm unable to replicate this issue on jsfiddle. If you want, I can share the link and credentials where this application is hosted so you can take a look, and then you can advise if we can replicate it.

[2017-07-19 11:30] stefanneculai commented on #2076
@hay-wire if that is not possible to replicate in a jsFiddle then it is most likely related to the way your app is implemented, maybe other scripts interacting with the editor.

[2017-07-19 11:30] #2076 closed

[2017-07-19 11:38] #1712 closed

[2017-07-19 11:42] hay-wire commented on #2076
Okay. Any clue on how do I go about debugging it?

[2017-07-19 11:43] stefanneculai commented on #2076
The best way would be to remove other scripts from the app and see which one is causing the problem.

[2017-07-19 11:44] hay-wire commented on #2076
Cool. Let me try that. Thanks!

[2017-07-19 12:31] #2050 closed

[2017-07-19 12:33] stefanneculai commented on #2020
@riccardomessineo we just tried to reproduce this on the latest editor version and the issue appears to be fixed. If you still have the problem, please let us know.

[2017-07-19 12:33] #2020 closed

[2017-07-19 12:45] stefanneculai commented on #2054
@VitaliyLogvin Unfortunately, we don't have a way to test Windows 10 Mobile for now, however this appears to work just fine on Windows 8, Nokia Lumia 930.

Windows mobile is not on our [official browser support list](https://www.froala.com/wysiwyg-editor/browsers). Anyway, if you know a way to simulate this, we'd be happy to reopen this and check it. Thanks.

[2017-07-19 12:45] #2054 closed

[2017-07-19 13:28] stefanneculai commented on #2056
@setuun the problem is coming from the fact that in editor toolbar, the dropdowns are not actually hidden, but they have a height set to `0` and far on the left of the screen. Because of that inside the sliders the browser has to compute a lot of things. The best approach for it would be to force hiding dropdowns while animation like this: https://codepen.io/Froala/pen/yXdpNB.

[code]

[code]

[2017-07-19 13:28] #2056 closed

[2017-07-19 13:31] #2060 closed

[2017-07-19 13:39] #2065 closed

[2017-07-19 13:39] stefanneculai commented on #2065
Last commit adds the `initializationDelayed` event which is being called just after the initial setup for `initOnClick` option.

[2017-07-19 14:46] JSteunou commented on #2005
@stefanneculai we still have the issue on 2.6.2, so it appears it was not the same as #2004. We will try to make a codepen of fiddle asap. Could you re-open this issue meanwhile?

[2017-07-19 14:47] JSteunou commented on #1783
nope, seems like the issue is solved!
You can close this @stefanneculai @dianaprajescu

[2017-07-19 14:51] JSteunou commented on #2005
Nope sorry, false alarm, we were in 2.6.1 on one component :pray:

Issue solved with 2.6.2 :+1:

[2017-07-19 14:51] #1783 closed

[2017-07-19 15:12] #2015 closed

[2017-07-19 15:22] #2021 closed

[2017-07-19 15:22] stefanneculai commented on #2021
@largeden thanks for helping us to nail this down. All should be fixed now.

[2017-07-19 15:53] stefanneculai commented on #1967
This should be fixed on the current Github master.

[2017-07-19 15:53] #1967 closed

[2017-07-19 16:31] #1907 closed

[2017-07-19 16:33] stefanneculai commented on #1907
@george-norris-salesforce we've just put an update for it. It is designed slightly different, when you click at the bottom / top of the space that's left there between the editor edges and last element a new line would get inserted. It is not necessary to include the line breaker tool.

[2017-07-19 16:49] largeden commented on #2078
Thank you!
I am looking forward to the blog post. :p

[2017-07-19 19:23] stefanneculai commented on #1964
@tmpg this should be fixed now here on Github and we'll update our website by the end of this week.

[2017-07-19 19:23] #1964 closed

[2017-07-19 19:40] #2039 closed

[2017-07-19 19:42] stefanneculai commented on #2039
There is a shortcut for enabling the table popup using keyboard only: `ALT + SPACE`. However, there was an issue and link popup was always showing over. Now if you click on a table cell with a link, the link popup would show, but if you hit `ALT + SPACE`, the popup one would appear.

All shortcuts can be found on [our website](https://www.froala.com/wysiwyg-editor/shortcuts) and they are also list

[2017-07-19 19:59] stefanneculai commented on #2018
@rugarcialopez would it be possible to provide more details about the use case you have for this?

Unfortunately, V2 was not designed to allow this and this issue will remain a `wontfix` for now. Additional details you could provide would help us to better understand your needs and design further editor major versions to accommodate such cases as well.

[2017-07-19 19:59] #2018 closed

[2017-07-20 08:37] JSteunou opened #2097 "New line make the parent page scroll to bottom"
##### Expected behavior.

New line should add new line without scrolling the parent container

##### Actual behavior.

With current dev version (froala website) new line make the page scroll to bottom on mobile and small tablet in landscape mode

##### Steps to reproduce the problem.

Go to froala website demo editor with a mobile
Edit the text in the middle
Add new line (hit return)
boum, bottom

[2017-07-20 09:32] stefanneculai commented on #2097
@JSteunou Thanks for reporting it. We fixed that just yesterday here on Github. :)

[2017-07-20 09:32] #2097 closed

[2017-07-20 09:38] #2064 closed

[2017-07-20 09:46] #1963 closed

[2017-07-20 09:51] VitaliyLogvin opened #2098 "Images are flipped after loaded"
Why is the picture flipped after loaded into the redactor?

[2017-07-20 09:53] stefanneculai commented on #2098
@VitaliyLogvin that is most likely happening because the browser doesn't recognize the image orientation. That should be handled on server side when uploading the image.

[2017-07-20 09:53] #2098 closed

[2017-07-20 10:09] #2081 closed

[2017-07-20 10:17] #2057 closed

[2017-07-20 10:53] #1931 closed

[2017-07-20 11:52] #1984 closed

[2017-07-20 12:05] stefanneculai commented on #1527
@kmacampbell @ravitejabommakanti unfortunately, this is a limitation because of the way V2 was designed and cannot be achieved in the current version. For now we'll leave it as a `wontfix`.

[2017-07-20 13:00] JSteunou commented on #2097
Wow fast, very nice @stefanneculai :+1:

[2017-07-20 13:23] Panman8201 commented on #2065
Will this event also fire if the `initOnClick` option is *not* used?  Just wondering if I have to look for that option to determine what event (`initialized` or `initializationDelayed`) to attach to, or if I can just use `initializationDelayed` all the time. Thanks!

[2017-07-20 13:27] stefanneculai commented on #2065
@Panman8201 here is how it works:
`initOnClick: true`  ---> basic stuff ---> `initializationDelayed` ---> click ---> `initialized`
`initOnClick: false`  ----------------------------------------------------------> `initialized`

[2017-07-20 15:45] natashad opened #2099 "Event handling breaks when deleting one of multiple froala editors."
##### Expected behavior.
When multiple froala editors exist, deleting the first one should not effect the others in any way.

##### Actual behavior.
When multiple froala editors exist, deleting the first one effects the event handlers on the others.

##### Steps to reproduce the problem.
**JSFIDDLE**: https://jsfiddle.net/Panman8201/z5ux2c32/

* Create multiple Froala editors on a page.
* Upload a

[2017-07-20 16:47] davidtorroija commented on #1594
yes, the solution provided to override not working as expected

[2017-07-21 06:57] stefanneculai commented on #1594
@davidtorroija recently we added a new event `link.beforeInsert` which could be used: https://www.froala.com/wysiwyg-editor/docs/events#link.beforeInsert.

[2017-07-21 07:55] JSteunou commented on #2055
@stefanneculai sorry but the bug is still present on last release and on froala website.

[2017-07-21 08:13] stefanneculai commented on #2055
That is strange, it works in simulator but not on the physical device. Reopening it.

[2017-07-21 14:10] davidtorroija commented on #1594
Ok thanks, but I resolved adding events to the inputs in the link popup so if there is no text entered the insert button dissapears.

[2017-07-24 06:15] nupurkamble commented on #1166
@stefanneculai @rblin081  How to use the commit to fix this problem? Because im facing the same issue

[2017-07-24 09:44] UCIS opened #2100 "Paste cleanup removes empty HTML elements"
##### Expected behavior.
Pasting HTML containing empty <input type="button /> or <iframe src="" /> elements should preserve those elements.

##### Actual behavior.
When pasting HTML content, some empty HTML elements are incorrectly removed. Froala seems to use a white-list of tags which may be empty when pasting ('*:empty:not(br):not(img):not(td):not(th)'), but this does not include void elements

[2017-07-24 11:31] ankero opened #2101 "Pasting url from Google Maps crashes editor in Chrome"
Hi,

We've run into an interesting issue with the froala editor. It seems that when you paste an url from Google Maps with @-signs, commas etc, the editor crashes with Chrome. I tried to figure out where the error happens, but with no particular luck. Its somewhere in the "clean()" function that causes the crash.

And a bit more test details here:

* Url to test with, https://www.google.fi/maps/pl

[2017-07-24 12:33] jeremylynch opened #2102 "Copy into bullet not working"
##### Expected behavior.
Copy-pasting into bullet should not delete bullet.

##### Actual behavior.
Copy-pasting into bullet deletes bullet

##### Steps to reproduce the problem.
![froala bullet bug](https://user-images.githubusercontent.com/3665457/28523487-0cf23c14-70c0-11e7-9d97-2441fdfcd38c.gif)

##### OS.
Mac OS

##### Browser.
Chrome

[2017-07-24 16:19] cauethenorio opened #2103 "Pasting text from Google Drive make it bold"
##### Expected behavior.
When you copy text from a Google Drive document and paste it on Froala Editor it should keep the formatting (no bold).

##### Actual behavior.
When you copy text from a Google Drive document and paste it to Froala the pasted text is bold (even if it's not bold on the original doc).

##### Steps to reproduce the problem.
1. Copy text from this Google Drive doc: https://docs

[2017-07-24 21:32] delian7 opened #2104 "Letter spacing sets multiple spans"
##### Expected behavior.
Ideally every time `editor.format.applyStyle('letter-spacing', "#em")`, it wraps everything in a span and/or updates the span.

##### Actual behavior.
Multiples spans are created and wrapping the content. We have a slider on our website and this results in multiple spans.

##### Steps to reproduce the problem.
Refer to this [codepen](https://codepen.io/delian7/pen/RoGdLp?e

[2017-07-24 21:41] stefanneculai commented on #2101
@ankero please make sure the editor version was updated. You should be able to check that easily by writing `$.FE.VERSION` in the browser console. If the problem still persist, please try to reproduce this on a jsFiddle/plunker and open the issue directly on the [angular repo](https://github.com/froala/angular-froala). Thanks!

[2017-07-24 21:41] #2101 closed

[2017-07-24 21:45] stefanneculai commented on #2100
@UCIS please make sure you are using the latest version, in the jsFiddle it is version 2.2.4. Also, it is missing the 2nd editor instance. We've added one and appears to work fine: https://jsfiddle.net/4jxr3mfx/13/. If I missed something, please provide couple more details. Thank you.

[2017-07-24 21:54] BIGWOO opened #2105 "Can not upload image, video and file on iOS Safari"
##### Expected behavior.
Upload image, video and file on iOS Safari.

##### Actual behavior.
No files have been uploaded after selecting a file.

##### Steps to reproduce the problem.
1.Use the iPhone to open the Froala wysiwyg-editor homepage.
2.Click Insert Image button.
3.Select a photo.
4.No files have been uploaded.

##### OS.
iOS 10

##### Browser.
Safari, Chrome

[2017-07-25 02:17] largeden commented on #2055
@stefanneculai
The following code will cause problems.
Upon deletion, uploading in IOS works.

[code]

[2017-07-25 02:20] largeden commented on #2105
@stefanneculai
The following code will cause problems.
Upon deletion, uploading in IOS works.

/js/plugins/image.js
      if (editor.helpers.isIOS()) {
        editor.events.$on($popup, 'touchend', '.fr-image-upload-layer input[type="file"]', function () {
          $(this).trigger('click');
        });
      }

[2017-07-25 08:08] ankero commented on #2101
@stefanneculai ok so this is now resolved. To be honest I don't know fully what the issue is, but here's a description on what we found and how the issue was fixed:

Findings:
* This does not happen on every computer using Chrome (?)
* I wasn't able to reproduce with plunker - would indicate that this is related to other packages we use
* Seems to be related on the URL converting to a link (a -tag

[2017-07-25 08:20] UCIS commented on #2100
@stefanneculai I am not sure why the fiddle suddenly started working. Looking at the sourcecode and debugger, Froala seems to use a shortcut without cleanup when the pasted text (plaintext) matches previously copied content, which may in itself be incorrect since it allows to insert arbitrary HTML into the editor, as long as the resulting plaintext matches the copy buffer in local storage.

Anyway

[2017-07-25 10:08] BIGWOO commented on #2105
Thank you!

[2017-07-26 00:31] adamcooper opened #2106 "Firefox: Spaces get removed when entering bolded text"
##### Expected behavior.
When bold is turned on I expect spaces to behave the same when bold is turned off in Firefox.

##### Actual behavior.
When bold is turned on it looks like the space is registered but when a subsequent letter is typed the space is lost.

##### Steps to reproduce the problem.
Use Firefox
Turn on Bold
Type "first second" .

And notice that "firstsecond" is what comes out.

##

[2017-07-27 00:48] probablyrory opened #2107 "HTML Entity Codes in links get converted without a semicolon"
##### Expected behavior.
Adding an HTML entity code to a link using the froala link component (https://www.dropbox.com/s/v98mul5mykzu65g/Screenshot%202017-07-26%2017.13.57.png?dl=0) should not convert to the corresponding HTML entity code, unless it has a semicolon at the end. The most reason for this is to add a second query param to a url.

##### Actual behavior.
It seems to ignore that there is

[2017-07-27 08:17] zakutnya commented on #2022
@bonesoul
Hi! It was complicated for me to disable Quick Insert using `pluginsEnabled` option because i use **pkgd** version of Froala, so i just set `quickInsertTags` options value to `['']` in order it wouldn't show anywhere. Worked for me. Hope it helps)

[2017-07-27 08:39] thonglee commented on #1842
Hi @stefanneculai,
I think, the intended behavior that you explain is wrong logic. You can check with one note, Microsoft Word (office), Google doc, Apple Note ...
The right logic should be the @binod12 expectation.

[2017-07-27 12:25] a-kolybelnikov commented on #1004
@sanjay-parmar-tatva how can I contact you? can't find your email, mate.

[2017-07-27 13:28] stefanneculai commented on #1842
@thonglee MS Word, Google Docs, etc. are not generating HTML valid out of it and that's why the list indentation works differently at them. We consider the behavior we currently have in the editor as the best one for generating a valid HTML output.

[2017-07-27 17:57] opalleq opened #2108 "Can not always detect paste from Excel in IE11"
Hi!

The confirmation popup for keeping formatting won't appear when I paste Excel content in IE.
However, after I change width or height of cells and copy it again, it appears. Though some styles are lost (e.g. text color, border color).

Tested in online demo.
Please find the recording here http://recordit.co/CEqFWpkJ0f

Windows 7
IE11

[2017-07-28 07:11] nullest opened #2109 "can not upload image on IE10"
##### Expected behavior.

##### Actual behavior.

It will returns "Image file type is invalid" when uploading image on IE10.

##### Steps to reproduce the problem.
1.goto [editor](https://www.froala.com/wysiwyg-editor)
2.click "Insert image"

##### OS.
Windows

##### Browser.
IE10

[2017-07-28 14:15] MrToph opened #2110 "Can't write in input created in the edit image popup"
I have the same [issue as 1671](https://github.com/froala/wysiwyg-editor/issues/1671), but unfortunately it was closed. To me it doesn't look like an implementation issue, as the code worked fine in a previous Froala version.

##### Expected behavior.
I should be able to write in an `input` element as usual.

##### Actual behavior.
The `input` doesn't take any `onInput`, `onChange` etc. events and

[2017-07-28 15:30] jbescoyez opened #2111 "URLs accepted by browsers are silently discarded"
##### Steps to reproduce the problem.
* Go to: https://www.froala.com/wysiwyg-editor
* Select a word in the WYSIWYG editor
* Click on "Insert Link"
* Paste: "https://www.froala.com?&utm_referrer=https%3A%2F%2Fwww.google.be%2F" in URL
* Click Insert link
* Put the caret on the link
* Click edit link

##### Actual behavior.
* URL is empty

##### Expected behavior.

* If the URL is considered as vali

[2017-07-28 15:32] reberinformatik commented on #781
The problem with 9995 max is, that bootstrap modal uses 10050 as z-Index. And forcing the bootstrap modal doesn't seem like a good idea. Could you increase the maximum possible value?
`bootstrap.css-4.0.0,
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}`

[2017-07-28 20:18] stefanneculai commented on #781
@reberinformatik Thanks for letting us know about this. We'll update it.

[2017-07-28 20:20] stefanneculai commented on #2110
@MrToph could you please make a jsFiddle or CodePen? Thanks.

[2017-07-28 20:22] stefanneculai commented on #2109
@nullest could you please send us the file you're trying to upload?

[2017-07-28 21:15] loicbisiere commented on #1582
Is it possible to get a hook function to customize the server response before Froala try to insert the ressource? With this feature, we could use any image hosting SAAS without creating a proxy server side.

Currently, I need to create a dirty trick 👎  by overriding JSON parse:
[code]

[2017-07-28 21:23] loicbisiere opened #2112 "Customize server response after upload"
Is it possible to get a hook function to customize the server response before Froala try to insert the ressource? With this feature, we could use any image hosting SAAS without creating a proxy server side to customize the server response.
Another solution: let us customize the attribut name (link by default).

Currently, I need to use a dirty trick 👎  by overriding JSON parse:
[code]

[2017-07-29 07:16] nullest commented on #2109
@stefanneculai well, any images don't work on IE10 while woking on Chrome or Firefox.

[2017-07-29 09:01] jtrain commented on #2106
We are seeing this issue as well.

Firefox 54.0.1 on windows and mac.

We saw the issue appear in 2.6.2 and it wasn't present in 2.6.1. I downgraded our install to 2.6.1 and it resolved the issue.

I can reproduce the error (when bold is active) here: https://www.froala.com/wysiwyg-editor/examples/custom-buttons and the iframe demo. Perhaps other demos are also affected but I didn't check them - s

[2017-07-30 09:52] stefanneculai commented on #2112
@loicbisiere sure, you could use the [image.uploaded event](https://www.froala.com/wysiwyg-editor/docs/events#image.uploaded), return false to cancel the upload chain and then insert the image using the `image.insert` method.

[2017-07-30 09:52] #2112 closed

[2017-07-31 01:39] adamgins opened #2113 "Getting webspellchecker customscayt.js:33 Invalid CustomerID. Please contact support@webspellchecker.net"
Using Froala 2.6.4 with Meteor

##### Expected behavior.
No error

##### Actual behavior.
Seems to lock component, sometimes not allowing user to edit tables

##### Steps to reproduce the problem.
just running Froala -as per usual.

##### OS.
OSX 10.12.5

##### Browser.
Chrome  Version 59.0.3071.115 (Official Build) (64-bit)

[2017-07-31 03:14] AntiFreez commented on #2099
I also found this issue.

[2017-07-31 03:37] AntiFreez commented on #2108
I also found this issue. `Keep format` window has not appeared and cell resizing does not work in my case.

Excel (Microsoft Office 365 Business, Version 1706, Build 8229.2103):
![excel](https://user-images.githubusercontent.com/1442020/28761774-3823ccb6-75db-11e7-87d7-2182e9e6be4b.png)

IE11 (Version 11.713.10586.0, Update Version 11.0.38):
![ie11](https://user-images.githubusercontent.com/144202

[2017-07-31 04:11] AntiFreez opened #2114 "Styles does not match Word/Excel document"
##### Expected behavior.
Pasting content from Word/Excel should preserve styles.

##### Actual behavior.
Styles differ from original content and between different browsers.

Excel (Microsoft Office 365 Business, Version 1706, Build 8229.2103):
![excel](https://user-images.githubusercontent.com/1442020/28762410-7e0895c2-75e0-11e7-8048-2a10bfe72090.png)

IE11 (Version 11.713.10586.0, Update Version

[2017-07-31 12:31] allomov commented on #994
Looks like the solution that I've provided fails to work in chrome.

[2017-07-31 13:09] stefanneculai commented on #2114
@AntiFreez could you please send us the document you're pasting from?

[2017-07-31 13:10] stefanneculai commented on #2113
@adamgins would it be possible to make a recording of it? Thanks.

[2017-07-31 18:10] Panman8201 opened #2115 "Expectation of a <label> tag?"
##### Expected behavior.
Using a `<label>` targeting a `<textarea>` (turned Froala Editor) should focus the editor.

##### Actual behavior.
Editor is not focused

##### Steps to reproduce the problem.
I've created a JS Fiddle replicating this, along with a label that attaches an event handler to focus the editor. My question is; should the editor support this out of the box somehow? Or is this not

[2017-07-31 23:27] haroldhues opened #2116 "Cannot Drag and Drop Images in IE11 or Edge"
##### Expected behavior.
Dragging and Dropping an Image should work the same as in Chrome and Firefox

##### Actual behavior.
Doesn't work in IE11 or Edge. IE11 throws a console error, Edge does nothing

##### Steps to reproduce the problem.
Drag the image to the editor.

Here is a video: [2017-07-31_16-17-37-1-capture.zip](https://github.com/froala/wysiwyg-editor/files/1189080/2017-07-31_16-17-37

[2017-08-01 17:55] stefanneculai commented on #2108
@opalleq @AntiFreez could you please send us the documents you're pasting from? Thanks.

[2017-08-01 23:54] andrewskaggs83 opened #2117 "Manually Trigger a Registered Command"
I want to manually trigger the imageManager command (i.e. show the Image Manager) under certain conditions.

I have a binding on the "froalaEditor.commands.after" inside which I want to open the image manager.

`if(cmd == 'insertImage') && /* some more conditions */) {
// Open the image manager
}`

I have tried triggering the handlers for click, mouseup, and mousedown on the #imageManager-1 button

[2017-08-02 08:41] AntiFreez commented on #2114
[Froala test.xlsx](https://github.com/froala/wysiwyg-editor/files/1193196/Froala.test.xlsx)

[2017-08-02 08:42] opalleq commented on #2108
Please find the file attached below

[test.xlsx](https://github.com/froala/wysiwyg-editor/files/1193200/test.xlsx)

[2017-08-02 08:53] AntiFreez commented on #2108
[Froala test.xlsx](https://github.com/froala/wysiwyg-editor/files/1193239/Froala.test.xlsx)

[2017-08-02 11:57] #2105 closed

[2017-08-02 12:11] stefanneculai commented on #2117
@andrewskaggs83 see: https://www.froala.com/wysiwyg-editor/docs/methods#imageManager.show.

[2017-08-02 12:11] #2117 closed

[2017-08-02 12:18] #2106 closed

[2017-08-02 12:23] #2107 closed

[2017-08-02 12:31] #2111 closed

[2017-08-02 13:02] #2099 closed

[2017-08-02 14:37] #2103 closed

[2017-08-02 15:14] stefanneculai commented on #2109
@nullest we couldn't reproduce this. Could you please record a video of it?

[2017-08-03 18:20] adamcooper opened #2118 "Bullets missing when copy/paste from word"
##### Expected behavior.
I expect the bullets to be imported according to the document.

Here is what the document looks like:
![image](https://user-images.githubusercontent.com/12883/28935894-ca96284e-783a-11e7-9613-e31a75ce124f.png)

##### Actual behavior.
Depends on browser but Chrome / Mac is the worst:

Chrome / Mac
![image](https://user-images.githubusercontent.com/12883/28935924-e5f9f96c-78

[2017-08-04 07:48] alexmoraru25 opened #2119 "Paste from word - colors"
##### Expected behavior.
H1 html from Word paste should look like:

`<h1 style="margin-top:12.0pt;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:21px;"><span style="color: rgb(44, 130, 201);">Considered options</span></h1>`

##### Actual behavior.
When pasting from word, the color for an H1 is set inline, ex:

`<h1 style="margin-top:12.0pt;margin-right:0in;margin-bottom:.0001pt;m

[2017-08-04 09:21] stefanneculai commented on #2119
@alexmoraru25 could you send us the document you're pasting from?

[2017-08-04 11:48] alexmoraru25 commented on #2119
After further checks we discovered that the issue is from our side, the `&quot;` was interpreted as `"` and broke the styles.

Sorry and thanks for the assist.

[2017-08-04 11:48] #2119 closed

[2017-08-04 19:07] JBurtonMCFA opened #2120 "IE 11 clicking on wysiwig editor causes browser to crash. Works in chrome."
##### Expected behavior.
(edit text)

##### Actual behavior.
(browser crash)

##### Steps to reproduce the problem.
xlixk on text area of editor)

##### OS.
(Windows 7)

##### Browser.
(IE11)

[2017-08-05 10:43] SagarKarwa commented on #2108
I'm facing an isue in froala(in IE browser), once you click on table button, table popup will open up, select few rows in it, again open same. Now click on other button which have popup like Insert Image , Insert Link, Insert Video. here popup disappears within fraction of seconds. This occurs frequently. Same is happening on
https://www.froala.com/wysiwyg-editor?utm_expid=98676916-3.hPnlB_8ZTIKKK

[2017-08-05 10:47] SagarKarwa opened #2121 "Popup's hide automatically with a fraction of seconds(in IE Browser)"
##### Expected behavior.
Popup should be open until mouse click is not done anywhere else

##### Actual behavior.
Popup disappears within fraction of seconds.

##### Steps to reproduce the problem.
I'm facing an isue in froala(in IE browser), once you click on table button, table popup will open up, select few rows in it, again open same. Now click on other button which have popup like Insert Imag

[2017-08-05 10:49] SagarKarwa commented on #2108
I'm facing same issue, confirmation popup is not opening. It's pasting data withous rows,column css, Plain data.

[2017-08-07 01:06] Smashr opened #2122 "Behaviour based on CSS class / custom attribute"
I'm looking for further documentation on BLOCKS_TAGS as identified here but not having any luck.

[Issue 1554](https://github.com/froala/wysiwyg-editor/issues/1554)

We are looking for a way to assign behaviors to some elements, specifically to not let them split when the "return / enter" key is pressed.

If there was an option to assign behaviors to elements based on a specific attribute or css c

[2017-08-07 10:45] PDiddyStyleShrimpingVessel opened #2123 "Pasting from Word adds in - characters after underlined"
##### Expected behavior.
The formatting of the document is maintained - i.e There are no - characters added in place of the white space in the document

##### Actual behavior.
Some white space in the document is replaced by - characters.
Seems to happen after strike through text or where there is a large amount of white space.

##### Steps to reproduce the problem.
1. Download the attached documen

[2017-08-07 11:09] AntiFreez commented on #2121
Hello @SagarKarwa! What version of IE do you use?
I have tested this issue and want to add some details.

##### Steps to reproduce:

1. фычфычфычфыч

1. "Insert Image" popup was not opened before.
2. Click "insert table" button. Table popup is opened.
3. Click "insert image" button. "Insert table" popup is closed, then "Insert image" popup is opened and closed immediately.

[2017-08-07 11:09] boynet opened #2124 "htmlUntouched:true with htmlAllowedEmptyTags bug"
this config:
[code]
I removed font-family from wordAllowedStyleProps.

1. create a table in word with a few empty rows like:
![1](https://user-images.githubusercontent.com/1615629/29024143-4ad7105e-7b79-11e7-835e-e1129acc016e.jpg)

2. copy and paste in into the editor
3. click on the table in the editor
4. you will get error in console like and the table rows will disappear:
[code]

here is a link

[2017-08-07 12:38] #2118 closed

[2017-08-07 12:50] stefanneculai commented on #2120
@JBurtonMCFA are you able to reproduce this on our website?

[2017-08-07 12:52] stefanneculai commented on #2124
@boynet could you please send the document from which you're pasting?

[2017-08-07 12:55] stefanneculai commented on #2122
@Smashr the best way would be to bind to the keydown event and stop the event propagation by using return false.

[code]

[2017-08-07 12:55] #2122 closed

[2017-08-07 13:03] JBurtonMCFA commented on #2120
Yes, it occurs on the website as well.

From: Stefan Neculai [mailto:notifications@github.com]
Sent: Monday, August 07, 2017 7:50 AM
To: froala/wysiwyg-editor <wysiwyg-editor@noreply.github.com>
Cc: Burton, Jason <Jason.Burton@MCFA.COM>; Mention <mention@noreply.github.com>
Subject: Re: [froala/wysiwyg-editor] IE 11 clicking on wysiwig editor causes browser to crash. Works in chrome. (#2120)

@JBu

[2017-08-07 13:23] stefanneculai commented on #2120
Could you please make a recording?

[2017-08-07 13:26] JBurtonMCFA commented on #2120
From: Stefan Neculai [mailto:notifications@github.com]
Sent: Monday, August 07, 2017 8:24 AM
To: froala/wysiwyg-editor <wysiwyg-editor@noreply.github.com>
Cc: Burton, Jason <Jason.Burton@MCFA.COM>; Mention <mention@noreply.github.com>
Subject: Re: [froala/wysiwyg-editor] IE 11 clicking on wysiwig editor causes browser to crash. Works in chrome. (#2120)

Could you please make a recording?

—
You ar

[2017-08-07 13:34] boynet commented on #2124
[froala.docx](https://github.com/froala/wysiwyg-editor/files/1204960/froala.docx)

Hi try both options (clean and keep) and try clicking on empty rows after pasting

[2017-08-07 15:01] #2116 closed

[2017-08-07 15:18] stefanneculai commented on #2108
We just checked it, and unfortunately, there is not too much we can do about it. It looks in some cases Internet Explorer is doing some cleanup on the pasted HTML before we can intercept it in JS. That makes it not possible to detect if data is coming from Microsoft Excel.

[2017-08-07 15:18] #2108 closed

[2017-08-07 15:35] #2114 closed

[2017-08-07 15:36] stefanneculai commented on #2114
@AntiFreez last commit should fix it in Chrome. For IE, it is a duplicate of #2108.

[2017-08-07 15:40] stefanneculai commented on #2120
We are not able to reproduce it. Please make a recording and let us know additional details about the Windows build and IE specific version. Thanks.

[2017-08-07 15:42] stefanneculai commented on #2121
@SagarKarwa @AntiFreez could one of you guys please make a recording? Thank you.

[2017-08-07 15:50] Smashr commented on #2122
I'll definitely try this, seems quite straightforward :) . Thank you Stefan !

[2017-08-07 16:46] chrisdeeming opened #2125 "Typing near a link partially removes it."
Please see report from one of our users:

Before:
![image](https://user-images.githubusercontent.com/2158514/29036645-2f7c1f7e-7b98-11e7-81b5-6acb1ced75f2.png)

Then I press key "." or any other key on my mobile keyboard Android Chrome.

After:
SmartSelectImage_2017-06-13-08-35-00.png
![image](https://user-images.githubusercontent.com/2158514/29036651-36f977f6-7b98-11e7-96fc-d5ebd1a40c17.png)

It

[2017-08-07 17:45] JBurtonMCFA commented on #2120
IE 11

[cid:image001.png@01D30F7A.FE7CB9D0]

[cid:image002.png@01D30F7A.FE7CB9D0]

From: Stefan Neculai [mailto:notifications@github.com]
Sent: Monday, August 07, 2017 10:40 AM
To: froala/wysiwyg-editor <wysiwyg-editor@noreply.github.com>
Cc: Burton, Jason <Jason.Burton@MCFA.COM>; Mention <mention@noreply.github.com>
Subject: Re: [froala/wysiwyg-editor] IE 11 clicking on wysiwig editor causes brow

[2017-08-07 18:54] chrisdeeming commented on #2125
Forgot to mention: They were able to reproduce the same issue on the Froala Textarea demo.

[2017-08-08 00:14] chrisdeeming opened #2126 "Insert Link Tooltip with Anchor Text over Multiple Lines"
Received a report from one of our users:

Browser: Google Chrome version 60.0.3112.78 (Official Build) (64-bit)

![image](https://user-images.githubusercontent.com/2158514/29050927-e51613ba-7bd6-11e7-94f2-203a7f3eaca3.png)

[2017-08-08 00:41] ibnesayeed commented on #2126
I was able to replicate it on Google Chrome on Android as well (by strategically adding some extra text in the home page's example to make the anchor text break in two lines).

[2017-08-08 05:07] AntiFreez commented on #2121
[Popup's hide automatically with a fraction of seconds(in IE Browser).zip](https://github.com/froala/wysiwyg-editor/files/1206954/Popup.s.hide.automatically.with.a.fraction.of.seconds.in.IE.Browser.zip)

[2017-08-08 05:23] carolynmills commented on #1940
@stefanneculai this still appears to be be an issue when testing it following the above steps

[2017-08-08 09:36] #2100 closed

[2017-08-08 09:39] webjazz opened #2127 "Inserting &nbsp; when copy pasting from other editor in FF"
##### Expected behavior.
1 to 1 copy pasting from other editor should result in identical source code.

##### Actual behavior.
When copy/pasting in latest FF/Windows 7 inserts &nbsp; in each line at various points.

##### Steps to reproduce the problem.
Copy from one froala-editor and paste into another

##### OS.
Windows 7

##### Browser.
FireFox 54.0.1 (32-Bit)

<img width="773" alt="bildschirmf

[2017-08-08 10:43] #2102 closed

[2017-08-08 10:44] stefanneculai commented on #1940
@carolynmills please make sure you're using the latest editor version.

[2017-08-08 10:46] stefanneculai commented on #2109
It appears to work fine. If you could provide exact steps to reproduce it on our website, we would be happy to look into this.

[2017-08-08 10:46] #2109 closed

[2017-08-08 11:11] stefanneculai commented on #2110
@MrToph we tried to reproduce it based on the code you provided, but it appears to work just fine. Could you please provide a jsFiddle or CodePen? We can type in the input without problems.

[2017-08-08 11:13] stefanneculai commented on #2113
@adamgins that error is shown there because you haven't added a license key for SCAYT. Please follow the instructions from https://www.froala.com/wysiwyg-editor/examples/web-spell-checker.

[2017-08-08 11:13] #2113 closed

[2017-08-08 11:14] stefanneculai commented on #2115
@Panman8201 we reviewed this, and we believe that is a bit out of the editor scope because of the way `for` works in the browser. Your solution is a more suitable one.

[2017-08-08 11:14] #2115 closed

[2017-08-08 11:24] maxthet604 opened #2128 "Custom breakpoints for toolbar buttons"
I think there should be an option to declare custom breakpoints beside the `toolbarButtonsMD`, `toolbarButtonsSM` and `toolbarButtonsXS`. This feature will be really helpful if added to Froala.

[2017-08-08 11:28] stefanneculai commented on #2128
There actually is one already. Just add the following code after including the editor CSS (it is in SCSS):

[code]

[2017-08-08 11:28] #2128 closed

[2017-08-08 13:38] jpgilchrist opened #2129 "CodeMirror Improvement Suggestion for ES6 Usage"
We are using Webpack ES6 module loaders for our project and to use webpack and to get CodeMirror working with Froala we have to do something like the collowing

[code]
or
[code]

Having to set CodeMirror on the window seems a little odd and unwanted in webpack/es6 world of module loaders.

At a minimum I think it could make sense to add an option to pass in CodeMirror as an initialization paramete

[2017-08-08 13:59] #2121 closed

[2017-08-08 14:34] #2123 closed

[2017-08-08 14:39] #2129 closed

[2017-08-08 14:41] stefanneculai commented on #2129
With the last commit you could use the following:
[code]

[2017-08-08 15:14] #2124 closed

[2017-08-08 15:15] stefanneculai commented on #2125
@chrisdeeming could you please send us the HTML you have in there? Thank you.

[2017-08-08 15:24] stefanneculai commented on #2126
@chrisdeeming thanks for the report on this one, unfortunately, there is not too much we could do about it because we cannot find out if the link goes to the other line or not. I am closing this as a `wontfix` for now.

[2017-08-08 15:24] #2126 closed

[2017-08-08 15:28] stefanneculai commented on #2127
@webjazz are you able to reproduce this on our website? If so, could you please detail a bit more? Thank you.

[2017-08-08 16:01] ibnesayeed commented on #2126
@stefanneculai, what are some practical issues in not **trying to** position it in the middle of the anchor text, but below the cursor position? I can think of one issue, when the user is using LEFT/RIGHT keys to move the cursor, the tooltip will follow, but this can be strategically stopped from happening unless the cursor moves to the next line.

There is another possibility which seems more pra

[2017-08-08 16:13] stefanneculai commented on #2126
@ibnesayeed the implications of making such changes are quite significant. It is the way we designed the popups for links to appear in V1. However, here are lots of cases when users are using `A` tags for buttons, and they have paddings or custom content inside them which might create some spacing around the text.

We couldn't find a way to satisfy both cases, so when we made V2, we had to go with

[2017-08-08 16:25] ibnesayeed commented on #2126
Thanks @stefanneculai for insights, that makes sense when considering the kind of usage other customers might have. It is not such a big deal, but in future we might be able to come up with a more elegant solution that handles many of the use cases.

[2017-08-08 16:27] stefanneculai commented on #2126
Thanks for the feedback. We're open to any suggestions.

[2017-08-08 18:15] bencallis1 commented on #1055
Any update on this?

[2017-08-08 19:09] chaner opened #2130 "Entering a url with exclamation doesn't work"
##### Expected behavior.
Entering a url with an exclamation point should be recognized as a proper link and saved correctly from both the link editor and html editor. Example url: https://groups.google.com/a/socialchorus.com/forum/#!forum/homedepotfans

##### Actual behavior.
The url with the exclamation point gets stripped out.

##### Steps to reproduce the problem.
Enter a link with an exclamati

[2017-08-08 23:14] carolynmills commented on #1940
I tested it here: https://www.froala.com/wysiwyg-editor/

[2017-08-09 01:09] momadthenomad commented on #2112
Can you please provide an example?

[2017-08-09 08:34] stefanneculai commented on #2112
Sure:

[code]

[2017-08-09 08:35] stefanneculai commented on #1940
@carolynmills on our website keepFormatOnDelete option is not enabled and that's why you see this behavior.

[2017-08-09 11:59] #2130 closed

[2017-08-09 12:21] natcohen opened #2131 "Pasting image doesn't trigger the beforeUpload event"
##### Expected behavior.
Copying an image from one froala editor to another one should trigger the beforeUpload event

##### Actual behavior.
Copying an image from one froala editor to another doesn't trigger the beforeUpload event

##### Steps to reproduce the problem.
I transform my uploaded images to base64 following [this toturial](https://wysiwyg-editor.froala.help/hc/en-us/articles/115000555

[2017-08-09 12:29] largeden opened #2132 "If you use the Image_manager plugin, the cursor does not appear."
##### Steps to reproduce the problem.
![cursor2](https://user-images.githubusercontent.com/5575931/29121264-d356b49a-7d48-11e7-90c8-c31d7295d23d.gif)

##### Browser.
Firefox Only

It only appears in Firefox.
And, add the code below to fix it.

ps:
I think that it is better to add it to the video plugin for future.

[code]

[2017-08-09 12:51] celeneisip opened #2133 "Nested list inside a cell using Tab"
##### Expected behavior.
When I have my cursor in a list item and press tab, It would be great if instead of moving the cell selection to another cell, froala will indent the list item and create a nested list in the process

##### Actual behavior.
When I have my cursor in a list item and press tab,  the cell selection is moved to the next cell and didn't indent the list item

##### Steps to repro

[2017-08-09 15:14] stefanneculai commented on #2131
@natcohen could you please make a jsFiddle for it?

[2017-08-09 15:20] natcohen commented on #2131
@stefanneculai AFAIK, it is impossible to use froala in jsFiddle du to activation key! Please provide a jsFiddle base with froala configured (with image support) and I can show it to you...

[2017-08-09 15:22] stefanneculai commented on #2131
@natcohen https://codepen.io/Froala/pen/PpgxGL

[2017-08-09 15:39] natcohen commented on #2131
Ok go here: https://codepen.io/anon/pen/MvmQod

1. Upload an image with drag/drop (or with the image button).
2. Look at the source code, you should see the image in base64
3. Leave the source view and go back to the editor view
4. Click on the image you just added and do ctrl-c/cmd-c
5. Click wherever on the editor and paste the image ctrl-v/cmd-v
6. Check the source and you should see that your

[2017-08-09 15:51] #2131 closed

[2017-08-09 15:53] #2132 closed

[2017-08-09 19:34] GAntoine opened #2134 "Error when deleting (del key) a horizontal line"
##### Expected behavior.
When editing text, placing cursor before a horizontal line and pressing the delete key (DEL) deletes the line.

##### Actual behavior.
Throws an error: `Uncaught TypeError: Cannot read property 'tagName' of undefined`

##### Steps to reproduce the problem.
- Enable to horizontal rule in the toolbar
- Add a horizontal rule to the text
- Place cursor before the horizontal ru

[2017-08-10 09:49] NiravMungara opened #2135 "The given range isn't in document."
##### Expected behavior.
Image upload.

##### Actual behavior.
I am using editor in bootstrap model.

##### Steps to reproduce the problem.
when I upload image using editor (button "insertImage") and upload process is started then after I close bootstrap model I get this error "The given range isn't in document." in console.
I got error in line/function "...... function ta(){if(xa){b.selection.cle

[2017-08-10 09:52] SagarKarwa commented on #2121
Thanks Stefan, it's working fine with updated version :+1:

[2017-08-10 09:55] SagarKarwa opened #2136 "Drag Image from desktop & drop on froala editor in (IE - 11 Browser), instead of uploading it opens dropped image in same tab."
##### Expected behavior.
Drag Image from desktop & drop on froala editor, it should start uploading(This works fine with chrome)

##### Actual behavior.
Drag Image from desktop & drop on froala editor, instead of uploading it opens dropped image in same tab.
On https://www.froala.com/wysiwyg-editor?utm_expid=98676916-3.hPnlB_8ZTIKKKXBgYslKZA.0&utm_referrer=https%3A%2F%2Fwww.froala.com%2F
, it dont

[2017-08-10 12:01] webjazz commented on #2127
Hi,

yes I can reproduce the same behaviour when copying and pasteing the example content.
![bildschirmfoto 2017-08-10 um 14 00 36](https://user-images.githubusercontent.com/6874672/29169454-6d20bd4c-7dd4-11e7-9f84-090ad83e0a94.png)

[2017-08-10 12:13] webjazz commented on #2127
I am using FireFox 54.0.1 on Windows 7

[2017-08-10 12:29] stefanneculai commented on #2136
@SagarKarwa what windows version are you using?

[2017-08-10 12:31] stefanneculai commented on #2134
@GAntoine are you using the latest editor version?

[2017-08-10 12:39] stefanneculai commented on #2135
It is because when the image has to be inserted, the editor is no longer visible. The best solution would be to disable closing the modal while there is an image upload.

[2017-08-10 12:39] #2135 closed

[2017-08-10 13:29] GAntoine commented on #2134
No, I'm on version `2.5.1`. I've looked through the changelog but couldn't find an entry for a fix to this issue. Should I try upgrading to the latest version anyways?

[2017-08-10 13:30] stefanneculai commented on #2134
Yes.

[2017-08-10 15:31] #2133 closed

[2017-08-10 15:38] loicbisiere opened #2138 "Open image uploader directly"
Hi, I'm trying to open the image uploader (popup open by the imageUpload button) directly without the step "click on imageReplace button":

![screencast 2017-08-10 11-27-16](https://user-images.githubusercontent.com/1148072/29178636-247408ec-7dc0-11e7-93d8-6da744fdd46e.gif)

And as extra question, I would like the to be centered over the image:

![2ps - contacts 2017-08-10 11-30-06](https://user-i

[2017-08-10 15:40] stefanneculai commented on #2138
@loicbisiere for tech support, please reach us via our website. Thank you.

[2017-08-10 15:40] #2138 closed

[2017-08-10 16:16] #2127 closed

[2017-08-10 16:42] stefanneculai commented on #1055
@bencallis1 not yet. Sorry to keep you guys waiting so long.

[2017-08-10 20:30] jason-hobbs commented on #2120
I have this same issue and this is the event viewer entry:
Faulting application name: iexplore.exe, version: 11.0.9600.18763, time stamp: 0x59683ec6
Faulting module name: MSCTF.dll, version: 6.1.7601.23572, time stamp: 0x57fd0632
Exception code: 0xc0000005
Fault offset: 0x0000000000007364
Faulting process id: 0x1130
Faulting application start time: 0x01d31216d2e54e27
Faulting application path: C:\

[2017-08-11 02:50] jason-hobbs commented on #2120
[crash.zip](https://github.com/froala/wysiwyg-editor/files/1216838/crash.zip)
Here is a recording of the crash.

[2017-08-11 05:21] SagarKarwa commented on #2136
Windows 7

[2017-08-11 11:09] largeden opened #2139 "There is a problem with the paragraph_format plugin operation."
##### Steps to reproduce the problem.
![blocks](https://user-images.githubusercontent.com/5575931/29210523-f251f738-7ece-11e7-86ac-534e874380cc.gif)

I have found that this problem only appears in certain locations.
The cause of the problem was in `editor.selection.blocks()`

[code]
If there is `ul` `ol` in the selected element, `blks[i].children.length` becomes 2.

I think I should change it with

[2017-08-11 13:42] Artenes commented on #1137
Hello @rileylark, I am also looking for an editor that allows me to create and manage widgets inside of it. Did Froala solved your problemas or you have chosen another editor?

Thanks in advance.

[2017-08-11 13:58] stefanneculai commented on #1137
@Artenes for Math component, there are the guys from Wiris which made an integration http://www.wiris.com/plugins/demo/froala/php/. If you have any specific questions about achieving something, please don't hesitate to reach us via our website.

[2017-08-11 14:05] Artenes commented on #1137
Thanks for the answer @stefanneculai, I'd like to know if you have any in depth tutorial in how to make plugins for Froala, I need to know if what Froala provides to extends its functionality will be enough to the needs of my project. I saw the page that talks about plugins: https://www.froala.com/wysiwyg-editor/docs/concepts/custom/plugin, but from there I really don't know where to go.

[2017-08-11 14:06] stefanneculai commented on #1137
@Artenes Our support team can definitely offer more guidance. Please use the contact form from our website to provide more details: https://www.froala.com/wysiwyg-editor/contact. Thank you.

[2017-08-11 19:03] waynechaw opened #2140 "Word paste bug"
##### Expected behavior.
User should be able to paste from Word into different froala editors when there are multiple editors on a page

##### Actual behavior.
If there are two froala editors on a page. User paste content from Word into one editor. And then tries to paste content from Word into the second editor. The content will get pasted into the first one.

##### Steps to reproduce the problem

[2017-08-11 20:56] #2140 closed

[2017-08-12 16:13] jkhaoqi110 opened #2141 "Pre tag with code tag will lose blank space"
##### Expected behavior.
![5939d5be-f710-4da1-8261-35d5cc02ab0e](https://user-images.githubusercontent.com/7346148/29242209-6a524c3c-7fbb-11e7-8a6a-c7a89779cd72.png)

##### Actual behavior.
![f4a6a5cb-5d85-45cc-a3a7-908274b3c1a0](https://user-images.githubusercontent.com/7346148/29242213-740c6f46-7fbb-11e7-8430-5b820d9b5be6.png)

##### Steps to reproduce the problem.
Put code tag after pre tag wil

[2017-08-13 05:07] Smashr opened #2142 ""undo" button in toolbar stays disabled after undo.saveStep"
When a change is done to the content externally and undo.saveStep is called right after initializing Froala, it saves the state in the stack but does not enable the 'undo' button in the toolbar.

##### Expected behavior.
Automatically enable the 'undo' button on undo.saveStep if the button is disabled.

##### Actual behavior.
Undo button stays disabled until some other action is performed in the e

[2017-08-14 13:11] stefanneculai commented on #2142
Could you please make a jsFiddle for it?

[2017-08-14 13:12] stefanneculai commented on #2141
@jkhaoqi110 it appears this is not happening on the latest version. Are you able to reproduce it on our website?

[2017-08-14 13:23] stefanneculai commented on #2136
@SagarKarwa could you please make a recording? Thank you.

[2017-08-14 13:48] Smashr commented on #2142
In the pen's froala editor, you'll see the undo button is disabled. Then perform an action in the editor like typing a letter. The undo button becomes active, click it once and it removes the letter you just typed, and click it again and it goes to the previous state without the "Hello world" text.

There seems to be no way to undo to the original state without clicking in the editor and performin

[2017-08-14 15:26] kurdin commented on #2065
initializationDelayed or initialized are not working.

https://codepen.io/anon/pen/MvEONa

[2017-08-14 15:44] Icer2000 commented on #550
Hi there,

there are still issues when pasting e.g. from Microsoft Outlook in IE 11.

Because e.clipboardData is not defined, the froala editor replaces line brakes (\n) with empty string, leading to words gluing together.

We fixed this in ie11 by polyfilling clipboardData on the originalEvent in before.paste.

[code]
Is there any possibility to fix this in froala itself?

[2017-08-14 16:30] Panman8201 commented on #2065
@kurdin You are attaching the event handler after initializing the editor... Instead;

[code]

[2017-08-14 16:59] kurdin commented on #2065
@Panman8201
hmm, that is strange because other events I tried work fine with attachment on init element.

I just tried this and it works as well
[code]
https://codepen.io/anon/pen/RZLQmo

[2017-08-14 17:22] raerae13 opened #2143 "Inline image with left align overlaps bullets/numbers of ordered/unordered list"
##### Expected behavior.
When there is an ordered or unordered list to the right of a left aligned inline image, the styling for the involved elements needs to allow the bullets or numbers to be visible.

##### Actual behavior.
The image ends up overlapping the bullets or numbers. The text still displays.

##### Steps to reproduce the problem.
On Froala website home page. Make the visible text a b

[2017-08-14 18:38] delian7 commented on #2104
@stefanneculai I understand that your team is working on this. Do you have a method that would detect unused span and do a cleanup as a workaround to this issue?

[2017-08-15 04:03] largeden opened #2144 "Typing in IME mode will not working charCounterMax."
[code]

If the input is `IME(keycode == 229)` mode, the result is `false`.
[code]
In IME mode, there is a bug where Chrome, FF can not stop key events, but an `charCounter.exceeded` must be triggered.

I think you should add `$.FE.KEYCODE.IME` and check with `isCharacter()`.

what do you think?

[2017-08-15 08:26] largeden commented on #2142
@Smashr

https://codepen.io/romanesque/pen/mMBNej

Is this what you working thinking?

[2017-08-15 08:56] huhu213 opened #2145 "When adding images failed, click the failed img, not the 'ok' button, the last img that be deleted will appear"
##### Expected behavior.
(Describe expected behaviour here)
Adding images failed and click the images, the failed images should be removed.
##### Actual behavior.
(Describe actual behaviour here)
Adding images failed and click the images, the images being deleted appears.
##### Steps to reproduce the problem.
(Describe the steps to reproduce the problem here)
1. Adding two images, and delete the s

[2017-08-15 12:01] stefanneculai commented on #2065
@kurdin this feature has been added in version 2.6.3, while you're using 2.6.0 in the CodePen: https://www.froala.com/wysiwyg-editor/changelog#2.6.3.

[2017-08-15 12:04] stefanneculai commented on #2143
@raerae13 unfortunately, because of the way browsers are displaying elements we don't have a fix for this. One possible workaround would be to add the following CSS, however, we don't want to add it by default in the editor because it would change the way lists are designed to work by default in the browser.

[code]

[2017-08-15 12:04] #2143 closed

[2017-08-15 12:05] stefanneculai commented on #2104
@delian7  We don't have a workaround for now.

[2017-08-15 12:06] stefanneculai commented on #2144
@largeden nice catch!

[2017-08-15 12:07] stefanneculai commented on #2142
@Smashr the way @largeden suggested is the right way of doing this. A step should be stored before changing the HTML and another one just after that.

[2017-08-15 12:07] #2142 closed

[2017-08-15 17:19] delian7 commented on #2104
@stefanneculai thanks for the quick response. Not to be pushy, just for our planning purposes would you possibly know how big of an endeavor this would be? Would you have an ETA?

[2017-08-15 17:30] chrisdeeming opened #2146 "Touch and dragging on the editor toolbar does not allow scrolling the page"
I think we reported this one to you outside of GitHub around 9-10 months ago and I believe the status at that time was that you were trying to sort a workaround. Adding it here for an update and as it's likely easier to track the issue here.

##### Expected behavior.
If you drag while touching the editor toolbar, scrolling should be allowed.

##### Actual behavior.
No scrolling happens.

##### Ste

[2017-08-15 18:20] kelfink opened #2147 "Image / Advanced Edit menu option disappears"
##### Expected behavior.
I updated to the latest froala editor in my development environment, to try fixing an image save problem (worked!). But once someone else tried it, the advanced image edit menu actually disappeared.  Is this part of the new third-party folder of plugins?  I can't repeat the behavior except to say it might be because at one point I had merged the code and had the aviary plu

[2017-08-15 18:24] andrewskaggs83 opened #2148 "Image Resize Behaves Inconsistently Inside FancyBox IFrame"
##### Expected behavior.
Images would resize fluidly.

##### Actual behavior.
When an editor is intialized within a FancyBox modal, dragging the corners of an image acts erratically (when you begin to drag, the image will jump to a smaller or larger size).

##### Steps to reproduce the problem.

1. Create an HTML page with a basic editor instance.
2. Insert an image and resize.
3. Note that the im

[2017-08-16 05:54] Smashr commented on #2142
Thanks guys @largeden @stefanneculai  ... Looks good, I can't believe I struggled with that :). Appreciate all the help.

[2017-08-16 08:38] stefanneculai commented on #2147
In the latest version, the Aviary plugin is no longer included in the pkgd file and it should be included separately.

[2017-08-16 08:38] #2147 closed

[2017-08-16 08:57] #2148 closed

[2017-08-16 08:59] stefanneculai commented on #2104
It is a particular case for applying the inline styles, and the change required for this has quite a lot of implications. Unfortunately, I cannot tell an ETA at this moment.

[2017-08-16 12:59] andrewskaggs83 commented on #2148
Thanks for the quick turnaround, @stefanneculai !

When can we expect this fix to be included in a release?

[2017-08-16 14:22] peca11 opened #2149 "How to avoid multiple paste event calls"
##### Expected behavior.
I'm trying to find a way to prevent users from making multiple paste event calls in a row when the past content is big (like a wiki page), which can lead to the browser becoming slow or unresponsive.

I have tried to use the froala paste methods to stop multiple calls but I cant make it work.
I also tried to catch the "paste" event with document.addEventListener ("paste...

[2017-08-16 14:23] SeanKendle commented on #1055
I'd like to add my vote for this functionality.  I would like to be able to add custom buttons the same way you can in the toolbar.  Thanks!

[2017-08-16 19:17] SeanKendle commented on #1055
I've actually worked up a solution to this.  I'd love your thoughts on this.

Altered the end of quick_insert.js:

		function add(newButton) {
			var iconModule = a.FE.MODULES.icon();

			b.opts.quickInsertButtons.push(newButton.name);
			a.FE.DefineIcon(newButton.name, newButton.icon);
			a.FE.QUICK_INSERT_BUTTONS[newButton.name] = newButton.button;  //abusing a constant, but not losing sleep ove

[2017-08-17 02:32] vanerleo commented on #1356
Has this been released?

[2017-08-17 03:59] mjniday commented on #1981
I'm having a similar issue. `$.FroalaEditor` is undefined after trying to set `$.fn.FroalaEditor` to the require statement.

`$.fn.FroalaEditor` is an empty object.

[2017-08-17 06:36] xandervdm opened #2151 "Deleting pasted text in Chrome behaves weird around spaces"
##### Expected behavior.
When enabling style to be pasted into the editor and the HTML being pasted into the editor contains SPAN tags, the cursor behaves weird in that it skips spaces between words when back spacing from the end of say a pasted paragraph.

That is, when you reach the first letter of the last word after backspacing, the cursor will jump over the preceding space when deleting that

[2017-08-17 08:23] stefanneculai commented on #2148
It will be included in the next release 2.6.5.

[2017-08-17 08:28] stefanneculai commented on #2149
@peca11 this is rather related to how the browser works rather than the editor. If you'd try to paste the same content in a `contenteditable="true"` element, then the browser would keep pasting several times. If you would like to prevent that in the editor, you could use the `paste.before` and `paste.after` events to cancel other pasting actions being done. However, it might be possible that the b

[2017-08-17 08:28] #2149 closed

[2017-08-17 08:29] stefanneculai commented on #1356
@vanerleo not yet.

[2017-08-17 08:32] stefanneculai commented on #1981
@mjniday please make sure you have jQuery defined globally. It should be something like this: https://github.com/froala/react-froala-wysiwyg#2-make-sure-you-have-the-right-webpack-settings-for-loading-the-css-files-font-awesome-and-jquery.

[2017-08-17 08:34] stefanneculai commented on #2151
@xandervdm please send us a link to the text you're pasting into the editor.

[2017-08-17 08:47] #2146 closed

[2017-08-17 09:03] #2139 closed

[2017-08-17 09:04] stefanneculai commented on #2139
👍

[2017-08-17 09:04] #2134 closed

[2017-08-17 09:06] stefanneculai commented on #2141
I am closing this as it appears to work fine with the latest editor version. Please let us know if you can reproduce it on our website.

[2017-08-17 09:06] #2141 closed

[2017-08-17 09:17] stefanneculai commented on #2110
I am closing this due to lack of response.

[2017-08-17 09:17] #2110 closed

[2017-08-17 09:59] stefanneculai commented on #2120
@JBurtonMCFA @jason-hobbs we couldn't replicate this issue. However, we might have a couple of clues. Are you using a 32-bit installation of Windows? Which graphic card do you have?

[2017-08-17 10:58] #2144 closed

[2017-08-17 11:02] #2055 closed

[2017-08-17 11:39] jkhaoqi110 commented on #2141
@stefanneculai
demo here: https://codepen.io/anon/pen/GvyxJZ
two or more blanks become one blank

[2017-08-17 12:00] mjniday commented on #1981
@stefanneculai this is basically the webpack configuration I'm working with. I can verify that jquery is defined prior to requiring froala. What would cause the required froalaeditor to not be available on `$.FroalaEditor` but still have been loaded onto `$.fn.FroalaEditor` as `{ }`

[2017-08-17 12:02] stefanneculai commented on #1981
Not sure of that. Does it work if you add `window.$ = jQuery;`?

[2017-08-17 15:45] jason-hobbs commented on #2120
On the machine with issues it is 64-bit and it is a virtual machine so the display driver is VMware SVGA 3D

[2017-08-17 15:46] stefanneculai commented on #2120
@jason-hobbs is it possible to somehow share the VM with us?

[2017-08-17 16:12] kurdin opened #2152 "How to display custom error message for image upload / replace with node js (my own API)"
I am using my own API for image uploads (nodejs) and I want to users know if there are any errors on uploads.

How can I send back error code with message to display on image upload/replace popup?
I use ` return res.status(422).send(JSON.stringify(new Error('JPG, JPEG or PNG only')));` and it's kinda working but only for uploads (not for image replace) I can see message in popup 'Something went wr

[2017-08-17 16:14] stefanneculai commented on #2152
https://github.com/froala/wysiwyg-editor/issues/1358#issuecomment-228046725

[2017-08-17 16:14] #2152 closed

[2017-08-17 17:46] mikesul opened #2153 "Touch scrolling on editor toolbar buttons does not work as expected in Android"
This is an extension off the change from #2146 - unfortunately, this fix/improvement is not complete and there are now differences between iOS and Android.

##### Expected behavior.
When touch a touch starts on an editor toolbar button and you drag away from it, the page should be allowed to scroll.

##### Actual behavior.
The page doesn't scroll and despite the touch ending off the button, the fo

[2017-08-17 22:12] xandervdm commented on #2151
@stefanneculai if you paste the HTML inside the <i> tag box (6th box from top) from the top on this page for example (starting with "Color text and another color..."), you can see the problem: https://www.quackit.com/html/examples/html_text_examples.cfm

Also, a more simple test to reproduce the issue is if you copy and paste the italic text from the <b> tag box (5th box from top) in above link in

[2017-08-18 02:59] jason-hobbs commented on #2120
We will have to do something chrome remote and share the screen, I am available Saturday the 19th after 5:00 pm central.

[2017-08-18 06:16] stefanneculai commented on #2120
@jason-hobbs could you please reach us on https://www.froala.com/wysiwyg-editor/contact to see what we can do about this? Thanks.

[2017-08-18 06:21] stefanneculai commented on #2153
Unfortunately, in order to have the buttons work correctly, it is necessary to prevent the scroll event on them for the Android OS. While I can see how this affects the UX, it is the best solution we could find to use the buttons without losing the selection inside the editor. It appears that on Android even the slightest move of the finger when tapping a button triggers the scroll event and somet

[2017-08-18 06:21] #2153 closed

[2017-08-18 09:22] docikaci commented on #2145
![gif3](https://user-images.githubusercontent.com/7788102/29452651-ad0248c0-8439-11e7-85ce-afa41d621cd2.gif)

[2017-08-18 09:28] docikaci commented on #2145
选第一张图片，然后选第二张图片，删除第二张图，再一次选一张图片（上传失败），点击上传失败的图片，会显示刚删除的图片，bug or 正常？

Choose the first picture, then choose the second picture, delete the second picture, and then select a picture (upload failed), click upload failed picture, will show just deleted pictures, bug or normal?

[2017-08-18 10:29] dungphanxuan opened #2154 "How to set image width 1000px when upload and insert image"
I try to upload image with size large than 1000px, so editor set image with 300px, so how can i auto set with 1000px when insert image.
![image](https://user-images.githubusercontent.com/10725732/29455287-cf706f12-843a-11e7-9f34-955c4794eeda.png)

[2017-08-18 11:30] mikesul commented on #2125
This may be Android keyboard dependent as it looks like it's caused by word completion. Note that my initial tests have been done with SwiftKey.

I started with an empty editor, typed "test" 3 times and then highlighted the middle one and gave it a link. The resulting HTML was:

```<p>Test <a href="http://Example.com">test</a> test&nbsp;</p>```

I placed my cursor at the end of the linked "test".

[2017-08-18 15:27] natashad commented on #2099
This still seems to be broken (but slightly differently) using v2.6.5 : https://jsfiddle.net/L8m12nLh/1/

## Steps to reproduce the problem.

JSFIDDLE: https://jsfiddle.net/L8m12nLh/1/

Create multiple Froala editors on a page.

- Upload an image to the first one.
- Delete/destroy the first editor. (In the example provided, click on the "Destroy Editor A" button.)
- Try uploading an image to the s

[2017-08-18 19:24] grid-100 commented on #180
I use this code to toggle Edit or View mode from external button
[code]

[2017-08-18 20:58] markedmondson commented on #1356
I'd love to see promises implemented on the afterPaste event too!

[2017-08-18 22:28] olliegardener commented on #1580
Hi. I have customers wanting to embed presentations into the text editor and I have made it work with the video embed options for google slides. If I try with slideshare however, I get the same issue as is described above.
I realise the video embed wasn't really intended for other formats or services, but is there any way to circumvent this issue or other functionality/plugins which would allow sl

[2017-08-21 05:07] jtrain opened #2155 "Find image data in clipboard of multiple items"
I have included a patch at the end..

##### Expected behavior.
Froala to upload the image data after copy and paste

##### Actual behavior.
A HTML version with a src hotlinking to the original image is inserted

##### Steps to reproduce the problem.
1. Visit an image e.g. http://www.britainexpress.com/zen/albums/potd/Cree-Woods-1333.jpg
2. right click and select "copy image" < firefox terminology

[2017-08-22 01:58] natashad opened #2156 "Can't upload an image after deleting the first of multiple froala editors."
##### Expected behavior.
When you have multiple editors, deleting one shouldn't affect the others. This is a follow up from: https://github.com/froala/wysiwyg-editor/issues/2099 since it still seems to be broken (a little differently) in 2.6.5 as well.

##### Actual behavior.
If you delete the first of multiple editors, you can no longer upload an image. The file browser opens, but selecting an im

[2017-08-22 03:46] xandervdm commented on #2151
@stefanneculai do you have an ETA for when a fix or perhaps a workaround for this can be expected?

[2017-08-22 10:48] stefanneculai commented on #2151
@xandervdm we just tried to reproduce it without success. Could you please make a recording?

[2017-08-22 10:53] stefanneculai commented on #2125
@mikesul we can confirm it is being caused by the autocomplete. Unfortunately, we cannot control that from JS. I am going to close this for now and mark it as `wontfix`.

[2017-08-22 10:53] #2125 closed

[2017-08-22 10:54] stefanneculai commented on #2154
See: https://www.froala.com/wysiwyg-editor/docs/options#imageDefaultWidth.

[2017-08-22 10:54] #2154 closed

[2017-08-22 11:01] stefanneculai commented on #2155
@jtrain Nice catch. Thanks for the suggestion.

[2017-08-22 21:58] dankantor commented on #1560
@stefanneculai I'm having the same issue and have been struggling for days. The link you posted is not very detailed. I have a custom button that inserts some custom HTML. I want to show inline edit buttons when the custom html element is clicked. I don't see any example that shows how to do it.

[2017-08-22 22:03] xandervdm commented on #2151
@stefanneculai here is video showing the problem in the latest version of Chrome. HTML in the video is copied from https://www.w3schools.com/html/tryit.asp?filename=tryhtml_formatting_b

Note what happens to the cursor as you backspace over the first character of any word and it skips the preceding space. With sound you can hear the click of the backspace key.

[2017-08-23 03:24] shd188 commented on #1004
@sanjay-parmar-tatva  Please tell me your email，thanks

[2017-08-23 03:32] sbosell commented on #1510
Any update on this?

[2017-08-23 06:21] IndrajaPunna commented on #1843
Just want to know by when this enhancement request is going to be implemented.

[2017-08-23 09:24] niclasahlqvist opened #2157 "Cant invoke link.insert when an editor.image doesnt return null when using custom link dialog"
##### Expected behavior.
link.insert should wrap selected image with a tag regardless of built in link dialog is used or not.

##### Actual behavior.
link.insert assumes built in link popup dialog is active when image.get is not null. This doesn't work when you want to use a custom link dialog both for selected text and selected image via the imageEditButtons

`//i is the returned jquery of image.

[2017-08-23 14:58] SidKH opened #2158 "Ability to trigger registered command manually"
Hey guys, is there a way to manually trigger custom command registered with `$.FroalaEditor.RegisterCommand` ?

Currently `$('#editor').froalaEditor('commands.myCommand')` doesn't seem to work even after you register `myCommand`, and throws `Method commands.myCommand does not exist in Froala editor`.

[Codepen Example](https://codepen.io/Sid_KH/pen/QMxQLx).

Thanks.

[2017-08-24 11:56] Faey2222 commented on #296
Any update on this yet?

[2017-08-24 13:06] Artenes opened #2159 "Quick Insert plugin file is minified"
I'd like to implement a custom quick insert plugin to Froala to use in my project. For this I intend to use as a base the current Quick Insert plugin that comes with Froala. But the plugin file is minified and is really hard to understand anything in this kind of file.

So is there any possibility that I can have access to the source of at least this plugin? I am planning in buying a Froala licens

[2017-08-24 13:56] ca-dsgn commented on #280
@stefanneculai Is it possible to prevent this behaviour? I would like to use p tags inside li.

[2017-08-24 17:16] ca-dsgn opened #2160 "Froala editor strips out p element from li elements"
##### Expected behavior.
When entering something like this via html to the editor:

[code]

##### Actual behavior.
It becomes this:
[code]

W3C describes content model of a li item as Flow Content:
https://www.w3.org/TR/html5/grouping-content.html#the-li-element

Flow content contains the p element:
https://www.w3.org/TR/html5/dom.html#flow-content-1

##### OS.
macOS latest Version

##### Browser.

[2017-08-24 21:27] stefanneculai commented on #2159
@Artenes the Professional and OEM licenses come with the source code unminified.

[2017-08-24 21:27] #2159 closed

[2017-08-24 21:29] stefanneculai commented on #2158
Here is what should do for that:
[code]

[2017-08-24 21:29] #2158 closed

[2017-08-24 21:34] stefanneculai commented on #1843
@IndrajaPunna I don't have an estimate to provide for this at this moment.

[2017-08-24 21:35] stefanneculai commented on #1560
@dankantor the `toolbar.showInline` method does just that: https://www.froala.com/wysiwyg-editor/docs/methods#toolbar.showInline.

[2017-08-24 21:38] dankantor commented on #1560
@stefanneculai thanks. I ended up writing a custom plugin with two different popups. One that is triggered off a custom toolbar button and one which is triggered when my custom html element is clicked.

[2017-08-25 09:59] SidKH commented on #2158
Thanks @stefanneculai !

But `$.FE.COMMANDS.yourCommand` would be an object with a set of settings for command including `callback` function.

So `$.FE.COMMANDS.yourCommand.callback.call(editor)` will work.
Although `yourCommand` settings like `undo`, `focus`, etc.. would be ignored.
Would be great if you implement ability to trigger commands directly with all set of options as it triggered native

[2017-08-25 15:36] largeden commented on #2078
hi @stefanneculai
This regular still needs a modification.

The following text are also auto linked.
`test.comalekjfleafjljf`

[2017-08-25 16:32] irphilli opened #2161 "URL Detection interfering with editing sentence"
##### Expected behavior.
Period added to text in editor

##### Actual behavior.
Link created at end of sentence

##### Steps to reproduce the problem.

- Paste the following text into editor:
(See important note after this Help text — spoiler alertbatchconverter.exe is wrong — batchconverter.com
- Anywhere along the text, try to add a period

##### OS.
Mac OS

##### Browser.
Chrome Latest

##### F

[2017-08-25 23:58] Coedcoe commented on #296
Here's some hacky JS/CSS to use the images alt text and display that as an image caption

[code]

  SASS styles to make it look nice:
[code]

Preview in action:
<img width="946" alt="screen shot 2017-08-25 at 4 55 18 pm" src="https://user-images.githubusercontent.com/6466412/29736453-43bbb4f0-89b6-11e7-81be-abe1e415cbe9.png">

[2017-08-27 03:58] skk2142 opened #2162 "The text doesn't wrap around an inline left-aligned image."
[bug-video](https://youtu.be/6_ZUBKcwTT8)
##### Expected behavior.
With left alignment and inline-block display of image, the text should wrap around the image. However, it sometimes does not and hence is a bad UX.

##### Actual behavior.
The text doesn't wrap around.

##### Steps to reproduce the problem.
Shown it in the video. Just insert an image, align left, change display to inline. Then star

[2017-08-27 18:10] OlliePython opened #2163 "HTML being displayed as a string, not rendered HTML"
I am using Node.js as a backend, and when I submit HTML in the wysiwyg editor, it gets displayed in tags, so typing "Hello" will be displayed as "<.p.>Hello<./p.>" (with the tags)

[2017-08-28 10:58] ShanmugaPriyanV opened #2164 "Table Resize cursor not appearing for the froala Editor on a bootstrap Modal"
##### Expected behavior.
Table resize cursor <-||-> should appear on the table border to resize the table

##### Actual behavior.
Cannot see the table resizer

##### Steps to reproduce the problem.
Insert the Editor in an bootstrap Modal.
create a table.
hover the mouse to the table border.

##### OS.
Windows 7

##### Browser.
Chrome Version 60.0.3112.101 (Official Build) (32-bit)

[2017-08-28 14:19] LinGG opened #2165 "html.insert does not updates textarea"
##### Expected behavior.
When you paste some text via API and then hit save button - new changes are not posted.

##### Actual behavior.
You have to click editor to toggle some "update" call for it.

##### Steps to reproduce the problem.
Using latest version of editor without any settings passed in.

##### OS.
Win10

##### Browser.
Chrome 60

[2017-08-28 14:46] stefanneculai commented on #2165
If you are inserting text in the editor using the `html.insert` or `html.set`, you should also use the `undo.saveStep` method in order to add the changes to the undo stack.

[2017-08-28 14:46] #2165 closed

[2017-08-28 14:47] stefanneculai commented on #2164
Please set a zIndex option in the editor higher than the Bootstrap Modal: https://www.froala.com/wysiwyg-editor/docs/options#zIndex

[2017-08-28 14:47] #2164 closed

[2017-08-28 14:48] stefanneculai commented on #2163
Most likely when you display the content it is not being marked as safe HTML

[2017-08-28 14:48] #2163 closed

[2017-08-28 14:50] stefanneculai commented on #2162
That is happening because the image is below the text. To have text on its right, you should move the picture up by dragging it in front of the text you want to go to the right.

[2017-08-28 14:50] #2162 closed

[2017-08-28 14:54] stefanneculai commented on #2158
@SidKH That is right, I updated the comment.

Another way to call a command would be by the following code. This should do the undo/focus things automatically: `editor.commands.exec('yourCommand');`.

[2017-08-28 14:55] SidKH commented on #2158
@stefanneculai Thanks! That's exactly what I need.

[2017-08-28 15:07] LinGG commented on #2165
would be great to have this as default true argument in the list. I guess around 99% of cases want to save the step.

[2017-08-28 16:35] natcohen opened #2166 "Problem with new At.js"
I've tried to reimplement the new At.js into the latest froala and got issues after a selection was made. Try this: https://codepen.io/anon/pen/qXJpMy and add "@", choose one in the list and then try to put the pointer in what has just been added to the editor. Also trying to delete the selection with backspace doesn't work as well as arrows...

##### Steps to reproduce the problem.
https://codepe

[2017-08-28 17:12] OlliePython commented on #2163
How do i render it

________________________________
From: Stefan Neculai <notifications@github.com>
Sent: 28 August 2017 15:48
To: froala/wysiwyg-editor
Cc: OlliePython; Author
Subject: Re: [froala/wysiwyg-editor] HTML being displayed as a string, not rendered HTML (#2163)

Most likely when you display the content it is not being marked as safe HTML

—
You are receiving this because you authored

[2017-08-28 18:29] george-norris-salesforce commented on #2160
I've noticed similar behavior. This is currently breaking alot of our content.
Also a links `href` are being stripped when they are in a list.

[2017-08-28 20:18] george-norris-salesforce opened #2167 "Links in Li are getting hrefs stripped out"
when pasting (example Google Docs)
Links in Li are getting hrefs stripped out

[2017-08-28 20:21] SeanKendle opened #2168 "Toolbar goes slightly out of top of window on Firefox"
##### Expected behavior.
Toolbar should test to see if it needs to be shown above or below content and display where it is fully visible.

##### Actual behavior.
Every other time, on Firefox, when the toolbar opens, it's shown floating out of the top of the window.

##### Steps to reproduce the problem.
Create an inline Froala on a page with several lines of text.  Open toolbar by highlighting tex

[2017-08-29 03:54] xandervdm commented on #2151
@stefanneculai any update on this issue and a possible ETA for resolution? We have a large customer chasing us for a fix. Thanks

[2017-08-29 09:20] ShanmugaPriyanV commented on #2164
I have set the zIndex and popups appear correctly but the table resizer is not working.

[2017-08-29 16:45] will-newmarch opened #2169 "Able to crash editor when editing tables quickly"
##### Expected behavior.
Able to edit table cells quickly

##### Actual behavior.
When trying to edit table cells quickly the editor eventually freezes

##### Steps to reproduce the problem.
See GIF, though essentially, add multiple tables inside each other and edit different cells in quick succession - GIF showing issue https://cl.ly/1y0G1d3m2w2r

##### OS.
Mac OSX

##### Browser.
Chrome Version

[2017-08-30 10:58] stefanneculai commented on #2164
@ShanmugaPriyanV could you please make a jsFiddle for it?

[2017-08-30 11:02] stefanneculai commented on #2151
@xandervdm we don't have an ETA for it, however we were able to reproduce it now and there should be a fix shortly.

[2017-08-30 11:05] stefanneculai commented on #2168
@SeanKendle could you please make a jsFiddle for it?

[2017-08-30 11:06] stefanneculai commented on #2167
@george-norris-salesforce could you please send us a document you're pasting from?

[2017-08-30 11:08] stefanneculai commented on #2166
That's because the inserted HTML should have the class `fr-deletable`. We'll put an update shortly.

[2017-08-30 11:32] dianaprajescu commented on #2169
Thanks for reporting this. However we can't figure out the exact steps to reproduce the issue. Is it a specific action you are trying to achieve that causes the editor to freeze? We can't even say if it's a simple click, double click or click and drag. Also what is the origin of the click? Any extra feedback you can provide is highly appreciated.

[2017-08-30 13:21] natcohen commented on #2166
Looking forward to get this working... why did you put the enhancement tag? IMHO it's more a bug than an enhancement. You can't go backward with the arrows of your keyboard and it has unexpected behaviors. Anyway, if you get this working, it's all that matters.

[2017-08-30 14:07] SeanKendle commented on #2168
Test this in Firefox:  highlight the top text in this example, and the toolbar will go out of the iframe:

https://jsfiddle.net/SeanKendle/88ex1L63/3/

[2017-08-30 15:39] will-newmarch commented on #2169
Hi Diana, yes of course, sorry I wasn't very detailed in my explanation. On the GIF I sent over I have created a table and then created a table inside one of the table cells and repeated this making another table in another table cell.

I have then single clicked into a cell and typed text, before single clicking into another cell and typing more text, and then repeating this in quick succession.

[2017-08-30 15:41] largeden opened #2170 "inline mode does not working dropdown menu in IOS."
##### Steps to reproduce the problem.
![inlinemodeios](https://user-images.githubusercontent.com/5575931/29881224-faf3f196-8de4-11e7-9eb8-4d53cd136bca.gif)

There is a problem with the dropdown menu.

[2017-08-30 17:13] NathanDubord opened #2171 "Froala at.js integration issue"
##### Expected behavior.
https://www.froala.com/wysiwyg-editor/examples/at-js

Span that wraps the mention.
```<span class="atwho-inserted" data-atwho-at-query="@">@Jacob</span>```

##### Actual behavior.
```<span class="atwho-inserted" contenteditable="false" data-atwho-at-query="@">@Jacob</span>```

##### Steps to reproduce the problem.
Installed latest at.js and froala.

Froala config:
[code]

[2017-08-30 17:14] stefanneculai commented on #2171
Duplicate of #2166

[2017-08-30 17:14] #2171 closed

[2017-08-30 19:22] jsilve commented on #332
@stefanneculai I am trying to look at the link above with your fix and looks like im getting a 404

[2017-08-30 19:56] SeanKendle commented on #1554
I created a couple of plugins that add DIVs into the editor.  We need DIVs to be in the $.FroalaEditor.BLOCK_TAGS list so that they're allowed as top-level elements, but I also want people to be able to type comfortably within them, and add P tags by hitting enter, without them being split apart.

Is there any way to accomplish this?

[2017-08-31 04:26] icepoint0 opened #2172 "how to regist html change event?"
i didn't see anything about this.

[2017-08-31 06:57] largeden commented on #2170
@stefanneculai
https://github.com/froala/wysiwyg-editor/commit/acfefad571f96dad3f73714542138365e1ed4e71

There seems to be a problem with this commit.

[2017-08-31 07:33] benorudolf opened #2173 "Pasting issue with new lines (version diff 2.6.0 vs 2.6.5.)"
##### Expected behavior.
When I paste a list like this:

CreatedBy
Client
CreatedDateTime
FollowupByDate
ContactName
Text

I would expect each line to be wrapped in a paragraph tag so I can easily edit this e.g. make a bullet list, each line its own bullet.

##### Actual behaviour.
No paragraphs are added. Break tags are used which makes creating a bullet list from this tedious.

##### Steps to re

[2017-08-31 13:40] caolan2603 opened #2174 "Froala Editor violating Content Security Policy"
##### Expected behavior.
When loading a page which contains a Froala editor no console errors are thrown & CSP is not violated

##### Actual behavior.
My CSP is set such that only internally hosted images are allowed with the exclusion added for base 64 images contained within css files (data:)

When loading a page which contains a Froala editor, console error is thrown stating:
"Refused to load t

[2017-08-31 13:42] stefanneculai commented on #2174
Yes, please reach us via https://www.froala.com/wysiwyg-editor/contact and our support team will help you with this.

[2017-08-31 13:42] #2174 closed

[2017-08-31 16:06] stefanneculai commented on #1554
@SeanKendle please add class `fr-inner` to those divs that you don't want to split.

[2017-08-31 16:13] stefanneculai commented on #2173
@benorudolf could you please send us a link to a page from where we can copy the HTML you're having problems with?

[2017-08-31 16:14] stefanneculai commented on #2170
@largeden thanks for the additional investigation. We're going to check it shortly.

[2017-08-31 16:16] stefanneculai commented on #2172
Could you please detail what you mean by `html change event`?

[2017-08-31 16:17] stefanneculai commented on #332
@jsilve that's because we moved some things around. See here: https://github.com/froala/wysiwyg-editor/blob/master/html/misc/scrollable_container.html.

[2017-08-31 17:55] SeanKendle commented on #1554
@stefanneculai thanks for that, that seems to allow me to add new lines.  However, they're coming out as BR tags instead of P tags.  Is there a way to allow P tags within div elements, specifically?

[2017-09-01 03:10] icepoint0 commented on #2172
click the code button,and input some html code. i want to observe the html code change

[2017-09-01 05:35] #2167 closed

[2017-09-01 05:35] george-norris-salesforce commented on #2167
nm it was a problem on our end

[2017-09-01 06:10] AntiFreez commented on #2164
Hello @stefanneculai,
I have faced the same issue. Here is an example for AngularJS Material dialogs: http://jsfiddle.net/xdm4sjpb/8.
Also, insert column/row button does not appear.

Probably it is another question, but table editing popup appears under the modal backdrop. I found solution, but want to be sure that it is ok to override Froala styles.

[2017-09-01 07:38] mr-manuel commented on #1307
+1

[2017-09-01 08:06] benorudolf commented on #2173
@stefanneculai I copied the list-like text from a Trello description, but you can use the above text or any other. This for example:

Item1
Item2
Item3

Again, on version 2.6.0 it will paste with each item being wrapped in a p tag enabling selection and creating bullet points in one go.
On version 2.6.5 it doesn't wrap items in p tags and you can't select all and create a bulleted list - it create

[2017-09-01 08:50] stefanneculai commented on #2164
@AntiFreez to show the table popup editing correctly, you should set the zIndex option for the editor:
[code]

Also, inside modals, it is best to set the `scrollableContainer` option as well, so that all controls are being placed relative to the modal and not the body of the page.

[2017-09-01 09:13] stefanneculai commented on #2172
We don't have an option for getting the changes from HTML view. A change in HTML view is considered finished when switching back to the editor. That's because rendering it before that, would involve a lot of computation to clean up the HTML each time and make it valid in case it's not.

[2017-09-01 09:13] #2172 closed

[2017-09-01 09:14] stefanneculai commented on #1554
@SeanKendle it is not possible to allow P tags within DIV elements at this moment.

[2017-09-01 11:18] AntiFreez commented on #2164
@stefanneculai thank you! I have updated demo http://jsfiddle.net/xdm4sjpb/10.
Popups now are working fine.

Resize indicator still does not appear.
Also you can see that insert column/row button appears in the wrong place.

[2017-09-01 13:27] SeanKendle commented on #1554
Ok this will work for now.  Is there a list of special classes somewhere like fr-inner?

[2017-09-01 19:27] WayneUong opened #2175 "Wrong font-family format when saving"
##### Expected behavior.
`<span style="font-family: &quot;Times New Roman&quot;, Times, serif; font-size: 18px;">a</span>`

##### Actual behavior.
`<span style="font-family: "Times New Roman", Times, serif; font-size: 18px;">a</span>`

##### Steps to reproduce the problem.
When editing font family and font size for paragraphs, the first `<p>` will save the `&quot;` as `"` along with the font name,

[2017-09-01 19:30] WayneUong commented on #2175
The last `<p>` is affected too.

[2017-09-04 07:00] StefanNeuser commented on #803
But why

[code]

ends with

[code]

[2017-09-04 08:18] stefanneculai commented on #803
@StefanNeuser The markers should always be used together and `selection.restore` should be called after inserting them.

[2017-09-04 08:27] stefanneculai commented on #2175
Please make sure you're using the latest editor version.

[2017-09-04 08:27] #2175 closed

[2017-09-04 08:28] stefanneculai commented on #1554
There is only one more class which could be used `fr-deletable` which could be used to mark an entire inline node as being deletable on backspace.

[2017-09-04 08:32] stefanneculai commented on #2164
@AntiFreez we did an additional check and it appears that the problem is actually coming from the transform CSS property of the modal. It should be overridden by setting it to none.

<img width="816" alt="screen shot 2017-09-04 at 11 30 57" src="https://user-images.githubusercontent.com/637004/30018208-acb4de04-9164-11e7-8204-88de7691c57f.png">

[2017-09-04 09:12] ptheofan opened #2176 "Suggestion: Content free of fr- control classes."
Would be nice if the editor itself would provide a means of cleaning up the control classes set by the various plugins and used only for the "internals"

The cleanest possible way would be to create an element outside the forms etc where it keeps the code we actually edit and see and the actual control where we enable it on (example text-area) would only keep a clean copy withought the fr- classes

[2017-09-04 13:02] corneverbruggen opened #2177 "Suggestion: make link valid protocol configurable"
When entering a URL in de link popup, or when using `link.insert`, the default protocol as defined in `linkAutoPrefix` is added when neither `http` nor `https` is detected. But sometimes you might want to use a protocol different then http or https. For instance, I'm working on an application where I want to refer to a global id of a resource having protocol `gid://`. Those href values are transfo

[2017-09-04 13:25] ptheofan opened #2178 "Spellcheck language cannot be set"
After some digging in the minified spell_check js I found and copied the configuration options (the ones on the documentation are not correct) so I ended up with these.

[code]

I would have expected spell checker to pass on the de_DE to the webspellchecker. Instead in request is formed as follows

`
cmd=check_spelling&customerid=...hidden...&format=json&out_type=words&version=1.0&slang=en_US&text

[2017-09-04 23:43] mukk85 opened #2179 "When removing one word in a bolded sentence the space before is also removed"
##### Expected behavior.
**foo bar**
When selecting and deleting _bar_ I would expect the output to be **'foo '**

##### Actual behavior.
The space after foo is removed and the output is **foo**

##### OS.
OSX and Windows

##### Browser.
Chrome 60.0.3112.113

[2017-09-05 09:45] ShanmugaPriyanV commented on #2164
@steffanneculai i tried in seperate standalone and the table resizer was working but in a wierd way..Im using Jhipster app generator somehow the table resizer is totally not working in our Jhipster app.. @stefanneculai is there any way i could get non minified version of plugins js.

[2017-09-05 13:44] Brisstor opened #2180 "Can't type text after inserting HR"
Hello! Looks like here is a minor issue with hr.

##### Expected behavior.
I should be able to type text after inserting hr
##### Actual behavior.
I cant type text after inserting hr
##### Steps to reproduce the problem.
1) Type some text
2) Insert hr
3) You cant type more text after hr
##### OS.
macOS Sierra 10.12.6
##### Browser.
Chrome 60.0.3112.113 64 bit

[2017-09-05 14:28] stefanneculai commented on #2180
@Brisstor are you able to reproduce that on our website? https://www.froala.com/wysiwyg-editor/examples/full-featured

[2017-09-05 14:33] stefanneculai commented on #2164
@ShanmugaPriyanV the unminified JS is available under the Professional/OEM licenses for download inside your account.

[2017-09-05 14:34] stefanneculai commented on #2176
The editor is using `fr-` classes in order to enable rich features such as image alignment or image display. If you don't want these features, the easiest way around it would be not to include these features.

[2017-09-05 14:34] #2176 closed

[2017-09-05 14:57] ptheofan commented on #2176
There appears to be a miss understanding here.

*We do not want to disable the features. We want to serve to live clean html withought utility classes meant for the editor.*

We want to ensure that these classes will never reach our frontend.

We can strip them away ourselves but when we upgrade if a new class is introduced that will leak into the system until it's noticed. The software that gener

[2017-09-05 14:59] stefanneculai commented on #2176
These classes are getting into the content only when they are being used for rich features to display the content. For example, there is `fr-dib` which is used for displaying the image a block with no text next to it. This class would, of course, be present in the output because you want the output to look just like the way the content was edited.

[2017-09-05 15:03] ptheofan commented on #2176
You have 2 type of classes.
1. Internal controls - example, fr-draggable
2. Styling - example fr-dib

The control related classes should be strippable from final content
The styling should be customisable so they can be adjusted to existing CSS (not sure if this is possible atm, haven't tried to modified that part yet)

[2017-09-05 15:05] stefanneculai commented on #2176
`fr-draggable` is being added as a way to tell the editor that the specific element is draggable. It can be used not only on images/videos but it can be used to extend the editor with other draggable elements as well. This is the reason why it is not being removed.

[2017-09-05 15:10] ptheofan commented on #2176
Which makes perfect sense for the editor. But the content is not generated to stay in the editor. We push this content in multiple channels. Example, web pages. On production frontend pages fr-draggable should not exist (it's control class for the editor and not used for styling)

These type of classes must be stripped from web pages (they are not needed, they add bytes, they add nodes to browser

[2017-09-05 15:12] stefanneculai commented on #2176
I believe there is a misunderstanding because you are not taking into consideration editing the content for the 2nd time. If someone would extend the editor and create a special area which can be moved around by using the `fr-draggable`, the 2nd time when the content is being edited, the editor wouldn't know that the particular area should is draggable.

[2017-09-05 15:13] ptheofan commented on #2176
I have loaded content that had no fr- classes at all (from our older editor) and Froala did a great job at adding all the control classes where needed.

[2017-09-05 15:15] stefanneculai commented on #2176
Yes, it is doing that for images and videos, however, it couldn't have done that for custom areas which could be dragged. While I appreciate your suggestion, this is not something we're going to change, at least in the current major version because it might impact existing users.

[2017-09-05 15:16] ptheofan commented on #2176
Fair enough. By any chance you could introduce a function that would return an array with all the control classes? We can then leverage this one and future-proof eliminate them from the content.

[2017-09-05 16:37] Brisstor commented on #2180
@stefanneculai yes, same. But sometimes it works, looks like it depends on click position. http://take.ms/AQJLr

[2017-09-05 18:56] ursoforte commented on #1199
Not wanting the topic, but see in https://github.com/ursoforte/colorhex

[2017-09-05 19:11] wsc-julia-shaptala commented on #2178
Hello Paris,

It looks like that spellcheckLang:"en_US" was saved in your browser local storage. Please try to clean it and let us know if this resolved the problem and now you can see spellcheckLang:"de_DE".

Sincerely,
WebSpellChecker LLC

[2017-09-05 22:20] ptheofan commented on #2178
Hi,

Clearing the local-storage worked fine. However we use multiple languages under the same domain and the configuration of the SCAYT settings in Froalla are generated dynamically.

By my understanding, the data should be updated every time a Froala is initialised (preferrably should be instance dependant though I don't really mind as all the editors on a page use always the same language)

Are

[2017-09-05 23:08] delian7 commented on #1371
Hey @stefanneculai I am seeing this issue pop-up again in the newest 2.6.5 editor. I updated the [Codepen](https://codepen.io/delian7/pen/yorQbg) to use the newest editor. Can you please confirm?

[2017-09-05 23:24] delian7 commented on #1371
I made a GIF to explain the bug that we are seeing when we tried to upgrade to 2.6.2 (this bug is also reproducible in the 2.6.5). The localhost:3000 is using the 2.6.2 and the create.visage.co screenshot is using the 2.3.5 editor.

![line-break](https://user-images.githubusercontent.com/4530694/30087626-959ed466-9256-11e7-9ffa-3fe6c7dc66d2.gif)

Can we simply re-open this issue or should i make a

[2017-09-06 08:40] jalners commented on #2178
We have ‘disableOptionsStorage’ option in our application. But by default this option is empty and language (passed during the first initialization) is saved in localStorage. And Froala Editor does not allow to configure this option.

We will discuss with Froala team about disabling the storing data in localStorage or adding the ‘disableOptionsStorage’ option for ‘scaytOptions’.

[2017-09-06 08:42] ptheofan commented on #2178
Looking forward to an update.
Thank you.

[2017-09-06 10:34] jamesmoss opened #2181 "Emoji ZWJ Sequences aren't deleted correctly when using backspace key"
It's now possible to combine several emojis to create more complex ones that appear as a single emoji. These are known as Emoji ZWJ Sequences because they are single emojis separated by the Zero Width Joiner character.

Lets take this emoji named 'family with two fathers and two sons' as an example:

👨‍👨‍👦‍👦

This is represented as a series of characters:

`man emoji + ZWJ + man emoji + ZWJ + boy

[2017-09-06 11:05] stefanneculai commented on #2178
We're closing this for now and will continue this discussion on email.

[2017-09-06 11:05] #2178 closed

[2017-09-06 11:06] stefanneculai commented on #1371
@delian7 we cannot reproduce it on the codepen you provided. Could you please check?

[2017-09-06 11:12] stefanneculai commented on #2176
It doesn't make sense to add such an option just to have these values there. Here is the list of them:
`fr-draggable`, `fr-dragging`, `fr-uploading`, `fr-selected-cell`, `fr-active`.

[2017-09-06 11:16] ptheofan commented on #2176
Ok, but this is not future proof solution. Just keep it in mind as it could be very helpful for future proof modular systems.

Regarding the styling classes (example fr-dib) is there some way I can rename them in the Froala instance setup through the options?

[2017-09-06 11:23] stefanneculai commented on #2176
Thanks for the suggestion, really appreciate it.

No, we don't have an option for renaming the styling classes.

[2017-09-06 17:22] delian7 commented on #1371
@stefanneculai ahh, I see that there is a slight discrepancy in my original instructions.

If you place the cursor in the middle of the sentence "Froala Text Editor is Cool", and you hit enter twice, clicking the up-arrow will lose the style.

![line-break](https://user-images.githubusercontent.com/4530694/30125455-4ae67fc2-92ed-11e7-9f9a-c85f90013a2f.gif)

[2017-09-07 01:19] xandervdm opened #2182 "Pasting an email address containing enclosed in <..> causes email to disappear"
##### Expected behavior.
The Email address should remain visible

##### Actual behavior.
The email address disappears after pressing [Enter]

##### Steps to reproduce the problem.
1. Goto https://www.froala.com/wysiwyg-editor
2. Delete all text in demo editor
3. Copy and paste: `test <test@acme.com>` (email addresses copied from Outlook are copied like this)
4. Immediately press [Enter] and notice

[2017-09-07 08:33] strokirk commented on #2053
Seconding that we'd like the option to easily customize the attrs of the generated table.

[2017-09-07 08:35] strokirk commented on #2053
@stefanneculai How do I find the newly inserted table if there are already other tables in the editor?
For example when inserting multiple tables, or for nested tables (email).

[2017-09-07 13:50] stefanneculai commented on #2053
Latest commit adds the `table.inserted` event and creates the possibility to get the inserted table easily:

[code]

[2017-09-07 13:57] stefanneculai commented on #2145
@huhu213 @docikaci which is the error message you get in console when listening to the `image.error` event?

[2017-09-07 13:58] stefanneculai commented on #2136
We're closing this due to lack of response. Would be happy to look over it if we'd get more details.

[2017-09-07 13:58] #2136 closed

[2017-09-07 14:07] #2151 closed

[2017-09-07 14:20] #2155 closed

[2017-09-07 14:28] #2156 closed

[2017-09-07 14:32] slavik990 opened #2183 "Cannot prevent posting image"
Now after #2131 when we copy & paste image `beforeUpload` event triggered, but it cannot prevent posting image (image with base64 src added before event triggered). Here jsFiddle https://jsfiddle.net/mLsajwe1/3/

[2017-09-07 14:39] stefanneculai commented on #2183
That's because you should remove the image. See https://jsfiddle.net/mLsajwe1/4/ and make sure you're using the version 2.6.5.

[2017-09-07 14:39] #2183 closed

[2017-09-07 14:45] strokirk commented on #2053
Wow, thanks! That's excellent! :)

[2017-09-07 14:56] slavik990 commented on #2183
@stefanneculai Thanks!

[2017-09-07 16:15] #2166 closed

[2017-09-07 16:24] alexcrawford opened #2184 "imageReplace drag and drop not working"
##### Expected behavior.
Existing image should be replaced with the uploaded file.

##### Actual behavior.
Shows a greyed-out version of the image with no further input possible.

##### Steps to reproduce the problem.
Using v2.6.5 on your demo - click on the image, select the "Replace" button, drag and drop an image file onto the dropzone.

![screen shot 2017-09-07 at 17 23 29](https://user-images

[2017-09-07 16:26] stefanneculai commented on #2184
@alexcrawford could you please make a recording?

[2017-09-07 16:28] #2180 closed

[2017-09-07 16:35] alexcrawford commented on #2184
![f5e6d3fb-85dc-4aef-add8-45f342361b7b-34187-00003fe395055db4](https://user-images.githubusercontent.com/4070024/30174423-f4c83386-93f2-11e7-8b44-e9b0e92c5ee6.gif)

[2017-09-07 16:36] #2182 closed

[2017-09-07 16:39] stefanneculai commented on #2184
@alexcrawford few more questions 😄
1. Which Chrome build version are you using?
2. Could you send us the image you're dropping there?
3. Could you make a screenshot of the entire error?

[2017-09-07 17:15] jturmel commented on #2053
I was literally needing this yesterday, and came back and it's solved. 👍

[2017-09-07 17:42] #2181 closed

[2017-09-07 17:43] stefanneculai commented on #2179
@mukk85 this is fixed on the Github master.

[2017-09-07 17:43] #2179 closed

[2017-09-07 17:58] #2160 closed

[2017-09-07 18:02] stefanneculai commented on #2173
We just checked this and the way the editor is currently pasting is the correct one. The pasted content is not a new paragraph, but a line inside an existing paragraph. Here is a screenshot of it for the content above.

<img width="618" alt="screen shot 2017-09-07 at 21 02 09" src="https://user-images.githubusercontent.com/637004/30177909-dcf2a418-940f-11e7-9863-2d347f066bf6.png">

[2017-09-07 18:02] #2173 closed

[2017-09-07 18:27] #2161 closed

[2017-09-08 07:58] alexcrawford commented on #2184
Sure, see below.

** Which Chrome build version are you using? **
Chrome Version 60.0.3112.113 (Official Build) (64-bit)
Also happening in Safari 10.1.2
![screen shot 2017-09-08 at 08 58 27](https://user-images.githubusercontent.com/4070024/30201796-e69e7780-9473-11e7-824b-078d4455ae04.png)

** Could you send us the image you're dropping there? **
See below but this happens with any image.
![moon

[2017-09-08 11:13] jrhess3 opened #2185 "toolbarstickyoffset not working in Safari 10.1.1"
I am using the toolbarstickyoffset feature and it is working fine on every browser except for 1

The toolbarStickyOffset is not working in Safari 10.1.1

The tool bar remains sticky and gets hidden as you scroll down the page

IOS 10.1.1
Also iPad 10.3.3

[2017-09-08 15:25] ncmancuso commented on #1707
@stefanneculai We're having the same issue, and after reading your comments we've decided to implement your suggested change.

However, we'd love to see feedback for the user when invalid embedded code is inserted. This would be a huge UX improvement from the current functionality.

![videopluginexample](https://user-images.githubusercontent.com/6825718/30218917-6fc9dd9c-9488-11e7-8f07-50861c2b537

[2017-09-08 16:29] NathanDubord opened #2186 "fr- classes not styling content outside of fr-view"
##### Expected behavior / ##### Steps to reproduce the problem.
When creating content in the Froala editor, saving the content, and displaying the content to the user, fr- styling does not take affect. I've tried toggling the "useClasses" config, but seems to have only fixed image alignment. Classes like fr-green, fr-strong, fr-dashed-borders, etc. only have styling affected to them within fr-view

[2017-09-08 22:25] irphilli commented on #2161
Thanks for the fix!

One thing that I did notice... if you have part of a sentence that you've unlinked and then try to put a period anywhere within the sentence, it'll jump right back to the end again. Suggestion: only do URL detection when updating the part of the sentence that matches a URL. (Should that have a separate issue?)

[2017-09-09 01:59] loicbisiere opened #2187 "Froala init on image - unrecognized expression on Safari"
##### Expected behavior.
The "Upload image popup" should open

##### Actual behavior.
On Safari on IOS or MacOS there is an error in console and the popup doesn't show up:
Error: Syntax error, unrecognized expression: [id*='fr-image-by-url-layer-text'
Safari doesn't support missing "]" (every browser except Safari on Windows and iPhone let this error slip through). See : https://stackoverflow.com/

[2017-09-09 22:03] benorudolf commented on #2173
@stefanneculai Thanks for the reply. Seems it's not as easy to reproduce as I first wrote this, but I found a sure way to do it.

If you paste the _list like_ text on a new line or somewhere inside existing content it parses the list as a single paragraph and uses break tags between the lines.
However, if you clear your editor (select all + delete) and then paste, the lines get parsed as paragraph

[2017-09-10 12:11] chrisdeeming opened #2188 "Add support for the Shift + Del shortcut for cutting text (Windows)"
Apparently, an alternative shortcut in Windows for cutting text aside from `Ctrl+X` is `Shift+Del`. This is certainly undocumented but it does work and some other rich text editors do support it (CKEditor and Redactor).

##### Expected behavior.
`Shift+Del` should work the same as `Ctrl+X` on Windows. The highlighted text should be removed and added to the clipboard.

##### Actual behavior.
The te

[2017-09-11 08:29] stefanneculai commented on #2173
@benorudolf for such cases we would recommend changing the `enter` option to `$.FE.ENTER_BR`.

[2017-09-11 08:31] stefanneculai commented on #2161
@irphilli could you please make a recording?

[2017-09-11 08:32] stefanneculai commented on #2186
@NathanDubord please see: https://www.froala.com/wysiwyg-editor/docs/overview#frontend.

[2017-09-11 08:32] #2186 closed

[2017-09-11 08:32] stefanneculai commented on #1707
@ncmancuso thanks for the suggestion.

[2017-09-11 08:33] stefanneculai commented on #2185
@jrhess3 are you seeing this problem on https://github.com/froala/wysiwyg-editor/blob/master/html/toolbar/offset.html?

[2017-09-11 08:58] #2184 closed

[2017-09-11 09:00] stefanneculai commented on #2187
@loicbisiere we're not using such a selector. Please check if you are not extending the editor somehow and using it.

[2017-09-11 09:00] #2187 closed

[2017-09-11 09:04] #2170 closed

[2017-09-11 09:04] stefanneculai commented on #2170
@largeden great catch! We're reverting it for now to the previous behavior.

[2017-09-11 09:11] stefanneculai commented on #2169
@will-newmarch Unfortunately, without having a consistent way of reproducing this it makes it impossible for us to fix it. While we've been able to reproduce it when typing and selecting chaotic, we couldn't find a logical way to reproduce it even when we recorded the screen and watched it in slow-motion. I am going to close this issue for now, and we would be happy to look again into it if there

[2017-09-11 09:11] #2169 closed

[2017-09-11 09:25] benorudolf commented on #2173
@stefanneculai Thank you for the information. Seems my question doesn't come out clearly.

So the issue we're having is:
If you **paste** a plain text like this in to Froala:

item1
item2
item3

Then select all items and try to create a bulleted list it will only create one bullet and not separate bullets.
If you paste this exact text into Word or Google Docs, select all and create a bulleted list

[2017-09-11 09:25] #2168 closed

[2017-09-11 09:27] stefanneculai commented on #2173
Yes, that would be possible when using `enter: $.FroalaEditor.ENTER_BR`. This mode is similar to the way Google Docs handles new lines.

[2017-09-11 09:36] #2078 closed

[2017-09-11 12:11] benorudolf commented on #2173
@stefanneculai I see! Seems to work as desired with the additional config value.

Thanks for all the help and resolution!

[2017-09-11 12:48] #2177 closed

[2017-09-11 12:49] stefanneculai commented on #2177
With the latest commit, you could use the following code to set protocols before initializing the editor.
[code]

[2017-09-11 12:58] stefanneculai commented on #1371
Latest commit fixes it.

[2017-09-11 12:58] #1371 closed

[2017-09-11 13:04] largeden commented on #2078
@stefanneculai  👍

[2017-09-11 13:17] jrhess3 commented on #2185
Hi Stefan,

The sticky offset feature works in Maverick 10.9.5, but doesn't work in El Capitan 10.11.6.

Here is your code live:

https://sfponline.org/newoffsettest.html

I used a textarea.

John

________________________________
From: Stefan Neculai <notifications@github.com>
Sent: Monday, September 11, 2017 4:33 AM
To: froala/wysiwyg-editor
Cc: jrhess3; Mention
Subject: Re: [froala/wysiwyg-edit

[2017-09-11 13:28] stefanneculai commented on #2185
@jrhess3 it appears to work just fine on El Capitan 10.11.6. For now, we do not support this feature on mobile devices.

[2017-09-11 13:28] #2185 closed

[2017-09-11 16:45] jrhess3 commented on #2185
Hi Stefan,
Thank you for looking into it, it must be something with that particular user's  Mac.
The editor is really an excellent tool for my CMS.
John

Sent from my Sprint Samsung Galaxy S7.

-------- Original message --------
From: Stefan Neculai <notifications@github.com>
Date: 9/11/17 9:28 AM (GMT-05:00)
To: froala/wysiwyg-editor <wysiwyg-editor@noreply.github.com>
Cc: jrhess3 <jrhess3@hotmai

[2017-09-11 17:01] JordanAtIgloo commented on #2188
@chrisdeeming you appear to have a typo in your issue title.

[2017-09-11 17:13] chrisdeeming commented on #2188
I can't believe it's been like that for over 24 hours and no one else told me 🤣

[2017-09-11 18:14] ncmancuso opened #2189 "Resizing a video in IE doesn't work"
##### Expected behavior.
Entering a new width changes the size of the video.

##### Actual behavior.
Update does nothing and a console error is thrown.

##### Steps to reproduce the problem.
- Upload a video using the "By URL" option
- Click on the video
- Click "Change Size"
- Enter some values
- Apply changes

![videoresize](https://user-images.githubusercontent.com/6825718/30289894-a82d4bd6-96f

[2017-09-11 20:53] jpgilchrist opened #2190 "[Improvement] _showErrorMessage with the actual error message"
##### Expected behavior.
I would like the `_showErrorMessage` popup to display the _actual_ error message, not "Something went wrong. Please try again." Especially because you know exactly went wrong. It's in the data sent via trigger:

[code]

In my specific case, I would like it to say "File is too large." because it execes the `maxFileSize`

##### Actual behavior.
Only displays "Something went

[2017-09-11 21:23] jpgilchrist commented on #2190
This is my workaround:

[code]

[2017-09-12 04:11] ghedwards opened #2191 "Table controls not working in latest version?"
Table controls not working in latest version?

[2017-09-12 08:07] stefanneculai commented on #2191
Sure they work. See: https://www.froala.com/wysiwyg-editor.

[2017-09-12 08:07] #2191 closed

[2017-09-12 08:08] stefanneculai commented on #2190
It can be done as described in the last comment. We don't plan to add this as default because there are also errors which might happen on the server side and showing those to users is not ok.

[2017-09-12 08:08] #2190 closed

[2017-09-12 12:46] #2189 closed

[2017-09-12 13:10] danpolites opened #2192 "Inserting image generates Cannot read property 'get' of undefined"
##### Expected behavior.
I expected the image plugin to work by adding the image plugin to the list of plugins. If the link plugin is required with the image plugin, I would expect to see a dependencies column on the [plugins page](https://www.froala.com/wysiwyg-editor/docs/plugins) or an error message that lets me know the link plugin is required.

##### Actual behavior.
I added the image plugin

[2017-09-12 13:36] #2192 closed

[2017-09-12 13:50] #2188 closed

[2017-09-12 13:55] jpgilchrist commented on #2190
@stefanneculai okay, I know my workaround works, but is that what you would actually recommend doing; or do you have a better suggestion?

[2017-09-12 15:13] JordanAtIgloo commented on #2188
@chrisdeeming it's happened to the best of us 😄

[2017-09-12 15:46] jpgilchrist commented on #2129
excellent ty

[2017-09-12 15:49] stefanneculai commented on #2190
@jpgilchrist here is a similar solution I recommend some time ago: https://github.com/froala/wysiwyg-editor/issues/1358#issuecomment-228046725/

[2017-09-13 07:50] alexcrawford commented on #2184
@stefanneculai thanks for fixing - when should we expect a new release?

[2017-09-13 14:01] francisco-oktana opened #2193 "Losing text styling on copy paste from Google Docs"
This behavior used to work and it stopped working, I don't know if Google changed things around on Google Docs or if there is any fix in the pipeline for Froala.

##### Expected behavior.
Mantain pasted styling from GDocs

##### Actual behavior.
Losing text styles on paste(bold, italics, underline, etc)

##### Steps to reproduce the problem.
Have a google doc with bolded text, underlined text, ita

[2017-09-13 16:09] traber333 commented on #1661
Do we know if this is an option yet?

[2017-09-13 16:21] natcohen opened #2194 "Can't delete At.js autocomplete variable with backspace"
Go here: https://codepen.io/anon/pen/wrBaGa write @ and choose one selection.

The chosen selection can't be either selected (with mouse) or deleted with backspace or even be "navigable" with the arrows of the keyboard (and therefore can't be editable). The default behaviour should be this http://ichord.github.io/At.js/

[2017-09-13 18:07] irphilli opened #2195 "Submenus not showing in fullscreen mode"
##### Expected behavior.
Submenus show in fullscreen mode

##### Actual behavior.
Submenus not showing in fullscreen mode.

##### Steps to reproduce the problem.
On https://www.froala.com/wysiwyg-editor go to full screen mode with the demo editor
Click on one of the links (supposed to show link edit menu)

##### OS.
Mac OS

##### Browser.
Chrome Latest

[2017-09-14 06:23] sandeepsukhija commented on #2194
@stefanneculai even we are facing the same issue when froala editor is integrated with the latest At.js ver 1.5.4.

It works well with the version 1.4.0 as integrated and showcased in the https://www.froala.com/wysiwyg-editor/examples/at-js

[2017-09-14 11:59] stefanneculai commented on #2194
@natcohen @sandeepsukhija we've just updated the CodePen. https://codepen.io/Froala/pen/ZeZzEN

[2017-09-14 11:59] #2194 closed

[2017-09-14 11:59] stefanneculai commented on #2193
@florinpopescu please send us the document you're pasting from.

[2017-09-14 12:02] stefanneculai commented on #2184
@alexcrawford yesterday 😄. https://www.froala.com/wysiwyg-editor/changelog

[2017-09-14 12:08] alexcrawford commented on #2184
Good man! 👍

[2017-09-14 12:09] #2195 closed

[2017-09-14 13:16] natcohen commented on #2194
@stefanneculai Thanks! How if we'd like to be able to edit the inserted atwho? In the example here: http://ichord.github.io/At.js/ you can edit the variable. For example, if you write smile and select it, you can still navigate with your arrow inside the variable ('smile') and edit it. In your example, you can't navigate inside the variable.

In addition, when deleting with the backspace, it delet

[2017-09-14 13:20] stefanneculai commented on #2194
@natcohen on the example from ichord, they appear to be using an older version, not the latest one. You should be able to get that behavior with version 1.4.0 or similar.

[2017-09-14 13:24] natcohen commented on #2194
@stefanneculai Ok, thanks for the info! Will stick with the new version...

[2017-09-14 14:05] francisco-oktana commented on #2193
https://docs.google.com/a/salesforce.com/document/d/16mvdmkGhcxCIx_JkzQg3SwXbxR_oZR7HYxdb_dFcsK8/edit?usp=sharing

We're using this document for testing

[2017-09-14 21:19] charleseswine opened #2196 "Mustache tags being moved"
##### Expected behavior.
Mustache tags shouldn't be moved outside of a table tag when wrapping table rows and toggling code view off

##### Actual behavior.
Mustache tags are being moved outside of the table tag when code view is toggled off

##### Steps to reproduce the problem.
In the editor switch to code view and paste this:
[code]
Toggle out of code view and the mustache tags will be moved ou

[2017-09-15 07:03] forum-is commented on #2120
Any progress on this issue? At least one of our customers is also affected by this problem.

[2017-09-16 16:45] marinoboscolo opened #2197 ""The given range isn't in document" error on image align"
I got an error "The given range isn't in document" after a few times I added images and tried to align them left.
This error destroy the active froala instance leaving a confused html code in textarea input (tags not respecting the place order before error).
I tried versions 2.6.4, 2.6.5 and 2.6.6.
Tested in Chrome and Fireforx (both lastest version) on Windows 10.

[2017-09-18 08:06] stefanneculai commented on #2196
@charleseswine the editor is using HTML code for editing. Moustache tags are not recognized by the browser as valid HTML tags and that's why they are being removed.

[2017-09-18 08:06] #2196 closed

[2017-09-18 08:07] stefanneculai commented on #2197
@marinoboscolo would it be possible to make a recording? Thank you.

[2017-09-18 08:07] stefanneculai commented on #2193
@francisco-oktana I just requested access to the document.

[2017-09-18 08:08] stefanneculai commented on #2120
@forum-is at this moment we don't have a way to replicate this issue. It looks like a user restriction set on the Windows machine, however, we couldn't point what that is.

[2017-09-18 08:08] #2120 closed

[2017-09-18 08:52] krych14m opened #2198 "Formatted text and table insertion error"
##### Expected behavior.
Froala with _enter_ set to _ENTER_BR_ should be able to insert table right after text formatting.

##### Actual behavior.
After writting and formating text, inserting a table ends with error: "Uncaught TypeError: Cannot read property 'tagName' of null". There is no problem with ENTER_P.

##### Steps to reproduce the problem.
1. http://plnkr.co/edit/6HDGlpn6nhKTXqDokR2f - e

[2017-09-18 09:36] SwintDC opened #2199 "Regex results in "Invalid regular expression" error in Chrome"
##### Expected behavior.
Regex to work without browser exceptions.

##### Actual behavior.
A browser exception is thrown.

##### Steps to reproduce the problem.
1. build an app with webpack (with UglifyJS plugin) and the froala wysiwyg editor as npm package: "froala-editor": "2.6.6" with uglify options:
[code]
2. Look at the resulting javascript code. The regex `new RegExp('([\uD83C-\uDBFF\uDC00-\

[2017-09-18 09:37] stefanneculai commented on #2199
@SwintDC it has already been fixed in the latest commit. We're going to publish this fix officially in couple of hours.

[2017-09-18 09:37] #2199 closed

[2017-09-18 09:44] SwintDC commented on #2199
@stefanneculai Are you sure the regex I am talking about is also fixed ? Because I don't see any changes in your commit to that regex.

[2017-09-18 09:59] stefanneculai commented on #2199
Yes, that's the one that fixes it: https://github.com/froala/wysiwyg-editor/commit/fed2f09d86f21b9edf47f22c741408aaad5ae900.

[2017-09-18 12:26] marinoboscolo commented on #2197
![pau-froala](https://user-images.githubusercontent.com/5541983/30541657-b7d7a890-9c52-11e7-998c-10cde5db2514.gif)

[2017-09-18 12:27] marinoboscolo commented on #2197
I found another way to get same issue:
![pau-froala-2](https://user-images.githubusercontent.com/5541983/30541861-6ea3f290-9c53-11e7-9733-35d70cd20f37.gif)

[2017-09-18 12:45] stefanneculai commented on #2197
@marinoboscolo are you able to reproduce this on our website?

[2017-09-18 13:22] chrisdeeming opened #2200 "Typing SHIFT + <character> when the caret is just before an inline image will select the image and activate its context toolbar"
##### Expected behavior.
The image should not be selected when the caret is placed before an inline image and something is typed.

##### Actual behavior.
When the caret is placed before an inline image and you press SHIFT+<any character> that character is entered, but the inline image becomes selected and its context menu is opened. No further typing is possible.

##### Steps to reproduce the prob

[2017-09-18 13:58] stefanneculai commented on #1828
Just a quick update here. The last commit is adding image caption feature.

[2017-09-18 13:59] stefanneculai commented on #296
Just a quick update here. The last commit is adding image caption feature.

[2017-09-18 14:14] francisco-oktana commented on #2193
@stefanneculai Just gave you access to the doc, sorry!

[2017-09-18 18:43] thedotedge opened #2201 "Sketchfab embed support similar to youtube/vimeo"
It would be good to have a possibility to paste [Sketchfab](https://help.sketchfab.com/hc/en-us/articles/205642585-Facebook) models in Froala (it's supported on a lot of major services: https://help.sketchfab.com/hc/en-us/articles/203509977-Embed-on-Web-Platforms#networks)

[2017-09-18 18:48] stefanneculai commented on #2201
Great news for you. We just added Embedlly as a plugin to the editor and starting with release 2.6.7 that is going to be possible. Make sure you follow us here for updates: https://www.froala.com/wysiwyg-editor/download#updates.

[2017-09-18 18:48] #2201 closed

[2017-09-18 19:11] #2198 closed

[2017-09-18 19:14] #2200 closed

[2017-09-18 19:21] stefanneculai commented on #2193
@francisco-oktana the formats come from Google Docs in the `style` attribute. By default, the editor is designed to remove the `style` attribute, however, you can change that easily using the [pasteDeniedAttrs](https://www.froala.com/wysiwyg-editor/docs/options#pasteDeniedAttrs) option. Further on, you can also filter which style props you want to keep with the [pasteAllowedStyleProps](https://www

[2017-09-18 19:21] #2193 closed

[2017-09-18 19:24] stefanneculai commented on #2197
I am closing this for now. We would be happy to look over it you could send us a link to a demo page where we can reproduce it. Thank you in advance.

[2017-09-18 19:24] #2197 closed

[2017-09-18 20:43] pkhruasu-ui commented on #1828
Perfect. Thanks so much for letting use know. How do we add it?

[2017-09-19 03:27] piayo commented on #259
default,
[code]
when i get html
[code]
and destroy
[code]

[2017-09-19 07:31] stefanneculai commented on #1828
Just update to version 2.7.0 and you'll find it in the Image Edit popup. There is also a demo on our website: https://www.froala.com/wysiwyg-editor.

[2017-09-19 07:32] stefanneculai commented on #2201
@thedotedge we just published the new version and you can play with it on our website already.

[2017-09-19 09:06] warpdesign opened #2202 "Documentation: little typo"
I'm not sure this is the right place for it, but I think I found a typo in the documentation:

[code]

Since the theme parameter is a string, I guess the example code should be:

[code]

See [documenation](https://www.froala.com/wysiwyg-editor/docs/options#theme).

[2017-09-19 14:56] Rupke75 opened #2203 "Table column resizing causes table to shift outside of viewport"
##### Expected behavior.
The table columns should resize without the table being shifted to the left/right outside of its viewport.

##### Actual behavior.
When I resize columns repeatedly with actual data inside the table gets shifted to the left outside of the viewport.

##### Steps to reproduce the problem.
Go to the table resize example.
Put the exact url of that page into each of the table ce

[2017-09-19 15:17] stefanneculai commented on #2193
It's on our TODO list to make something similar, however, we don't have any ETA for it now.

[2017-09-19 15:42] danpolites opened #2204 "Inserting multiple images causes editor to turn into text area showing HTML"
##### Expected behavior.
Expected to add multiple images, using display inline style, but text editor gets replaced with text area showing HTML.

![image](https://user-images.githubusercontent.com/340402/30601292-969f7e90-9d2f-11e7-8719-bfa9a3fbdcf2.png)

##### Actual behavior.
Adding multiple images and changing image size/display to inline causes froala editor to be replaced with text area popul

[2017-09-19 15:44] stefanneculai commented on #2204
@danpolites your issues are related to your integration, not to the editor. If you have a demo page where we can see this problem, please contact us on https://www.froala.com/wysiwyg-editor/contact. Thank you in advance.

[2017-09-19 15:44] #2204 closed

[2017-09-19 15:47] danpolites commented on #2204
My integration works fine simply by reverting both plugins back to 2.5.1.

[2017-09-19 17:30] danpolites commented on #2204
I get the same behavior when I putting a lot of text in the editor. This issue seems to happen when the editor begins scrolling. The destroy event is also fired.

[2017-09-19 17:45] dimaloop commented on #2204
Same issue detected with 2.6.6

[2017-09-19 18:16] stefanneculai commented on #1055
@Zetal911 @nicooprat @bencallis1 @clechner77 @ianflorentino @raerae13 @msisto @mpatelj @prakash-chokalingam Here is the official way of doing this starting with version 2.7.0: https://www.froala.com/wysiwyg-editor/examples/custom-quick-insert-button.

[2017-09-19 18:16] stefanneculai commented on #900
It got into the editor now: https://www.froala.com/wysiwyg-editor.

[2017-09-19 18:17] stefanneculai commented on #1661
@tomalex0 @traber333 @selfagency It is possible starting with version 2.7.0. See https://www.froala.com/blog/wysiwyg-editor/most-wanted-froala-editor-release.

[2017-09-19 18:20] danpolites commented on #2204
Something in a.FE.MODULES.data is keeping track of 10 of something and destroying the editor. Is it a licensing check or something else?
![image](https://user-images.githubusercontent.com/340402/30608043-1a7b9c84-9d45-11e7-9026-75a3f3fd4934.png)

[2017-09-19 18:37] msisto commented on #1055
Woah!

![Pumped](http://www.reactiongifs.com/r/ffya.gif)

[2017-09-19 18:46] boynet opened #2205 "adding some videos attributes to defaults htmlAllowedAttrs"
there is some safe attributes that are missing from the default lists, that I believe will benefit everyone who using froala:
muted, playsinline, autoplay, poster

about playsinline:

[https://webkit.org/blog/6784/new-video-policies-for-ios/](https://webkit.org/blog/6784/new-video-policies-for-ios/)

[2017-09-20 03:10] largeden opened #2206 "Can not working image caption text in IOS."
##### Steps to reproduce the problem.
- iOS (iphone7)
- Click the caption feature icon in the image.
- Text can not be edited.

##### OS.
IOS

It's a amazing. 👍
This is the plugin I was going to make.

I also have questions about this feature.
Why did not you use `figure`, `figcaption`?
I did not have any problems when I modified the `figure`, `figcaption`.

[2017-09-20 03:16] maverick42 opened #2207 "cut/copy Word with Wingdings font on firefox"
Hi,

When I copy text from word (with Wingdings font) with my FireFox Browser, the result is not good.
With Chrome and IE all works fine !

![image](https://user-images.githubusercontent.com/2311642/30625165-f21048d0-9dc1-11e7-8c3b-a746d8c280a3.png)

![image](https://user-images.githubusercontent.com/2311642/30625213-2f20e2ca-9dc2-11e7-80fe-e4e98a1e6808.png)

![image](https://user-images.githubuse

[2017-09-20 03:24] largeden commented on #2206
The code below is the cause of the problem.

$el.wrap('<figure **contenteditable="false"** class="fr-img-caption ' + $current_image.attr('class') + '" draggable="false"></figure>');

[2017-09-20 04:20] ghedwards commented on #940
Is this now available?

[2017-09-20 05:12] ghedwards opened #2208 "Selecting table cells throwing an error."
When inserting a table using the Quick insert button at the bottom of my document with inline tools the selection of a table cell throws a javascript error ( attached )

<img width="949" alt="screen shot 2017-09-20 at 3 10 11 pm" src="https://user-images.githubusercontent.com/125586/30627831-14e01774-9e16-11e7-8c20-c86d2b08c8d7.png">

[2017-09-20 05:22] ghedwards commented on #2208
There appears to be multiple places where _tableMap() is called without arguments, which returns undefined, which would be ok if it weren't passed to elsewhere which is checking for it's length, and .length on undefined fails.

_cellOrigin passed an undefined map appears to be the origin of the issue.
`// Create a table map.
        var map = _tableMap();

        // Get first and last cell's i an

[2017-09-20 08:02] almarrr opened #2209 "When I full select and edit an element with <h1>, the html tag changes to <p>"
##### Expected behavior.
The selected html tag `<h1>` does not change to `<p>`

##### Actual behavior.
The selected html tag changes from `<h1>` to `<p>`

##### Steps to reproduce the problem.
Full select an element.
Change the content.
Element changes

##### OS.
OSX 10.13

Froala 2.7.0

##### Browser.
Tested in Chrome 60.0.3112.113 and Firefox 55.0.3
![froala issue](https://user-images.githubuser

[2017-09-20 08:07] almarrr commented on #2209
`keepFormatOnDelete: true`, didn't know that existed....

It's "fixed".

[2017-09-20 08:07] #2209 closed

[2017-09-20 08:13] FinesseRus opened #2210 "Unable to edit image caption in Safari"
##### Expected behavior.
It is possible to place the cursor to an image caption by clicking it. And it is possible to edit the image caption without going to the source code.

##### Actual behavior.
The cursor is not placed on an image caption (a click on the image caption does nothing).

##### Steps to reproduce the problem.
1. Make an editor instance with enabled images and image captions. You c

[2017-09-20 08:29] FinesseRus commented on #2210
This is a duplicate for this issue: https://github.com/froala/wysiwyg-editor/issues/2206

[2017-09-20 08:29] #2210 closed

[2017-09-20 08:30] FinesseRus commented on #2206
The bug also occurs in desktop Safari.

##### Expected behavior.
It is possible to place the cursor to an image caption by clicking it. And it is possible to edit the image caption without going to the source code.

##### Actual behavior.
The cursor is not placed on an image caption (a click on the image caption does nothing).

##### Steps to reproduce the problem.
1. Make an editor instance with

[2017-09-20 08:46] FinesseRus opened #2211 "Russian translation"
Here are not translated phrases than I've found. If there are more, please let me know.

* Special Characters — Специальные символы
* Print — Распечатать
* Spell Checker — Проверка правописания
* Help — Помощь
* URL — Адрес («URL» is also OK but less people understand it)
* Loading image — Загрузка изображения
* Advanced Edit — Продвинутое редактирование
* Image Caption — Подпись изображения
* Pas

[2017-09-20 09:20] FinesseRus opened #2212 "Unable to resize table located in a "transformed" element"
##### Expected behavior.
Tables are resizable in a editor instance which is located in a HTML element with `transform` CSS rule. I can move vertical borders in such tables by dragging them.

##### Actual behavior.
Tables are not resizable. Cells are selected when I try to drag a vertical border.

##### Steps to reproduce the problem.
1. Make a HTML element with a `transform` CSS rule. The rule can

[2017-09-20 12:35] pijulius opened #2213 "Image Overlay wrongly positioned on scroll"
##### Expected behavior.
Started with 2.7.0 so expected behavior is to show the overlay (resizable blue rectangle) correctly on the image even if you scroll down just like in ver 2.6.0

##### Actual behavior.
The image overlay is getting placed more and more to the top as you scroll down. Meaning the overlay will be misplaced (above the image itself) or even outside of the viewport if long documen

[2017-09-20 14:43] largeden opened #2214 "Change Size does not work in image caption."
##### Expected behavior.
In image caption mode, use the Change size button to change the image size.

##### Steps to reproduce the problem.
The image size is not changed.

---

The code improvements below fix the issue.
[code]

[2017-09-20 15:00] mikesul opened #2215 "Image replacement by URL causes editor scroll"
When bringing up the image replacement overlay and selecting the URL replacement, the editor will be scrolled to the top (if it's scrollable). You will need to scroll back down to access the overlay.

This can be reproduced here: https://www.froala.com/wysiwyg-editor/examples/predefined-height

Add enough content to make the area scrollable. While scrolled to the bottom, drag an image in. Click "r

[2017-09-20 17:16] stefanneculai commented on #2213
@pijulius could you please make a record of the screen? Thank you in advance.

[2017-09-20 17:20] stefanneculai commented on #2206
Indeed, there appears to be a problem in Safari because of that `contenteditable="false"`.

Now, coming to the `figure` and `figcaption`. We chose not to use them because browsers do not allow using the `figure` tag inside `p` tags. Thus, having images with captions inside `p` tags wouldn't be possible. We are really interested in finding out more details about what you think on this matter as we'

[2017-09-20 17:21] stefanneculai commented on #2208
@ghedwards are you able to replicate this on our website? Could you please send us a recording of that if so?

[2017-09-20 17:23] stefanneculai commented on #2203
@Rupke75 would it be possible to send us a recording as well? Thanks in advance.

[2017-09-20 17:32] pkhruasu-ui commented on #1828
Perfect. Many thanks and great jobs!!

On Tue, Sep 19, 2017 at 12:31 AM, Stefan Neculai <notifications@github.com>
wrote:

[2017-09-20 23:21] ghedwards commented on #2208
the function _tableMap(); returns undefined if $table is not truthy

[2017-09-21 01:09] largeden opened #2216 "[idea] Using embedly event."
Because the embedly plugins does not have height in the div.fr-embedly element, it is difficult to find the cursor position when `commands.undo` `commands.redo` events occur.

I added the code as shown below with reference to embedly docs.
http://docs.embed.ly/docs/cards#listeners

[code]
And,
what about loading the script internally, like the image_aviary plugin?

[2017-09-21 02:39] mukk85 opened #2217 "Pasting from word with track changes includes deleted words"
##### Expected behavior.
The updated document should be pasted

##### Actual behavior.
Deleted words show with a line through and added words show as underlined

##### Steps to reproduce the problem.
Create a word document and enable track changes. Make some changes to the document and copy/paste into editor

##### OS.
Windows

##### Browser.
Chrome latest

[2017-09-21 02:47] FinesseRus commented on #2206
@stefanneculai

Here is my image caption implementation: https://gist.github.com/FinesseRus/7086abcc731a54a159cdf34cdf3e860b. It is a plugin that automatically adds a caption to all images. It takes a text for the caption from the alternate text. The `figure` and `figcaption` are displayed well on a webpage. The only problem is that the resizing doesn't work properly for inline images with a capti

[2017-09-21 02:50] mukk85 opened #2218 "Pasting multi-level lists from word breaks formatting"
##### Expected behavior.
List can be viewed the same as it appears in word.

##### Actual behavior.
![image](https://user-images.githubusercontent.com/1731299/30676774-048ffc76-9eb2-11e7-9c5e-8858463800d7.png)

turns into

1. Heading  1
To get started right away,  just tap any placeholder text (such as this) and start typing.
1. Heading 2
i.To easily apply any text formatting you see in  this outl

[2017-09-21 04:17] mukk85 opened #2219 "Drag and drop copies the text into the new location instead of moving it"
##### Expected behavior.
Text should move to the new location

##### Actual behavior.
Text is copied leaving the text in the original area

##### Steps to reproduce the problem.
Enter 3 lines of text. Write a word on each of the first two lines. Highlight the first word and drag it onto the third line.

##### OS.
Mac OS/Windows

##### Browser.
Chrome 60.0.3112.113

[2017-09-21 04:37] mukk85 commented on #2217
Note: This happens with the Word Paste module enabled and when selecting either clean or keep options

[2017-09-21 16:34] gofursp opened #2220 "how to allow all tag and style froala editor on html mode"
##### Expected behavior.
im try to save some html file to database,
but froala editor always remove some html tag like this

`	<body style="min-height: 500px;">&lt;html&gt;&lt;head&gt;&lt;meta http-equiv=&quot;content-type&quot; content=&quot;text/html; charset=UTF-8&quot;&gt;&lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;&gt;&lt;meta name=&quot;format-

[2017-09-21 16:36] stefanneculai commented on #2216
@largeden I am not sure I understand the problem you're explaining. Could you please detail?

[2017-09-21 16:37] stefanneculai commented on #2217
@mukk85 could you please send us a document sample?

[2017-09-21 16:38] stefanneculai commented on #2220
You should enable `fullPage` option for that.

[2017-09-21 16:38] #2220 closed

[2017-09-21 16:40] stefanneculai commented on #2206
@largeden @FinesseRus I believe you misunderstood my explanation. There are cases when the users have image inside a `P` tag. Something like this: `<p>foo <img> bar</p>`. If we'd wrap the image with a `figure`, the browsers would move it outside of the paragraph.

[2017-09-21 16:41] stefanneculai commented on #2208
@ghedwards I believe the problem is coming from the fact that the table you have there is not HTML valid.

[2017-09-21 16:42] stefanneculai commented on #940
@ghedwards no.

[2017-09-21 16:54] ShanmugaPriyanV opened #2221 "Inconsistent in fonts and alignments of table in mail client"
##### Expected behavior.
The Fonts that are given in Bold appear normal in mail clients. Similarly the table alignment are not appearing as created in Froala.

##### Actual behavior.
Fonts should appear Bold and the table alignment should be consistent created in Froala.

##### Steps to reproduce the problem.
Create a simple template with bold fonts and table containing data.
Set useClasses: false